openapi: 3.1.0
info:
  title: Verizon
  description: The Verizon Edge Discovery Service API can direct your application clients to connect to the optimal service endpoints for your Multi-access Edge Computing (MEC) applications for every session. The Edge Discovery Service takes into account the current location of a device, its IP anchor location, current network traffic and other factors to determine which 5G Edge platform a device should connect to.
  contact: {}
  version: '1.3'
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
- url: https://5gedge.verizon.com/api/mec/eds
  variables: {}
- url: https://imp.thingspace.verizon.com
  variables: {}
- url: https://thingspace.verizon.com/api
  variables: {}
- url: https://thingspace.verizon.com/api/ts/v1
  variables: {}
- url: https://thingspace.verizon.com/api/m2m
  variables: {}
- url: https://thingspace.verizon.com/api/loc/v1
  variables: {}
- url: https://thingspace.verizon.com/api/subsc/v1
  variables: {}
- url: https://thingspace.verizon.com/api/fota/v1
  variables: {}
- url: https://thingspace.verizon.com/api/fota/v2
  variables: {}
- url: https://thingspace.verizon.com/api/fota/v3
  variables: {}
- url: https://5gedge.verizon.com/api/mec
  variables: {}
- url: https://thingspace.verizon.com/api/diagnostics/v1
  variables: {}
- url: https://thingspace.verizon.com/api/cc/v1
  variables: {}
- url: https://thingspace.verizon.com/api/hyper-precise/v1
  variables: {}
- url: https://5gedge.verizon.com/api/mec/services
  variables: {}
- url: https://thingspace.verizon.com/api/m2m/v1/devices
  variables: {}
- url: https://staging.5gedge.verizon.com/api/mec/eds
  variables: {}
- url: https://staging.imp.thingspace.verizon.com
  variables: {}
- url: https://staging.thingspace.verizon.com/api
  variables: {}
- url: https://staging.thingspace.verizon.com/api/ts/v1
  variables: {}
- url: https://staging.thingspace.verizon.com/api/m2m
  variables: {}
- url: https://staging.thingspace.verizon.com/api/loc/v1
  variables: {}
- url: https://staging.thingspace.verizon.com/api/subsc/v1
  variables: {}
- url: https://staging.thingspace.verizon.com/api/fota/v1
  variables: {}
- url: https://staging.thingspace.verizon.com/api/fota/v2
  variables: {}
- url: https://staging.thingspace.verizon.com/api/fota/v3
  variables: {}
- url: https://staging.5gedge.verizon.com/api/mec
  variables: {}
- url: https://staging.thingspace.verizon.com/api/diagnostics/v1
  variables: {}
- url: https://staging.thingspace.verizon.com/api/cc/v1
  variables: {}
- url: https://staging.thingspace.verizon.com/api/hyper-precise/v1
  variables: {}
- url: https://staging.5gedge.verizon.com/api/mec/services
  variables: {}
- url: https://staging.thingspace.verizon.com/api/m2m/v1/devices
  variables: {}
- url: https://devmanagement-staging.5gedge.verizon.com:80/mec/eds
  variables: {}
- url: https://devmanagement-staging.imp.thingspace.verizon.com
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com/api
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com:80/ts/v1
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com:80/m2m
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com:80/loc/v1
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com:80/subsc/v1
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com:80/fota/v1
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com:80/fota/v2
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com:80/fota/v3
  variables: {}
- url: https://devmanagement-staging.5gedge.verizon.com:80/mec
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com:80/diagnostics/v1
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com:80/cc/v1
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com:80/hyper-precise/v1
  variables: {}
- url: https://devmanagement-staging.5gedge.verizon.com:80/mec/services
  variables: {}
- url: https://devmanagement-staging.thingspace.verizon.com/api/m2m/v1/devices
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.5gedge.verizon.com/api/mec/eds
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.imp.thingspace.verizon.com
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/ts/v1
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/m2m
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/loc/v1
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/subsc/v1
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/fota/v1
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/fota/v2
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/fota/v3
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.5gedge.verizon.com/api/mec
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/diagnostics/v1
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/cc/v1
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/hyper-precise/v1
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.5gedge.verizon.com/api/mec/services
  variables: {}
- url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api/m2m/v1/devices
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/mec/eds
  variables: {}
- url: https://mock-staging.thingspace.verizon.com
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/ts/v1
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/m2m
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/loc/v1
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/subsc/v1
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/fota/v1
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/fota/v2
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/fota/v3
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/mec
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/diagnostics/v1
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/cc/v1
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/hyper-precise/v1
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/mec/services
  variables: {}
- url: https://mock-staging.thingspace.verizon.com/api/m2m/v1/devices
  variables: {}
paths:
  /mecplatforms:
    get:
      tags:
      - 5G Edge Platforms
      summary: ListMECPlatforms
      description: Returns a list of optimal MEC Platforms where you can register your deployed application. **Note:** If a query is sent with all of the parameters, it will fail with a "400" error. You can search based on the following parameter combinations - region plus Service Profile ID and subscriber density (density is optional but recommended), region plus UEIdentity(Including UEIdentity Type) or Service Profile ID plus UEIdentity(Including UEIdentity Type).
      operationId: ListMECPlatforms
      parameters:
      - name: region
        in: query
        description: MEC region name. Current valid values are US_WEST_2 and US_EAST_1.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - US_WEST_2
      - name: serviceProfileId
        in: query
        description: Unique identifier of the service profile.
        style: form
        explode: true
        schema:
          maxLength: 36
          pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]{3,36}$
          type: string
      - name: subscriberDensity
        in: query
        description: Minimum number of 4G/5G subscribers per square kilometer.
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          contentEncoding: int32
      - name: UEIdentityType
        in: query
        description: Type of User Equipment identifier used in `UEIdentity`.
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/UserEquipmentIdentityType'
          - description: Type of User Equipment identifier used in `UEIdentity`.
            examples:
            - IPAddress
      - name: UEIdentity
        in: query
        description: The identifier value for User Equipment. The type of identifier is defined by the 'UEIdentityType' parameter. The`IPAddress`format can be IPv4 or IPv6.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2600:1010:b1d0:0000:0000:0000:0000:0012
      responses:
        '200':
          description: MEC platforms matching query parameters.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ListMECPlatformsResult'
                - description: Response to return the optimal 5G Edge platforms for deployment based on a region, service profile of the service that you want to deploy or user equipment.
                  examples:
                  - MECPlatforms:
                    - ern: 5x4VBwmfZbzSL3
                      zone: e5oV52kMGjDLhnJSsLJZL
                      region: US_WEST_2
                      status: unknown
                contentMediaType: application/json
              example:
                MECPlatforms:
                - ern: 5x4VBwmfZbzSL3
                  zone: e5oV52kMGjDLhnJSsLJZL
                  region: US_WEST_2
                  status: unknown
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /regions:
    get:
      tags:
      - 5G Edge Platforms
      summary: ListRegions
      description: List the geographical regions available, based on the user's bearer token. **Note:** Country code, Metropolitan area, Area and Zone are future functionality and will currently return a "null" value.
      operationId: ListRegions
      parameters: []
      responses:
        '200':
          description: List of geographical regions.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ListRegionsResult'
                - description: Response to return an array of all regions in the Verizon 5G Edge service. You can use the region IDs from the response to find optimal Edge platforms or service endpoints.
                  examples:
                  - regions:
                    - regionId: consectetur
                      name: US_EAST_1
                      countryCode: nr
                      metro: e1D
                      area: IdUESF
                contentMediaType: application/json
              example:
                regions:
                - regionId: consectetur
                  name: US_EAST_1
                  countryCode: nr
                  metro: e1D
                  area: IdUESF
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /serviceendpoints:
    get:
      tags:
      - Service Endpoints
      summary: ListOptimalServiceEndpoints
      description: Returns a list of optimal Service Endpoints that client devices can connect to. **Note:** If a query is sent with all of the parameters, it will fail with a "400" error. You can search based on the following parameter combinations - Region plus Service Endpoints IDs and Subscriber density (density is optional but recommended), Region plus Service Endpoints IDs and UEIdentity(Including UEIdentity Type) and Service Endpoints IDs plus UEIdentity(Including UEIdentity Type).
      operationId: ListOptimalServiceEndpoints
      parameters:
      - name: region
        in: query
        description: MEC region name. Current valid values are US_WEST_2 and US_EAST_1.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - US_WEST_2
      - name: subscriberDensity
        in: query
        description: Minimum number of 4G/5G subscribers per square kilometer.
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          contentEncoding: int32
      - name: UEIdentityType
        in: query
        description: Type of User Equipment identifier used in `UEIdentity`.
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/UserEquipmentIdentityType'
          - description: Type of User Equipment identifier used in `UEIdentity`.
            examples:
            - IPAddress
      - name: UEIdentity
        in: query
        description: The identifier value for User Equipment. The type of identifier is defined by the 'UEIdentityType' parameter. The`IPAddress`format can be IPv4 or IPv6.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 2600:1010:b1d0:0000:0000:0000:0000:0012
      - name: serviceEndpointsIds
        in: query
        description: A system-defined string identifier representing one or more registered Service Endpoints.
        style: form
        explode: true
        schema:
          type: string
          examples:
          - 43f3f7bb-d6c5-4bad-b081-9a3a0df2db98
      responses:
        '200':
          description: An array of optimal Service Endpoint IDs for clients to connect to.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ListOptimalServiceEndpointsResult'
                - description: Response on successful retrieval of optimal service endpoints for clients.
                  examples:
                  - serviceEndpoints:
                    - ern: LASVEGAS_NV_WL
                      serviceEndpoint:
                        URI: http://base_path/some_segment/id
                        FQDN: thingtest.verizon.com
                        IPv4Address: 192.168.11.10
                        IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
                        port: 1234
                      applicationServerProviderId: AWS
                      applicationId: IogspaceJan15
                      serviceDescription: ThieIt
                contentMediaType: application/json
              example:
                serviceEndpoints:
                - ern: LASVEGAS_NV_WL
                  serviceEndpoint:
                    URI: http://base_path/some_segment/id
                    FQDN: thingtest.verizon.com
                    IPv4Address: 192.168.11.10
                    IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
                    port: 1234
                  applicationServerProviderId: AWS
                  applicationId: IogspaceJan15
                  serviceDescription: ThieIt
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    post:
      tags:
      - Service Endpoints
      summary: RegisterServiceEndpoints
      description: Register Service Endpoints of a deployed application to specified MEC Platforms.
      operationId: RegisterServiceEndpoints
      parameters: []
      requestBody:
        description: An array of Service Endpoint data for a deployed application. The request body passes all of the needed parameters to create a service endpoint. Parameters will be edited here rather than the **Parameters** section above. The `ern`,`applicationServerProviderId`, `applicationId` and `serviceProfileID` parameters are required. **Note:** Currently, the only valid value for `applicationServerProviderId`is **AWS**. Also, if you do not know one of the optional values (i.e. URI), you can erase the line from the query by back-spacing over it.
        content:
          application/json:
            schema:
              maxItems: 100
              type: array
              items:
                $ref: '#/components/schemas/ResourcesEdgeHostedServiceWithProfileId'
              description: An array of Service Endpoint data for a deployed application. The request body passes all of the needed parameters to create a service endpoint. Parameters will be edited here rather than the **Parameters** section above. The `ern`,`applicationServerProviderId`, `applicationId` and `serviceProfileID` parameters are required. **Note:** Currently, the only valid value for `applicationServerProviderId`is **AWS**. Also, if you do not know one of the optional values (i.e. URI), you can erase the line from the query by back-spacing over it.
              examples:
              - - serviceEndpoint:
                    FQDN: thingtest.verizon.com
                    IPv4Address: 192.168.11.10
                    IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
                    port: 1234
                    URI: http://base_path/some_segment/id
                  applicationId: IogspaceJan15
                  serviceDescription: ThieIt
                  applicationServerProviderId: AWS
                  ern: us-east-1-wl1-atl-wlz-1
                  serviceProfileID: 4054ea9a-593e-4776-b488-697b1bfa4f3b
              contentMediaType: application/json
            example:
            - serviceEndpoint:
                FQDN: thingtest.verizon.com
                IPv4Address: 192.168.11.10
                IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
                port: 1234
                URI: http://base_path/some_segment/id
              applicationId: IogspaceJan15
              serviceDescription: ThieIt
              applicationServerProviderId: AWS
              ern: us-east-1-wl1-atl-wlz-1
              serviceProfileID: 4054ea9a-593e-4776-b488-697b1bfa4f3b
        required: true
      responses:
        '200':
          description: Returns a service endpoints Id.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/RegisterServiceEndpointResult'
                - description: Response to register Service Endpoints of a deployed application to specified Muli-access Edge Compute (MEC) Platforms.
                contentMediaType: application/json
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /serviceendpointsall:
    get:
      tags:
      - Service Endpoints
      summary: ListAllServiceEndpoints
      description: Returns a list of all registered service endpoints.
      operationId: ListAllServiceEndpoints
      parameters: []
      responses:
        '200':
          description: Returns a comma delimited list of all registered service endpoints.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ListAllServiceEndpointsResult'
                - description: Response on successful retrieval of all registered service endpoints.
                  examples:
                  - status: success
                    data:
                    - serviceEndpointsId
                contentMediaType: application/json
              example:
                status: success
                data:
                - serviceEndpointsId
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /serviceendpoints/{serviceEndpointsId}:
    get:
      tags:
      - Service Endpoints
      summary: GetServiceEndpoint
      description: Returns endpoint information for all Service Endpoints registered to a specified serviceEndpointId.
      operationId: GetServiceEndpoint
      parameters:
      - name: serviceEndpointsId
        in: path
        description: A system-defined string identifier representing one or more registered Service Endpoints.
        required: true
        style: simple
        schema:
          type: string
          examples:
          - 43f3f7bb-d6c5-4bad-b081-9a3a0df2db98
      responses:
        '200':
          description: Registered service endpoint information for a 5G Edge service.
          headers: {}
          content:
            application/json:
              schema:
                maxItems: 100
                type: array
                items:
                  $ref: '#/components/schemas/ResourcesEdgeHostedServiceWithProfileId'
                description: Registered service endpoint information for a 5G Edge service.
                examples:
                - - serviceEndpoint:
                      FQDN: thingtest.verizon.com
                      IPv4Address: 192.168.11.10
                      IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
                      port: 1234
                      URI: http://base_path/some_segment/id
                    applicationId: IogspaceJan15
                    serviceDescription: ThieIt
                    applicationServerProviderId: AWS
                    ern: us-east-1-wl1-atl-wlz-1
                    serviceProfileID: 4054ea9a-593e-4776-b488-697b1bfa4f3b
                contentMediaType: application/json
              example:
              - serviceEndpoint:
                  FQDN: thingtest.verizon.com
                  IPv4Address: 192.168.11.10
                  IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
                  port: 1234
                  URI: http://base_path/some_segment/id
                applicationId: IogspaceJan15
                serviceDescription: ThieIt
                applicationServerProviderId: AWS
                ern: us-east-1-wl1-atl-wlz-1
                serviceProfileID: 4054ea9a-593e-4776-b488-697b1bfa4f3b
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    put:
      tags:
      - Service Endpoints
      summary: UpdateServiceEndpoint
      description: Update registered Service Endpoint information.
      operationId: UpdateServiceEndpoint
      parameters:
      - name: serviceEndpointsId
        in: path
        description: A system-defined string identifier representing one or more registered Service Endpoints.
        required: true
        style: simple
        schema:
          type: string
          examples:
          - 43f3f7bb-d6c5-4bad-b081-9a3a0df2db98
      requestBody:
        description: Data needed for Service Endpoint information. The request body passes the rest of the needed parameters to create a service endpoint. Parameters other than `serviceEndpointsId` will be edited here rather than the **Parameters** section above. The `ern`,`applicationServerProviderId` and `applicationId` parameters are required. **Note:** Currently, the only valid value for `applicationServerProviderId`is **AWS**.
        content:
          application/json:
            schema:
              maxItems: 100
              type: array
              items:
                $ref: '#/components/schemas/ResourcesEdgeHostedServiceWithProfileId'
              description: Data needed for Service Endpoint information. The request body passes the rest of the needed parameters to create a service endpoint. Parameters other than `serviceEndpointsId` will be edited here rather than the **Parameters** section above. The `ern`,`applicationServerProviderId` and `applicationId` parameters are required. **Note:** Currently, the only valid value for `applicationServerProviderId`is **AWS**.
              examples:
              - - serviceEndpoint:
                    FQDN: thingtest.verizon.com
                    IPv4Address: 192.168.11.10
                    IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
                    port: 1234
                    URI: http://base_path/some_segment/id
                  applicationId: IogspaceJan15
                  serviceDescription: ThieIt
                  applicationServerProviderId: AWS
                  ern: us-east-1-wl1-atl-wlz-1
                  serviceProfileID: 4054ea9a-593e-4776-b488-697b1bfa4f3b
              contentMediaType: application/json
            example:
            - serviceEndpoint:
                FQDN: thingtest.verizon.com
                IPv4Address: 192.168.11.10
                IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
                port: 1234
                URI: http://base_path/some_segment/id
              applicationId: IogspaceJan15
              serviceDescription: ThieIt
              applicationServerProviderId: AWS
              ern: us-east-1-wl1-atl-wlz-1
              serviceProfileID: 4054ea9a-593e-4776-b488-697b1bfa4f3b
        required: true
      responses:
        '200':
          description: Update registered Service Endpoint information.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/UpdateServiceEndpointResult'
                - description: Response to update registered Service Endpoint information.
                  examples:
                  - status: Success
                    message: EdgeAppServices are updated
                contentMediaType: application/json
              example:
                status: Success
                message: EdgeAppServices are updated
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    delete:
      tags:
      - Service Endpoints
      summary: DeregisterServiceEndpoint
      description: Deregister an application's Service Endpoint from the MEC Platform(s).
      operationId: DeregisterServiceEndpoint
      parameters:
      - name: serviceEndpointsId
        in: path
        description: A system-defined string identifier representing one or more registered Service Endpoints.
        required: true
        style: simple
        schema:
          type: string
          examples:
          - 43f3f7bb-d6c5-4bad-b081-9a3a0df2db98
      responses:
        '200':
          description: Service endpoint deleted.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeregisterServiceEndpointResult'
                - description: Response to deregister an application's Service Endpoint from one or more Multi-access Edge Compute (MEC) Platforms.
                  examples:
                  - status: Success
                    message: EdgeAppServicesID Deleted
                contentMediaType: application/json
              example:
                status: Success
                message: EdgeAppServicesID Deleted
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /serviceprofiles:
    post:
      tags:
      - Service Profiles
      summary: CreateServiceProfile
      description: Creates a service profile that describes the resource requirements of a service.
      operationId: CreateServiceProfile
      parameters: []
      requestBody:
        description: The request body passes all of the needed parameters to create a service profile. Parameters will be edited here rather than the **Parameters** section above. The `maxLatencyMs` and `clientType` parameters are both required in the request body. **Note:** The `maxLatencyMs` value must be submitted in multiples of 5. Additionally, "GPU" is future functionality and the values are not captured.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ResourcesServiceProfile'
              - description: The request body passes all of the needed parameters to create a service profile. Parameters will be edited here rather than the **Parameters** section above. The `maxLatencyMs` and `clientType` parameters are both required in the request body. **Note:** The `maxLatencyMs` value must be submitted in multiples of 5. Additionally, "GPU" is future functionality and the values are not captured.
                examples:
                - clientType: V2X
                  ecspFilter: Verizon
                  clientSchedule: time windows
                  clientServiceArea: BAY AREA
                  networkResources:
                    minBandwidthKbits: 1
                    serviceContinuitySupport: true
                    maxRequestRate: 15
                    maxLatencyMs: 20
                    minAvailability: 1
                  computeResources:
                    GPU:
                      minCoreClockMHz: 1
                      minMemoryClockMHz: 35740
                      minBandwidthGBs: 588
                      minTFLOPS: 33
                    minRAMGB: 1
                    minStorageGB: 1
              contentMediaType: application/json
            example:
              clientType: V2X
              ecspFilter: Verizon
              clientSchedule: time windows
              clientServiceArea: BAY AREA
              networkResources:
                minBandwidthKbits: 1
                serviceContinuitySupport: true
                maxRequestRate: 15
                maxLatencyMs: 20
                minAvailability: 1
              computeResources:
                GPU:
                  minCoreClockMHz: 1
                  minMemoryClockMHz: 35740
                  minBandwidthGBs: 588
                  minTFLOPS: 33
                minRAMGB: 1
                minStorageGB: 1
        required: true
      responses:
        '200':
          description: Service profile ID.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CreateServiceProfileResult'
                - description: A successful request returns a serviceProfileId that you can use in subsequent requests.
                contentMediaType: application/json
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    get:
      tags:
      - Service Profiles
      summary: ListServiceProfiles
      description: List all service profiles registered under your API key.
      operationId: ListServiceProfiles
      parameters: []
      responses:
        '200':
          description: A comma delimited list of all the service profiles registered under your API key.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ListServiceProfilesResult'
                - description: Response on successful retrieval of service profiles.
                  examples:
                  - status: Success
                    data:
                    - serviceProfileId
                contentMediaType: application/json
              example:
                status: Success
                data:
                - serviceProfileId
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /serviceprofiles/{serviceProfileId}:
    get:
      tags:
      - Service Profiles
      summary: GetServiceProfile
      description: Returns a specified service profile.
      operationId: GetServiceProfile
      parameters:
      - name: serviceProfileId
        in: path
        description: ''
        required: true
        style: simple
        schema:
          maxLength: 36
          pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]{3,36}$
          type: string
      responses:
        '200':
          description: Requested service profile.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ResourcesServiceProfileWithId'
                - description: Information about the resource requirements and service characteristics of an edge application. Includes serviceProfileId. Used when retrieving a service profile.
                  examples:
                  - serviceProfileId: 4054ea9a-593e-4776-b488-697b1bfa4f3b
                    ecspFilter: Verizon
                    clientSchedule: time windows
                    clientServiceArea: BAY AREA
                    clientType: V2X
                    networkResources:
                      minBandwidthKbits: 1
                      serviceContinuitySupport: true
                      maxRequestRate: 15
                      maxLatencyMs: 20
                      minAvailability: 1
                    computeResources:
                      GPU:
                        minCoreClockMHz: 1
                        minMemoryClockMHz: 35740
                        minBandwidthGBs: 588
                        minTFLOPS: 33
                      minRAMGB: 1
                      minStorageGB: 1
                contentMediaType: application/json
              example:
                serviceProfileId: 4054ea9a-593e-4776-b488-697b1bfa4f3b
                ecspFilter: Verizon
                clientSchedule: time windows
                clientServiceArea: BAY AREA
                clientType: V2X
                networkResources:
                  minBandwidthKbits: 1
                  serviceContinuitySupport: true
                  maxRequestRate: 15
                  maxLatencyMs: 20
                  minAvailability: 1
                computeResources:
                  GPU:
                    minCoreClockMHz: 1
                    minMemoryClockMHz: 35740
                    minBandwidthGBs: 588
                    minTFLOPS: 33
                  minRAMGB: 1
                  minStorageGB: 1
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    put:
      tags:
      - Service Profiles
      summary: UpdateServiceProfile
      description: Update the definition of a Service Profile.
      operationId: UpdateServiceProfile
      parameters:
      - name: serviceProfileId
        in: path
        description: ''
        required: true
        style: simple
        schema:
          maxLength: 36
          pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]{3,36}$
          type: string
      requestBody:
        description: The request body passes the rest of the needed parameters to create a service profile. The `maxLatencyMs` and `clientType` parameters are both required in the request body. **Note:** The `maxLatencyMs` value must be submitted in multiples of 5. Additionally, "GPU" is future functionality and the values are not captured. Default values to use are shown.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ResourcesServiceProfile'
              - description: The request body passes the rest of the needed parameters to create a service profile. The `maxLatencyMs` and `clientType` parameters are both required in the request body. **Note:** The `maxLatencyMs` value must be submitted in multiples of 5. Additionally, "GPU" is future functionality and the values are not captured. Default values to use are shown.
                examples:
                - clientType: V2X
                  ecspFilter: Verizon
                  clientSchedule: time windows
                  clientServiceArea: BAY AREA
                  networkResources:
                    minBandwidthKbits: 1
                    serviceContinuitySupport: true
                    maxRequestRate: 15
                    maxLatencyMs: 20
                    minAvailability: 1
                  computeResources:
                    GPU:
                      minCoreClockMHz: 1
                    minRAMGB: 1
                    minStorageGB: 1
              contentMediaType: application/json
            example:
              clientType: V2X
              ecspFilter: Verizon
              clientSchedule: time windows
              clientServiceArea: BAY AREA
              networkResources:
                minBandwidthKbits: 1
                serviceContinuitySupport: true
                maxRequestRate: 15
                maxLatencyMs: 20
                minAvailability: 1
              computeResources:
                GPU:
                  minCoreClockMHz: 1
                minRAMGB: 1
                minStorageGB: 1
        required: true
      responses:
        '200':
          description: Update a service profile.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/UpdateServiceProfileResult'
                - description: Response on successful update of service profile.
                  examples:
                  - status: Success
                    message: Service Profile Updated
                contentMediaType: application/json
              example:
                status: Success
                message: Service Profile Updated
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    delete:
      tags:
      - Service Profiles
      summary: DeleteServiceProfile
      description: Delete Service Profile based on unique service profile ID.
      operationId: DeleteServiceProfile
      parameters:
      - name: serviceProfileId
        in: path
        description: ''
        required: true
        style: simple
        schema:
          maxLength: 36
          pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]{3,36}$
          type: string
      responses:
        '200':
          description: Delete a service profile.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeleteServiceProfileResult'
                - description: Response on successful deletion of service profile.
                  examples:
                  - status: Success
                    message: Service Profile Deleted
                contentMediaType: application/json
              example:
                status: Success
                message: Service Profile Deleted
        '400':
          description: HTTP 400 Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        '401':
          description: HTTP 401 Unauthorized.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
        default:
          description: HTTP 500 Internal Server Error.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EdgeDiscoveryResult'
                - description: Base type for all errors.
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /m2m/v1/devices/actions/activate:
    post:
      tags:
      - Device Management
      summary: ActivateServiceForDevices
      description: If the devices do not already exist in the account, this API resource adds them before activation.
      operationId: ActivateServiceForDevices
      parameters: []
      requestBody:
        description: Request for activating a service on devices.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CarrierActivateRequest'
              - description: Request for activating a service on devices.
                examples:
                - devices:
                  - deviceIds:
                    - kind: imei
                      id: '990013907835573'
                    - kind: iccid
                      id: '89141390780800784259'
                  - deviceIds:
                    - kind: imei
                      id: '990013907884259'
                    - kind: iccid
                      id: '89141390780800735573'
                  accountName: 0868924207-00001
                  servicePlan: m2m_4G
                  mdnZipCode: '98801'
                  customFields:
                  - key: CustomField2
                    value: SuperVend
                  groupName: 4G West
                  primaryPlaceOfUse:
                    customerName:
                      title: President
                      firstName: Zaffod
                      lastName: Beeblebrox
                    address:
                      addressLine1: 1600 Pennsylvania Ave NW
                      city: Washington
                      state: DC
                      zip: '20500'
                      country: USA
              contentMediaType: application/json
            example:
              devices:
              - deviceIds:
                - kind: imei
                  id: '990013907835573'
                - kind: iccid
                  id: '89141390780800784259'
              - deviceIds:
                - kind: imei
                  id: '990013907884259'
                - kind: iccid
                  id: '89141390780800735573'
              accountName: 0868924207-00001
              servicePlan: m2m_4G
              mdnZipCode: '98801'
              customFields:
              - key: CustomField2
                value: SuperVend
              groupName: 4G West
              primaryPlaceOfUse:
                customerName:
                  title: President
                  firstName: Zaffod
                  lastName: Beeblebrox
                address:
                  addressLine1: 1600 Pennsylvania Ave NW
                  city: Washington
                  state: DC
                  zip: '20500'
                  country: USA
        required: true
      responses:
        '200':
          description: Request ID received on a successful response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceManagementResult'
                - description: Response to activate service for one or more devices so that they can send and receive data.
                  examples:
                  - requestId: 595f5c44-c31c-4552-8670-020a1545a84d
                contentMediaType: application/json
              example:
                requestId: 595f5c44-c31c-4552-8670-020a1545a84d
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/add:
    post:
      tags:
      - Device Management
      summary: AddDevices
      description: Use this API if you want to manage some device settings before you are ready to activate service for the devices.
      operationId: AddDevices
      parameters: []
      requestBody:
        description: Devices to add.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddDevicesRequest'
              - description: Devices to add.
                examples:
                - accountName: 0868924207-00001
                  customFields:
                  - key: CustomField2
                    value: SuperVend
                  devicesToAdd:
                  - deviceIds:
                    - kind: imei
                      id: '990013907835573'
                    - kind: iccid
                      id: '89141390780800784259'
                  - deviceIds:
                    - kind: imei
                      id: '990013907884259'
                    - kind: iccid
                      id: '89141390780800735573'
                  groupName: West Region
                  state: preactive
              contentMediaType: application/json
            example:
              accountName: 0868924207-00001
              customFields:
              - key: CustomField2
                value: SuperVend
              devicesToAdd:
              - deviceIds:
                - kind: imei
                  id: '990013907835573'
                - kind: iccid
                  id: '89141390780800784259'
              - deviceIds:
                - kind: imei
                  id: '990013907884259'
                - kind: iccid
                  id: '89141390780800735573'
              groupName: West Region
              state: preactive
        required: true
      responses:
        '200':
          description: For each device in the request, contains device identifiers and a success or failure response.
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddDevicesResult'
                description: Status of request to add each device.
                examples:
                - - deviceIds:
                    - id: '89148000000800784259'
                      kind: iccid
                    response: Success
                contentMediaType: application/json
              example:
              - deviceIds:
                - id: '89148000000800784259'
                  kind: iccid
                response: Success
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/contactinfo:
    put:
      tags:
      - Device Management
      summary: UpdateDevicesContactInformation
      description: Sends a CarrierService callback message for each device in the request when the contact information has been changed, or if there was a problem and the change could not be completed.
      operationId: UpdateDevicesContactInformation
      parameters: []
      requestBody:
        description: Request to update contact information for devices.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ContactInfoUpdateRequest'
              - description: Request to update contact information for devices.
                examples:
                - devices:
                  - deviceIds:
                    - kind: ESN
                      id: '19110173057'
                    - kind: ESN
                      id: '19110173057'
                  accountName: 0212345678-00001
                  primaryPlaceOfUse:
                    address:
                      addressLine1: 9868 Scranton Rd
                      addressLine2: Suite A
                      city: San Diego
                      state: CA
                      country: USA
                      zip: '92121'
                      zip4: '0001'
                      phone: '1234567890'
                      phoneType: H
                      emailAddress: zaffod@theinternet.com
                    customerName:
                      firstName: Zaffod
                      lastName: Beeblebrox
                      middleName: P
                      title: President
                      suffix: I
              contentMediaType: application/json
            example:
              devices:
              - deviceIds:
                - kind: ESN
                  id: '19110173057'
                - kind: ESN
                  id: '19110173057'
              accountName: 0212345678-00001
              primaryPlaceOfUse:
                address:
                  addressLine1: 9868 Scranton Rd
                  addressLine2: Suite A
                  city: San Diego
                  state: CA
                  country: USA
                  zip: '92121'
                  zip4: '0001'
                  phone: '1234567890'
                  phoneType: H
                  emailAddress: zaffod@theinternet.com
                customerName:
                  firstName: Zaffod
                  lastName: Beeblebrox
                  middleName: P
                  title: President
                  suffix: I
        required: true
      responses:
        '200':
          description: Request ID returned in a success response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceManagementResult'
                - description: Response to activate service for one or more devices so that they can send and receive data.
                  examples:
                  - requestId: 24da9f9a-d110-4a54-86b4-93fb76aab83c
                contentMediaType: application/json
              example:
                requestId: 24da9f9a-d110-4a54-86b4-93fb76aab83c
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/customFields:
    put:
      tags:
      - Device Management
      summary: UpdateDevicesCustomFields
      description: Sends a CarrierService callback message for each device in the request when the custom fields have been changed, or if there was a problem and the change could not be completed.
      operationId: UpdateDevicesCustomFields
      parameters: []
      requestBody:
        description: Request to update custom field of devices.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CustomFieldsUpdateRequest'
              - description: Request to update custom field of devices.
                examples:
                - devices:
                  - deviceIds:
                    - id: '89148000000800139708'
                      kind: iccid
                  customFieldsToUpdate:
                  - key: CustomField1
                    value: West Region
                  - key: CustomField2
                    value: Distribution
              contentMediaType: application/json
            example:
              devices:
              - deviceIds:
                - id: '89148000000800139708'
                  kind: iccid
              customFieldsToUpdate:
              - key: CustomField1
                value: West Region
              - key: CustomField2
                value: Distribution
        required: true
      responses:
        '200':
          description: Request ID received on a successful response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceManagementResult'
                - description: Response to activate service for one or more devices so that they can send and receive data.
                  examples:
                  - requestId: 595f5c44-c31c-4552-8670-020a1545a84d
                contentMediaType: application/json
              example:
                requestId: 595f5c44-c31c-4552-8670-020a1545a84d
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/deactivate:
    post:
      tags:
      - Device Management
      summary: DeactivateServiceForDevices
      description: Deactivating service for a device may result in an early termination fee (ETF) being charged to the account, depending on the terms of the contract with Verizon. If your contract allows ETF waivers and if you want to use one for a particular deactivation, set the etfWaiver value to True.
      operationId: DeactivateServiceForDevices
      parameters: []
      requestBody:
        description: Request to deactivate service for one or more devices.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CarrierDeactivateRequest'
              - description: Request to deactivate service for one or more devices.
                examples:
                - devices:
                  - deviceIds:
                    - id: 20-digit ICCID
                      kind: iccid
                  reasonCode: FF
                  etfWaiver: true
              contentMediaType: application/json
            example:
              devices:
              - deviceIds:
                - id: 20-digit ICCID
                  kind: iccid
              reasonCode: FF
              etfWaiver: true
        required: true
      responses:
        '200':
          description: Request ID received on a successful response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceManagementResult'
                - description: Response to activate service for one or more devices so that they can send and receive data.
                  examples:
                  - requestId: 595f5c44-c31c-4552-8670-020a1545a84d
                contentMediaType: application/json
              example:
                requestId: 595f5c44-c31c-4552-8670-020a1545a84d
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/delete:
    post:
      tags:
      - Device Management
      summary: DeleteDeactivatedDevices
      description: Use this API to remove unneeded devices from an account.
      operationId: DeleteDeactivatedDevices
      parameters: []
      requestBody:
        description: Devices to delete.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DeleteDevicesRequest'
              - description: Devices to delete.
                examples:
                - devicesToDelete:
                  - deviceIds:
                    - id: '09005470263'
                      kind: esn
                  - deviceIds:
                    - id: '85000022411113460014'
                      kind: iccid
                  - deviceIds:
                    - id: '85000022412313460016'
                      kind: iccid
              contentMediaType: application/json
            example:
              devicesToDelete:
              - deviceIds:
                - id: '09005470263'
                  kind: esn
              - deviceIds:
                - id: '85000022411113460014'
                  kind: iccid
              - deviceIds:
                - id: '85000022412313460016'
                  kind: iccid
        required: true
      responses:
        '200':
          description: For each device in the request, contains device identifiers and a success or failure response.
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeleteDevicesResult'
                description: Status of devices removal.
                examples:
                - - deviceIds:
                      id: '09005470263'
                      kind: esn
                    status: Success
                  - deviceIds:
                      id: '85000022411113460014'
                      kind: iccid
                    status: Success
                  - deviceIds:
                    - id: '85000022412313460016'
                      kind: iccid
                    - id: '09005470263'
                      kind: esn
                    status: Failed
                    message: The device is not in deactive state.
                contentMediaType: application/json
              example:
              - deviceIds:
                  id: '09005470263'
                  kind: esn
                status: Success
              - deviceIds:
                  id: '85000022411113460014'
                  kind: iccid
                status: Success
              - deviceIds:
                - id: '85000022412313460016'
                  kind: iccid
                - id: '09005470263'
                  kind: esn
                status: Failed
                message: The device is not in deactive state.
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/list:
    post:
      tags:
      - Device Management
      summary: ListDevicesInformation
      description: Returns information about a single device or information about all devices that match the given parameters. Returned information includes device provisioning state, service plan, MDN, MIN, and IP address.
      operationId: ListDevicesInformation
      parameters: []
      requestBody:
        description: Device information query.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AccountDeviceListRequest'
              - description: Device information query.
                examples:
                - '{"deviceId":{"id":"20-digit ICCID","kind":"iccid"}}'
                - '{"accountName":"0786890242-00001","filter":{"deviceIdentifierFilters":[{"kind":"iccid","contains":"4259"}]}}'
                - '{"accountName":"0786890242-00001","filter":{"deviceIdentifierFilters":[{"kind":"iccid","contains":"4259"}]}}'
              contentMediaType: application/json
            examples:
              single-device:
                value:
                  deviceId:
                    id: 20-digit ICCID
                    kind: iccid
              devices-containing-specified-string:
                value:
                  accountName: 0786890242-00001
                  filter:
                    deviceIdentifierFilters:
                    - kind: iccid
                      contains: '4259'
              specific-service-plan-and-sort-devices:
                value:
                  accountName: 0786890242-00001
                  filter:
                    deviceIdentifierFilters:
                    - kind: iccid
                      contains: '4259'
        required: true
      responses:
        '200':
          description: List of devices that match the request parameters, ordered by device creation date, oldest first.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AccountDeviceListResult'
                - description: Response for a request to list down account devices.
                  examples:
                  - hasMoreData: false
                    devices:
                    - accountName: 0000123456-00001
                      billingCycleEndDate: 2020-05-09T20:00:00-04:00
                      carrierInformations:
                      - carrierName: Verizon Wireless
                        servicePlan: m2m4G
                        state: active
                      connected: false
                      createdAt: 2019-08-07T10:42:15-04:00
                      deviceIds:
                      - id: 10-digit MDN
                        kind: mdn
                      - id: 15-digit IMEI
                        kind: imei
                      groupNames:
                      - southwest
                      ipAddress: 0.0.0.0
                      lastActivationBy: Joe Q Public
                      lastActivationDate: 2019-08-07T10:42:34-04:00
                      lastConnectionDate: 2020-03-12T04:23:37-04:00
                contentMediaType: application/json
              example:
                hasMoreData: false
                devices:
                - accountName: 0000123456-00001
                  billingCycleEndDate: 2020-05-09T20:00:00-04:00
                  carrierInformations:
                  - carrierName: Verizon Wireless
                    servicePlan: m2m4G
                    state: active
                  connected: false
                  createdAt: 2019-08-07T10:42:15-04:00
                  deviceIds:
                  - id: 10-digit MDN
                    kind: mdn
                  - id: 15-digit IMEI
                    kind: imei
                  groupNames:
                  - southwest
                  ipAddress: 0.0.0.0
                  lastActivationBy: Joe Q Public
                  lastActivationDate: 2019-08-07T10:42:34-04:00
                  lastConnectionDate: 2020-03-12T04:23:37-04:00
        '202':
          description: List of devices that match the request parameters, ordered by device creation date, oldest first. Additional devices remain.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AccountDeviceListResult'
                - description: Response for a request to list down account devices.
                  examples:
                  - hasMoreData: false
                    devices:
                    - accountName: 0000123456-00001
                      billingCycleEndDate: 2020-05-09T20:00:00-04:00
                      carrierInformations:
                      - carrierName: Verizon Wireless
                        servicePlan: m2m4G
                        state: active
                      connected: false
                      createdAt: 2019-08-07T10:42:15-04:00
                      deviceIds:
                      - id: 10-digit MDN
                        kind: mdn
                      - id: 15-digit IMEI
                        kind: imei
                      groupNames:
                      - southwest
                      ipAddress: 0.0.0.0
                      lastActivationBy: Joe Q Public
                      lastActivationDate: 2019-08-07T10:42:34-04:00
                      lastConnectionDate: 2020-03-12T04:23:37-04:00
                contentMediaType: application/json
              example:
                hasMoreData: false
                devices:
                - accountName: 0000123456-00001
                  billingCycleEndDate: 2020-05-09T20:00:00-04:00
                  carrierInformations:
                  - carrierName: Verizon Wireless
                    servicePlan: m2m4G
                    state: active
                  connected: false
                  createdAt: 2019-08-07T10:42:15-04:00
                  deviceIds:
                  - id: 10-digit MDN
                    kind: mdn
                  - id: 15-digit IMEI
                    kind: imei
                  groupNames:
                  - southwest
                  ipAddress: 0.0.0.0
                  lastActivationBy: Joe Q Public
                  lastActivationDate: 2019-08-07T10:42:34-04:00
                  lastConnectionDate: 2020-03-12T04:23:37-04:00
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/list/imeiiccidmismatch:
    post:
      tags:
      - Device Management
      summary: ListDevicesWithImeiIccidMismatch
      description: Returns a list of all 4G devices with an ICCID (SIM) that was not activated with the expected IMEI (hardware) during a specified time frame.
      operationId: ListDevicesWithImeiIccidMismatch
      parameters: []
      requestBody:
        description: Request to list devices with mismatched IMEIs and ICCIDs.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DeviceMismatchListRequest'
              - description: Request to list devices with mismatched IMEIs and ICCIDs.
                examples:
                - accountName: 0342077109-00001
                  devices:
                  - deviceIds:
                    - kind: ICCID
                      id: '8914800000080078'
                    - kind: MDN
                      id: '5096300587'
                  filter:
                    earliest: 2020-05-01T15:00:00-08:00Z
                    latest: 2020-07-30T15:00:00-08:00Z
              contentMediaType: application/json
            example:
              accountName: 0342077109-00001
              devices:
              - deviceIds:
                - kind: ICCID
                  id: '8914800000080078'
                - kind: MDN
                  id: '5096300587'
              filter:
                earliest: 2020-05-01T15:00:00-08:00Z
                latest: 2020-07-30T15:00:00-08:00Z
        required: true
      responses:
        '200':
          description: List of devices that have mismatched IMEIs and ICCIDs.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceMismatchListResult'
                - description: Response to list of all 4G devices with an ICCID (SIM) that was not activated with the expected IMEI (hardware) during a specified time frame.
                  examples:
                  - devices:
                    - accountName: 0212398765-00001
                      mdn: '5096300587'
                      activationDate: 2011-01-21T10:55:27-08:00
                      iccid: '89148000000800784259'
                      preImei: '990003420535573'
                      postImei: '987603420573553'
                      simOtaDate: 2017-12-01T16:00:00-08:00
                contentMediaType: application/json
              example:
                devices:
                - accountName: 0212398765-00001
                  mdn: '5096300587'
                  activationDate: 2011-01-21T10:55:27-08:00
                  iccid: '89148000000800784259'
                  preImei: '990003420535573'
                  postImei: '987603420573553'
                  simOtaDate: 2017-12-01T16:00:00-08:00
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/move:
    put:
      tags:
      - Device Management
      summary: MoveDevicesWithinAccountsOfProfile
      description: Move active devices from one billing account to another within a customer profile.
      operationId: MoveDevicesWithinAccountsOfProfile
      parameters: []
      requestBody:
        description: Request to move devices between accounts.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/MoveDeviceRequest'
              - description: Request to move devices between accounts.
                examples:
                - '{"devices":[{"deviceIds":[{"kind":"ESN","id":"19110173057"}]}],"accountName":"0212345678-00001","servicePlan":"M2M5GB"}'
                - '{"filter":{"groupName":"Short-Haul Trucks","customFields":[{"key":"CustomField1","value":"East Region Trucks"}]},"accountName":"0212345678-00001","servicePlan":"M2M5GB"}'
              contentMediaType: application/json
            examples:
              single-device:
                value:
                  devices:
                  - deviceIds:
                    - kind: ESN
                      id: '19110173057'
                  accountName: 0212345678-00001
                  servicePlan: M2M5GB
              devices-with-custom-field:
                value:
                  filter:
                    groupName: Short-Haul Trucks
                    customFields:
                    - key: CustomField1
                      value: East Region Trucks
                  accountName: 0212345678-00001
                  servicePlan: M2M5GB
        required: true
      responses:
        '200':
          description: Request ID received on a successful response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceManagementResult'
                - description: Response to activate service for one or more devices so that they can send and receive data.
                  examples:
                  - requestId: ec682a8b-e288-4806-934d-24e7a59ed889
                contentMediaType: application/json
              example:
                requestId: ec682a8b-e288-4806-934d-24e7a59ed889
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/gotostate:
    put:
      tags:
      - Device Management
      summary: UpdateDevicesState
      description: Changes the provisioning state of one or more devices to a specified customer-defined service and state.
      operationId: UpdateDevicesState
      parameters: []
      requestBody:
        description: Request to change device state to one defined by the user.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GoToStateRequest'
              - description: Request to change device state to one defined by the user.
                examples:
                - devices:
                  - deviceIds:
                    - kind: imei
                      id: '990013907835573'
                    - kind: iccid
                      id: '89141390780800784259'
                  - deviceIds:
                    - kind: imei
                      id: '990013907884259'
                    - kind: iccid
                      id: '89141390780800735573'
                  serviceName: My Service
                  stateName: My State
                  servicePlan: '87641'
                  mdnZipCode: '94203'
                  groupName: 4G West
                  publicIpRestriction: unrestricted
                  primaryPlaceOfUse:
                    customerName:
                      title: President
                      firstName: Zaffod
                      lastName: Beeblebrox
                    address:
                      addressLine1: 1600 Pennsylvania Ave NW
                      city: Washington
                      state: DC
                      zip: '20500'
                      country: USA
              contentMediaType: application/json
            example:
              devices:
              - deviceIds:
                - kind: imei
                  id: '990013907835573'
                - kind: iccid
                  id: '89141390780800784259'
              - deviceIds:
                - kind: imei
                  id: '990013907884259'
                - kind: iccid
                  id: '89141390780800735573'
              serviceName: My Service
              stateName: My State
              servicePlan: '87641'
              mdnZipCode: '94203'
              groupName: 4G West
              publicIpRestriction: unrestricted
              primaryPlaceOfUse:
                customerName:
                  title: President
                  firstName: Zaffod
                  lastName: Beeblebrox
                address:
                  addressLine1: 1600 Pennsylvania Ave NW
                  city: Washington
                  state: DC
                  zip: '20500'
                  country: USA
        required: true
      responses:
        '200':
          description: Request ID received on a successful response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceManagementResult'
                - description: Response to activate service for one or more devices so that they can send and receive data.
                  examples:
                  - requestId: 595f5c44-c31c-4552-8670-020a1545a84d
                contentMediaType: application/json
              example:
                requestId: 595f5c44-c31c-4552-8670-020a1545a84d
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/plan:
    put:
      tags:
      - Device Management
      summary: ChangeDevicesServicePlan
      description: Changes the service plan for one or more devices.
      operationId: ChangeDevicesServicePlan
      parameters: []
      requestBody:
        description: Request to change device service plan.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ServicePlanUpdateRequest'
              - description: Request to change device service plan.
                examples:
                - devices:
                  - deviceIds:
                    - id: A100003685E561
                      kind: meid
                  servicePlan: new_service_plan_code
              contentMediaType: application/json
            example:
              devices:
              - deviceIds:
                - id: A100003685E561
                  kind: meid
              servicePlan: new_service_plan_code
        required: true
      responses:
        '200':
          description: Request ID received on a successful response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceManagementResult'
                - description: Response to activate service for one or more devices so that they can send and receive data.
                  examples:
                  - requestId: c8de7c1d-59b9-4cf3-b969-db76cb2ce509
                contentMediaType: application/json
              example:
                requestId: c8de7c1d-59b9-4cf3-b969-db76cb2ce509
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
      - url: https://thingspace.verizon.com/api
        variables: {}
      - url: https://staging.thingspace.verizon.com/api
        variables: {}
      - url: https://devmanagement-staging.thingspace.verizon.com/api
        variables: {}
      - url: https://tsd-nginx-qa-us-east-1.thingspace.verizon.com/api
        variables: {}
      - url: https://mock-staging.thingspace.verizon.com/api
        variables: {}
    parameters: []
  /m2m/v1/devices/actions/suspend:
    post:
      tags:
      - Device Management
      summary: SuspendServiceForDevices
      description: Suspends service for one or more devices.
      operationId: SuspendServiceForDevices
      parameters: []
      requestBody:
        description: Request to suspend service for one or more devices.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CarrierActionsRequest'
              - description: Request to suspend service for one or more devices.
                examples:
                - devices:
                  - deviceIds:
                    - id: '89148000000800139708'
                      kind: iccid
              contentMediaType: application/json
            example:
              devices:
              - deviceIds:
                - id: '89148000000800139708'
                  kind: iccid
        required: true
      responses:
        '200':
          description: Request ID received on a successful response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DeviceManagementResult'
                - description: Response to activate service for one or more devices so that they can send and receive data.
                  examples:
                  - requestId: 595f5c44-c31c-4552-8670-020a1545a84d
                contentMediaType: application/json
              example:
                requestId: 595f5c44-c31c-4552-8670-020a1545a84d
        '400':
          description: Error response.
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ConnectivityManagementResult'
                - description: Response to errors.
                  examples:
                  - errorCode: error code string
                    errorMessage: error message string
                contentMediaType: application/json
              example:
                errorCode: error code string
                errorMessage: error message string
      deprecated: false
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
      servers:
[...]
