#%RAML 0.8
title: Verizon
version: '1.3'
documentation:
- title: Verizon
  content: The Verizon Edge Discovery Service API can direct your application clients to connect to the optimal service endpoints for your Multi-access Edge Computing (MEC) applications for every session. The Edge Discovery Service takes into account the current location of a device, its IP anchor location, current network traffic and other factors to determine which 5G Edge platform a device should connect to.
baseUri: https://5gedge.verizon.com/api/mec/eds
securedBy:
- thingspace_oauth:
    scopes:
    - edge:discovery:read
    - edge:serviceprofile:read
    - edge:serviceprofile:write
    - edge:serviceregistry:read
    - edge:serviceregistry:write
    - ts.application.ro
    - ts.mec.fullaccess
    - ts.mec.limitaccess
- VZ-M2M-Token
protocols:
- HTTPS
baseUriParameters: {}
schemas:
- DeleteServiceProfileResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "DeleteServiceProfileResult",
      "title": "DeleteServiceProfileResult",
      "description": "Response on successful deletion of service profile.",
      "type": "object",
      "properties": {
        "status": {
          "example": "Success",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "message": {
          "example": "Service Profile Deleted",
          "type": "string",
          "maxLength": 32
        }
      }
    }
- UpdateServiceProfileResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "UpdateServiceProfileResult",
      "title": "UpdateServiceProfileResult",
      "description": "Response on successful update of service profile.",
      "type": "object",
      "properties": {
        "status": {
          "description": "HTTP status code.",
          "example": "Success",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "message": {
          "description": "Service Profile that are updated or error details in case of an error.",
          "example": "Service Profile Updated",
          "type": "string",
          "maxLength": 32
        }
      }
    }
- ListServiceProfilesResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ListServiceProfilesResult",
      "title": "ListServiceProfilesResult",
      "description": "Response on successful retrieval of service profiles.",
      "type": "object",
      "properties": {
        "status": {
          "description": "HTTP status code.",
          "example": "Success",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "data": {
          "description": "A comma delimited list of all the service profiles registered under your API key.",
          "type": "array",
          "items": {
            "type": "string",
            "maxLength": 32
          },
          "maxItems": 100
        }
      }
    }
- CreateServiceProfileResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CreateServiceProfileResult",
      "title": "CreateServiceProfileResult",
      "description": "A successful request returns a serviceProfileId that you can use in subsequent requests.",
      "type": "object",
      "properties": {
        "serviceProfileId": {
          "description": "Unique identifier for a service profile.",
          "example": "4054ea9a-593e-4776-b488-697b1bfa4f3b",
          "type": "string"
        }
      }
    }
- DeregisterServiceEndpointResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "DeregisterServiceEndpointResult",
      "title": "DeregisterServiceEndpointResult",
      "description": "Response to deregister an application's Service Endpoint from one or more Multi-access Edge Compute (MEC) Platforms.",
      "type": "object",
      "properties": {
        "status": {
          "description": "HTTP status code.",
          "example": "Success",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "message": {
          "description": "EdgeAppServicesID that are deleted or error details in case of an error.",
          "example": "EdgeAppServicesID Deleted",
          "type": "string",
          "maxLength": 32
        }
      }
    }
- UpdateServiceEndpointResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "UpdateServiceEndpointResult",
      "title": "UpdateServiceEndpointResult",
      "description": "Response to update registered Service Endpoint information.",
      "type": "object",
      "properties": {
        "status": {
          "description": "HTTP status code.",
          "example": "Success",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "message": {
          "description": "EdgeAppServices are updated or error details in case of an error.",
          "example": "EdgeAppServices are updated",
          "type": "string",
          "maxLength": 64
        }
      }
    }
- ListAllServiceEndpointsResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ListAllServiceEndpointsResult",
      "title": "ListAllServiceEndpointsResult",
      "description": "Response on successful retrieval of all registered service endpoints.",
      "type": "object",
      "properties": {
        "status": {
          "description": "HTTP status code.",
          "type": "string",
          "default": "success",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "data": {
          "description": "A comma delimited list of all registered service endpoints.",
          "type": "array",
          "items": {
            "type": "string",
            "maxLength": 32
          },
          "maxItems": 100
        }
      }
    }
- RegisterServiceEndpointResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "RegisterServiceEndpointResult",
      "title": "RegisterServiceEndpointResult",
      "description": "Response to register Service Endpoints of a deployed application to specified Muli-access Edge Compute (MEC) Platforms.",
      "type": "object",
      "properties": {
        "serviceEndpointsId": {
          "description": "A system-defined string identifier representing one or more registered Service Endpoints.",
          "example": "43f3f7bb-d6c5-4bad-b081-9a3a0df2db98",
          "readOnly": true,
          "type": "string"
        }
      }
    }
- ListOptimalServiceEndpointsResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ListOptimalServiceEndpointsResult",
      "title": "ListOptimalServiceEndpointsResult",
      "description": "Response on successful retrieval of optimal service endpoints for clients.",
      "type": "object",
      "properties": {
        "serviceEndpoints": {
          "description": "An array of optimal Service Endpoint IDs for clients to connect to.",
          "type": "array",
          "items": {
            "id": "ResourcesEdgeHostedService",
            "title": "ResourcesEdgeHostedService",
            "description": "Edge hosted service represented by Service Endpoint definition.",
            "type": "object",
            "properties": {
              "ern": {
                "description": "Edge Resource Name. A string identifier for a set of edge resources.",
                "example": "LASVEGAS_NV_WL",
                "type": "string",
                "maxLength": 32,
                "pattern": "^[A-Za-z0-9-_]{3,32}$"
              },
              "serviceEndpoint": {
                "id": "ResourcesServiceEndpoint",
                "title": "ResourcesServiceEndpoint",
                "description": "Service Endpoint path, address, and port.",
                "type": "object",
                "properties": {
                  "URI": {
                    "description": "URI of Service Endpoint if available.",
                    "example": "http://base_path/some_segment/id",
                    "type": "string",
                    "maxLength": 32,
                    "pattern": "\\w+:(/?/?)[^\\s]+"
                  },
                  "FQDN": {
                    "description": "FQDN of Service Endpoint if available.",
                    "example": "thingtest.verizon.com",
                    "type": "string",
                    "maxLength": 32,
                    "pattern": "^[A-Za-z0-9.]{3,32}$"
                  },
                  "IPv4Address": {
                    "description": "IPv4 Address of Service Endpoint if available.",
                    "example": "192.168.11.10",
                    "type": "string",
                    "maxLength": 32
                  },
                  "IPv6Address": {
                    "description": "IPv6 Address of Service Endpoint if available.",
                    "example": "2001:0db8:85a3:0000:0000:8a2e:0370:1234",
                    "type": "string",
                    "maxLength": 64
                  },
                  "port": {
                    "description": "Port information of Service Endpoint if IPv4 or IPv6 is mentioned.",
                    "example": 1234,
                    "type": "integer",
                    "minimum": 1.0,
                    "maximum": 10000.0,
                    "format": "int32"
                  }
                }
              },
              "applicationServerProviderId": {
                "description": "Unique ID representing the Edge Application Provider.",
                "example": "AWS",
                "type": "string",
                "maxLength": 32,
                "pattern": "^[A-Za-z0-9]{3,32}$"
              },
              "applicationId": {
                "description": "Unique ID representing the Edge Application.",
                "example": "IogspaceJan15",
                "type": "string",
                "maxLength": 32,
                "pattern": "^[A-Za-z0-9]{3,32}$"
              },
              "serviceDescription": {
                "example": "ThieIt",
                "type": "string",
                "maxLength": 32,
                "pattern": "^[A-Za-z0-9]{3,32}$"
              }
            }
          },
          "maxItems": 100
        }
      }
    }
- ListRegionsResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ListRegionsResult",
      "title": "ListRegionsResult",
      "description": "Response to return an array of all regions in the Verizon 5G Edge service. You can use the region IDs from the response to find optimal Edge platforms or service endpoints.",
      "type": "object",
      "properties": {
        "regions": {
          "description": "An array of all regions in the Verizon 5G Edge service.",
          "type": "array",
          "items": {
            "id": "Region",
            "title": "Region",
            "description": "Information representing a certain geographical or logical area where MEC resources and services are provided.",
            "type": "object",
            "properties": {
              "regionId": {
                "description": "The unique identifier of the region.",
                "example": "consectetur",
                "type": [
                  "string",
                  "null"
                ]
              },
              "name": {
                "description": "A relevant and identifiable region name.",
                "example": "US_EAST_1",
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 32,
                "pattern": "^[A-Za-z0-9_]{3,32}$"
              },
              "countryCode": {
                "description": "A two-character alpha code for a country, based on ISO 3166-1 alpha-2. This is future functionality, so the value returned is 'null'.",
                "example": "nr",
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 3,
                "pattern": "^[A-Za-z0-9]{2,3}$"
              },
              "metro": {
                "description": "The metropolitan area or 'City' value.  This is future functionality, so the value returned is 'null'.",
                "example": "e1D",
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 32,
                "pattern": "^[A-Za-z0-9]{3,32}$"
              },
              "area": {
                "description": "This is a sub-set of 'City' and is similar to 'Zone'. This is future functionality, so the value returned is 'null'.",
                "example": "IdUESF",
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 32,
                "pattern": "^[A-Za-z0-9]{3,32}$"
              }
            }
          },
          "maxItems": 100
        }
      }
    }
- ListMECPlatformsResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ListMECPlatformsResult",
      "title": "ListMECPlatformsResult",
      "description": "Response to return the optimal 5G Edge platforms for deployment based on a region, service profile of the service that you want to deploy or user equipment.",
      "type": "object",
      "properties": {
        "MECPlatforms": {
          "description": "A list of optimal MEC Platforms where you can register your deployed application.",
          "type": "array",
          "items": {
            "id": "MECPlatformResource",
            "title": "MECPlatformResource",
            "description": "5G Edge platform used for deployment of a service. The ern of each platform contains the name of the matching AWS Wavelength zone that can be used when deploying.",
            "type": "object",
            "properties": {
              "ern": {
                "description": "Edge Resource Name. A string identifier for a set of edge resources.",
                "example": "5x4VBwmfZbzSL3",
                "type": "string",
                "maxLength": 32,
                "pattern": "^[A-Za-z0-9-]{3,32}$"
              },
              "zone": {
                "description": "Unique identifier representing a zone. *Note:* This will have a null value as a placeholder.",
                "example": "e5oV52kMGjDLhnJSsLJZL",
                "type": [
                  "string",
                  "null"
                ],
                "maxLength": 32,
                "pattern": "^[A-Za-z0-9]{3,32}$"
              },
              "region": {
                "description": "MEC region name. Current valid values are US_WEST_2 and US_EAST_1.",
                "example": "US_WEST_2",
                "type": "string"
              },
              "status": {
                "title": "MECPlatformStatus",
                "description": "Status of the MEC Platform (default is 'unknown')",
                "type": "string",
                "enum": [
                  "Active",
                  "Inactive",
                  "unknown"
                ]
              },
              "properties": {}
            }
          },
          "maxItems": 100
        }
      }
    }
- ClientType: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "ClientType",
      "description": "The category of application client.",
      "type": "string",
      "enum": [
        "V2X",
        "ComputerVision",
        "MachineLearning",
        "IoT",
        "Gaming",
        "AR",
        "VR",
        "Analytics",
        "Robotics"
      ]
    }
- ResourcesServiceProfile: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ResourcesServiceProfile",
      "title": "ResourcesServiceProfile",
      "description": "Information about the resource requirements and service characteristics of an edge application. The `maxLatencyMs` and `clientType` parameters are both required in the request body. **Note:** The `maxLatencyMs` value must be submitted in multiples of 5. Does not include serviceProfileId",
      "type": "object",
      "properties": {
        "clientType": {
          "title": "ClientType",
          "description": "The category of application client.",
          "type": "string",
          "enum": [
            "V2X",
            "ComputerVision",
            "MachineLearning",
            "IoT",
            "Gaming",
            "AR",
            "VR",
            "Analytics",
            "Robotics"
          ]
        },
        "ecspFilter": {
          "description": "Identity of the preferred Edge Computing Service Provider.",
          "example": "Verizon",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "clientSchedule": {
          "description": "The expected operation schedule of the application client (e.g. time windows).",
          "example": "time windows",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9 ]{3,32}$"
        },
        "clientServiceArea": {
          "description": "The expected location(s) (e.g. route) of the hosting UE during the Client's operation schedule.",
          "example": "BAY AREA",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9 ]{3,32}$"
        },
        "networkResources": {
          "id": "NetworkResourcesType",
          "title": "NetworkResourcesType",
          "description": "Network resources of a service profile.",
          "type": "object",
          "properties": {
            "maxLatencyMs": {
              "description": "Maximum response time or latency that the application can handle, in milliseconds. Note: this value must be in multiples of 5.",
              "example": 20,
              "type": "integer",
              "minimum": 5.0,
              "maximum": 1000.0,
              "format": "int32"
            },
            "minBandwidthKbits": {
              "description": "Minimum required connection bandwidth in Kbit/s for the application.",
              "example": 1,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 10000.0,
              "format": "int32"
            },
            "serviceContinuitySupport": {
              "description": "Indicates if service continuity support is required or not for the application.",
              "example": true,
              "type": "boolean"
            },
            "maxRequestRate": {
              "description": "Maximum request rate that the application can handle.",
              "example": 15,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 100.0,
              "format": "int32"
            },
            "minAvailability": {
              "description": "Minimum availability required for the server.",
              "example": 1,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 100.0,
              "format": "int32"
            }
          },
          "required": [
            "maxLatencyMs"
          ]
        },
        "computeResources": {
          "id": "ComputeResourcesType",
          "title": "ComputeResourcesType",
          "description": "Compute resources of a service profile.",
          "type": "object",
          "properties": {
            "GPU": {
              "id": "GPU",
              "title": "GPU",
              "description": "GPU resources of a service profile.",
              "type": "object",
              "properties": {
                "minCoreClockMHz": {
                  "description": "Minimum Core Clock value in megahertz.",
                  "example": 1,
                  "type": "integer",
                  "minimum": 1.0,
                  "maximum": 10000.0,
                  "format": "int32"
                },
                "minMemoryClockMHz": {
                  "description": "Minimum Memory Clock value in megahertz.",
                  "example": 35740,
                  "type": "integer",
                  "minimum": 1.0,
                  "maximum": 100000.0,
                  "format": "int32"
                },
                "minBandwidthGBs": {
                  "description": "Minimum GPU bandwidth in GB/s.",
                  "example": 588,
                  "type": "integer",
                  "minimum": 1.0,
                  "maximum": 1000.0,
                  "format": "int32"
                },
                "minTFLOPS": {
                  "description": "Minimum Floating Point Operations Per Second in Teraflops.",
                  "example": 33,
                  "type": "integer",
                  "minimum": 1.0,
                  "maximum": 100.0,
                  "format": "int32"
                }
              }
            },
            "minRAMGB": {
              "description": "Minimum RAM required in Gigabytes.",
              "example": 1,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 100.0,
              "format": "int32"
            },
            "minStorageGB": {
              "description": "Minimum storage requirement in Gigabytes.",
              "example": 1,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 100.0,
              "format": "int32"
            }
          }
        },
        "properties": {
          "id": "MECPlatformsAdditionalSupportInfo",
          "title": "MECPlatformsAdditionalSupportInfo",
          "description": "Additional service support information for the MEC platform.",
          "type": "object",
          "properties": {
            "type": {
              "description": "Type of additional service support information for the MEC platform.",
              "type": "string",
              "maxLength": 32,
              "pattern": "^[A-Za-z0-9]{3,32}$"
            },
            "data": {
              "id": "MECPlatformsAdditionalSupportInfoData",
              "title": "MECPlatformsAdditionalSupportInfoData",
              "description": "Data about additional service support information for the MEC platform.",
              "type": "object",
              "properties": {
                "additionalInfo": {
                  "type": "string",
                  "maxLength": 32
                }
              }
            }
          }
        }
      },
      "required": [
        "clientType"
      ]
    }
- ResourcesServiceProfileWithId: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ResourcesServiceProfileWithId",
      "title": "ResourcesServiceProfileWithId",
      "description": "Information about the resource requirements and service characteristics of an edge application. Includes serviceProfileId. Used when retrieving a service profile.",
      "type": "object",
      "properties": {
        "clientType": {
          "title": "ClientType",
          "description": "The category of application client.",
          "type": "string",
          "enum": [
            "V2X",
            "ComputerVision",
            "MachineLearning",
            "IoT",
            "Gaming",
            "AR",
            "VR",
            "Analytics",
            "Robotics"
          ]
        },
        "serviceProfileId": {
          "description": "Unique identifier for a service profile.",
          "example": "4054ea9a-593e-4776-b488-697b1bfa4f3b",
          "type": "string"
        },
        "ecspFilter": {
          "description": "Identity of the preferred Edge Computing Service Provider.",
          "example": "Verizon",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "clientSchedule": {
          "description": "The expected operation schedule of the application client (e.g. time windows).",
          "example": "time windows",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9 ]{3,32}$"
        },
        "clientServiceArea": {
          "description": "The expected location(s) (e.g. route) of the hosting UE during the Client's operation schedule.",
          "example": "BAY AREA",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9 ]{3,32}$"
        },
        "networkResources": {
          "id": "NetworkResourcesType",
          "title": "NetworkResourcesType",
          "description": "Network resources of a service profile.",
          "type": "object",
          "properties": {
            "maxLatencyMs": {
              "description": "Maximum response time or latency that the application can handle, in milliseconds. Note: this value must be in multiples of 5.",
              "example": 20,
              "type": "integer",
              "minimum": 5.0,
              "maximum": 1000.0,
              "format": "int32"
            },
            "minBandwidthKbits": {
              "description": "Minimum required connection bandwidth in Kbit/s for the application.",
              "example": 1,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 10000.0,
              "format": "int32"
            },
            "serviceContinuitySupport": {
              "description": "Indicates if service continuity support is required or not for the application.",
              "example": true,
              "type": "boolean"
            },
            "maxRequestRate": {
              "description": "Maximum request rate that the application can handle.",
              "example": 15,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 100.0,
              "format": "int32"
            },
            "minAvailability": {
              "description": "Minimum availability required for the server.",
              "example": 1,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 100.0,
              "format": "int32"
            }
          },
          "required": [
            "maxLatencyMs"
          ]
        },
        "computeResources": {
          "id": "ComputeResourcesType",
          "title": "ComputeResourcesType",
          "description": "Compute resources of a service profile.",
          "type": "object",
          "properties": {
            "GPU": {
              "id": "GPU",
              "title": "GPU",
              "description": "GPU resources of a service profile.",
              "type": "object",
              "properties": {
                "minCoreClockMHz": {
                  "description": "Minimum Core Clock value in megahertz.",
                  "example": 1,
                  "type": "integer",
                  "minimum": 1.0,
                  "maximum": 10000.0,
                  "format": "int32"
                },
                "minMemoryClockMHz": {
                  "description": "Minimum Memory Clock value in megahertz.",
                  "example": 35740,
                  "type": "integer",
                  "minimum": 1.0,
                  "maximum": 100000.0,
                  "format": "int32"
                },
                "minBandwidthGBs": {
                  "description": "Minimum GPU bandwidth in GB/s.",
                  "example": 588,
                  "type": "integer",
                  "minimum": 1.0,
                  "maximum": 1000.0,
                  "format": "int32"
                },
                "minTFLOPS": {
                  "description": "Minimum Floating Point Operations Per Second in Teraflops.",
                  "example": 33,
                  "type": "integer",
                  "minimum": 1.0,
                  "maximum": 100.0,
                  "format": "int32"
                }
              }
            },
            "minRAMGB": {
              "description": "Minimum RAM required in Gigabytes.",
              "example": 1,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 100.0,
              "format": "int32"
            },
            "minStorageGB": {
              "description": "Minimum storage requirement in Gigabytes.",
              "example": 1,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 100.0,
              "format": "int32"
            }
          }
        },
        "properties": {
          "id": "MECPlatformsAdditionalSupportInfo",
          "title": "MECPlatformsAdditionalSupportInfo",
          "description": "Additional service support information for the MEC platform.",
          "type": "object",
          "properties": {
            "type": {
              "description": "Type of additional service support information for the MEC platform.",
              "type": "string",
              "maxLength": 32,
              "pattern": "^[A-Za-z0-9]{3,32}$"
            },
            "data": {
              "id": "MECPlatformsAdditionalSupportInfoData",
              "title": "MECPlatformsAdditionalSupportInfoData",
              "description": "Data about additional service support information for the MEC platform.",
              "type": "object",
              "properties": {
                "additionalInfo": {
                  "type": "string",
                  "maxLength": 32
                }
              }
            }
          }
        }
      },
      "required": [
        "clientType"
      ]
    }
- MECPlatformsAdditionalSupportInfo: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "MECPlatformsAdditionalSupportInfo",
      "title": "MECPlatformsAdditionalSupportInfo",
      "description": "Additional service support information for the MEC platform.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of additional service support information for the MEC platform.",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "data": {
          "id": "MECPlatformsAdditionalSupportInfoData",
          "title": "MECPlatformsAdditionalSupportInfoData",
          "description": "Data about additional service support information for the MEC platform.",
          "type": "object",
          "properties": {
            "additionalInfo": {
              "type": "string",
              "maxLength": 32
            }
          }
        }
      }
    }
- MECPlatformsAdditionalSupportInfoData: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "MECPlatformsAdditionalSupportInfoData",
      "title": "MECPlatformsAdditionalSupportInfoData",
      "description": "Data about additional service support information for the MEC platform.",
      "type": "object",
      "properties": {
        "additionalInfo": {
          "type": "string",
          "maxLength": 32
        }
      }
    }
- ResourcesEdgeHostedService: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ResourcesEdgeHostedService",
      "title": "ResourcesEdgeHostedService",
      "description": "Edge hosted service represented by Service Endpoint definition.",
      "type": "object",
      "properties": {
        "ern": {
          "description": "Edge Resource Name. A string identifier for a set of edge resources.",
          "example": "LASVEGAS_NV_WL",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9-_]{3,32}$"
        },
        "serviceEndpoint": {
          "id": "ResourcesServiceEndpoint",
          "title": "ResourcesServiceEndpoint",
          "description": "Service Endpoint path, address, and port.",
          "type": "object",
          "properties": {
            "URI": {
              "description": "URI of Service Endpoint if available.",
              "example": "http://base_path/some_segment/id",
              "type": "string",
              "maxLength": 32,
              "pattern": "\\w+:(/?/?)[^\\s]+"
            },
            "FQDN": {
              "description": "FQDN of Service Endpoint if available.",
              "example": "thingtest.verizon.com",
              "type": "string",
              "maxLength": 32,
              "pattern": "^[A-Za-z0-9.]{3,32}$"
            },
            "IPv4Address": {
              "description": "IPv4 Address of Service Endpoint if available.",
              "example": "192.168.11.10",
              "type": "string",
              "maxLength": 32
            },
            "IPv6Address": {
              "description": "IPv6 Address of Service Endpoint if available.",
              "example": "2001:0db8:85a3:0000:0000:8a2e:0370:1234",
              "type": "string",
              "maxLength": 64
            },
            "port": {
              "description": "Port information of Service Endpoint if IPv4 or IPv6 is mentioned.",
              "example": 1234,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 10000.0,
              "format": "int32"
            }
          }
        },
        "applicationServerProviderId": {
          "description": "Unique ID representing the Edge Application Provider.",
          "example": "AWS",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "applicationId": {
          "description": "Unique ID representing the Edge Application.",
          "example": "IogspaceJan15",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "serviceDescription": {
          "example": "ThieIt",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        }
      }
    }
- ResourcesEdgeHostedServiceWithProfileId: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ResourcesEdgeHostedServiceWithProfileId",
      "title": "ResourcesEdgeHostedServiceWithProfileId",
      "description": "Edge hosted service represented by Service Endpoint definition.",
      "type": "object",
      "properties": {
        "ern": {
          "description": "Edge Resource Name. A string identifier for a set of edge resources.",
          "example": "us-east-1-wl1-atl-wlz-1",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9-]{3,32}$"
        },
        "serviceEndpoint": {
          "id": "ResourcesServiceEndpoint",
          "title": "ResourcesServiceEndpoint",
          "description": "Service Endpoint path, address, and port.",
          "type": "object",
          "properties": {
            "URI": {
              "description": "URI of Service Endpoint if available.",
              "example": "http://base_path/some_segment/id",
              "type": "string",
              "maxLength": 32,
              "pattern": "\\w+:(/?/?)[^\\s]+"
            },
            "FQDN": {
              "description": "FQDN of Service Endpoint if available.",
              "example": "thingtest.verizon.com",
              "type": "string",
              "maxLength": 32,
              "pattern": "^[A-Za-z0-9.]{3,32}$"
            },
            "IPv4Address": {
              "description": "IPv4 Address of Service Endpoint if available.",
              "example": "192.168.11.10",
              "type": "string",
              "maxLength": 32
            },
            "IPv6Address": {
              "description": "IPv6 Address of Service Endpoint if available.",
              "example": "2001:0db8:85a3:0000:0000:8a2e:0370:1234",
              "type": "string",
              "maxLength": 64
            },
            "port": {
              "description": "Port information of Service Endpoint if IPv4 or IPv6 is mentioned.",
              "example": 1234,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 10000.0,
              "format": "int32"
            }
          }
        },
        "applicationServerProviderId": {
          "description": "Unique ID representing the Edge Application Provider.",
          "example": "AWS",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "applicationId": {
          "description": "Unique ID representing the Edge Application.",
          "example": "IogspaceJan15",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "serviceDescription": {
          "example": "ThieIt",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "serviceProfileID": {
          "description": "The system assigned ID of the service profile.",
          "example": "4054ea9a-593e-4776-b488-697b1bfa4f3b",
          "type": "string"
        }
      }
    }
- ResourcesServiceEndpoint: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ResourcesServiceEndpoint",
      "title": "ResourcesServiceEndpoint",
      "description": "Service Endpoint path, address, and port.",
      "type": "object",
      "properties": {
        "URI": {
          "description": "URI of Service Endpoint if available.",
          "example": "http://base_path/some_segment/id",
          "type": "string",
          "maxLength": 32,
          "pattern": "\\w+:(/?/?)[^\\s]+"
        },
        "FQDN": {
          "description": "FQDN of Service Endpoint if available.",
          "example": "thingtest.verizon.com",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9.]{3,32}$"
        },
        "IPv4Address": {
          "description": "IPv4 Address of Service Endpoint if available.",
          "example": "192.168.11.10",
          "type": "string",
          "maxLength": 32
        },
        "IPv6Address": {
          "description": "IPv6 Address of Service Endpoint if available.",
          "example": "2001:0db8:85a3:0000:0000:8a2e:0370:1234",
          "type": "string",
          "maxLength": 64
        },
        "port": {
          "description": "Port information of Service Endpoint if IPv4 or IPv6 is mentioned.",
          "example": 1234,
          "type": "integer",
          "minimum": 1.0,
          "maximum": 10000.0,
          "format": "int32"
        }
      }
    }
- Region: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Region",
      "title": "Region",
      "description": "Information representing a certain geographical or logical area where MEC resources and services are provided.",
      "type": "object",
      "properties": {
        "regionId": {
          "description": "The unique identifier of the region.",
          "example": "consectetur",
          "type": [
            "string",
            "null"
          ]
        },
        "name": {
          "description": "A relevant and identifiable region name.",
          "example": "US_EAST_1",
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9_]{3,32}$"
        },
        "countryCode": {
          "description": "A two-character alpha code for a country, based on ISO 3166-1 alpha-2. This is future functionality, so the value returned is 'null'.",
          "example": "nr",
          "type": [
            "string",
            "null"
          ],
          "maxLength": 3,
          "pattern": "^[A-Za-z0-9]{2,3}$"
        },
        "metro": {
          "description": "The metropolitan area or 'City' value.  This is future functionality, so the value returned is 'null'.",
          "example": "e1D",
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "area": {
          "description": "This is a sub-set of 'City' and is similar to 'Zone'. This is future functionality, so the value returned is 'null'.",
          "example": "IdUESF",
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        }
      }
    }
- MECPlatformStatus: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "MECPlatformStatus",
      "description": "Status of the MEC Platform (default is 'unknown')",
      "type": "string",
      "enum": [
        "Active",
        "Inactive",
        "unknown"
      ]
    }
- MECPlatformResource: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "MECPlatformResource",
      "title": "MECPlatformResource",
      "description": "5G Edge platform used for deployment of a service. The ern of each platform contains the name of the matching AWS Wavelength zone that can be used when deploying.",
      "type": "object",
      "properties": {
        "ern": {
          "description": "Edge Resource Name. A string identifier for a set of edge resources.",
          "example": "5x4VBwmfZbzSL3",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9-]{3,32}$"
        },
        "zone": {
          "description": "Unique identifier representing a zone. *Note:* This will have a null value as a placeholder.",
          "example": "e5oV52kMGjDLhnJSsLJZL",
          "type": [
            "string",
            "null"
          ],
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "region": {
          "description": "MEC region name. Current valid values are US_WEST_2 and US_EAST_1.",
          "example": "US_WEST_2",
          "type": "string"
        },
        "status": {
          "title": "MECPlatformStatus",
          "description": "Status of the MEC Platform (default is 'unknown')",
          "type": "string",
          "enum": [
            "Active",
            "Inactive",
            "unknown"
          ]
        },
        "properties": {}
      }
    }
- NetworkResourcesType: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "NetworkResourcesType",
      "title": "NetworkResourcesType",
      "description": "Network resources of a service profile.",
      "type": "object",
      "properties": {
        "maxLatencyMs": {
          "description": "Maximum response time or latency that the application can handle, in milliseconds. Note: this value must be in multiples of 5.",
          "example": 20,
          "type": "integer",
          "minimum": 5.0,
          "maximum": 1000.0,
          "format": "int32"
        },
        "minBandwidthKbits": {
          "description": "Minimum required connection bandwidth in Kbit/s for the application.",
          "example": 1,
          "type": "integer",
          "minimum": 1.0,
          "maximum": 10000.0,
          "format": "int32"
        },
        "serviceContinuitySupport": {
          "description": "Indicates if service continuity support is required or not for the application.",
          "example": true,
          "type": "boolean"
        },
        "maxRequestRate": {
          "description": "Maximum request rate that the application can handle.",
          "example": 15,
          "type": "integer",
          "minimum": 1.0,
          "maximum": 100.0,
          "format": "int32"
        },
        "minAvailability": {
          "description": "Minimum availability required for the server.",
          "example": 1,
          "type": "integer",
          "minimum": 1.0,
          "maximum": 100.0,
          "format": "int32"
        }
      },
      "required": [
        "maxLatencyMs"
      ]
    }
- ComputeResourcesType: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ComputeResourcesType",
      "title": "ComputeResourcesType",
      "description": "Compute resources of a service profile.",
      "type": "object",
      "properties": {
        "GPU": {
          "id": "GPU",
          "title": "GPU",
          "description": "GPU resources of a service profile.",
          "type": "object",
          "properties": {
            "minCoreClockMHz": {
              "description": "Minimum Core Clock value in megahertz.",
              "example": 1,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 10000.0,
              "format": "int32"
            },
            "minMemoryClockMHz": {
              "description": "Minimum Memory Clock value in megahertz.",
              "example": 35740,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 100000.0,
              "format": "int32"
            },
            "minBandwidthGBs": {
              "description": "Minimum GPU bandwidth in GB/s.",
              "example": 588,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 1000.0,
              "format": "int32"
            },
            "minTFLOPS": {
              "description": "Minimum Floating Point Operations Per Second in Teraflops.",
              "example": 33,
              "type": "integer",
              "minimum": 1.0,
              "maximum": 100.0,
              "format": "int32"
            }
          }
        },
        "minRAMGB": {
          "description": "Minimum RAM required in Gigabytes.",
          "example": 1,
          "type": "integer",
          "minimum": 1.0,
          "maximum": 100.0,
          "format": "int32"
        },
        "minStorageGB": {
          "description": "Minimum storage requirement in Gigabytes.",
          "example": 1,
          "type": "integer",
          "minimum": 1.0,
          "maximum": 100.0,
          "format": "int32"
        }
      }
    }
- GPU: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GPU",
      "title": "GPU",
      "description": "GPU resources of a service profile.",
      "type": "object",
      "properties": {
        "minCoreClockMHz": {
          "description": "Minimum Core Clock value in megahertz.",
          "example": 1,
          "type": "integer",
          "minimum": 1.0,
          "maximum": 10000.0,
          "format": "int32"
        },
        "minMemoryClockMHz": {
          "description": "Minimum Memory Clock value in megahertz.",
          "example": 35740,
          "type": "integer",
          "minimum": 1.0,
          "maximum": 100000.0,
          "format": "int32"
        },
        "minBandwidthGBs": {
          "description": "Minimum GPU bandwidth in GB/s.",
          "example": 588,
          "type": "integer",
          "minimum": 1.0,
          "maximum": 1000.0,
          "format": "int32"
        },
        "minTFLOPS": {
          "description": "Minimum Floating Point Operations Per Second in Teraflops.",
          "example": 33,
          "type": "integer",
          "minimum": 1.0,
          "maximum": 100.0,
          "format": "int32"
        }
      }
    }
- EdgeDiscoveryResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "EdgeDiscoveryResult",
      "title": "EdgeDiscoveryResult",
      "description": "Base type for all errors.",
      "type": "object",
      "properties": {
        "status": {
          "description": "HTTP status code or status of response.",
          "type": "string",
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        },
        "message": {
          "description": "Error details.",
          "type": "string",
          "maxLength": 32
        },
        "data": {
          "id": "EdgeDiscoveryResultData",
          "title": "EdgeDiscoveryResultData",
          "description": "For cases where user input exceeds the boundary values an additional 'data' key will be returned with a relevant description.",
          "type": "object",
          "properties": {
            "additionalMessage": {
              "type": "string",
              "maxLength": 32
            }
          }
        }
      },
      "required": [
        "status",
        "message"
      ]
    }
- EdgeDiscoveryResultData: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "EdgeDiscoveryResultData",
      "title": "EdgeDiscoveryResultData",
      "description": "For cases where user input exceeds the boundary values an additional 'data' key will be returned with a relevant description.",
      "type": "object",
      "properties": {
        "additionalMessage": {
          "type": "string",
          "maxLength": 32
        }
      }
    }
- UserEquipmentIdentityType: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "UserEquipmentIdentityType",
      "description": "Type of User Equipment identifier used in `UEIdentity`.",
      "example": "IPAddress",
      "type": "string",
      "enum": [
        "IPAddress"
      ]
    }
- Account: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Account",
      "title": "Account",
      "description": "Returns information about a specified account.",
      "example": {
        "accountName": "Chintan_CPNStaticBulk",
        "accountNumber": "1234567890-77777",
        "organizationName": "ChintanCPNBulk",
        "isProvisioningAllowed": true,
        "carriers": [
          "Verizon Wireless"
        ],
        "features": [
          "Static IP",
          "Dynamic IP",
          "Customer PN"
        ],
        "iPPools": [
          {
            "poolName": "ACMESTATIC001",
            "poolType": "Static IP",
            "isDefaultPool": true
          },
          {
            "poolName": "ACMEDYNAMIC001",
            "poolType": "Dynamic IP",
            "isDefaultPool": false
          }
        ],
        "servicePlans": [
          {
            "name": "",
            "code": "92876",
            "sizeKb": 1,
            "carrierServicePlanCode": "",
            "extendedAttributes": []
          },
          {
            "name": "",
            "code": "92876",
            "sizeKb": 1,
            "carrierServicePlanCode": "",
            "extendedAttributes": []
          }
        ]
      },
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The name of the account.",
          "example": "Chintan_CPNStaticBulk",
          "type": "string"
        },
        "accountNumber": {
          "description": "The billing number of the account.",
          "example": "1234567890-77777",
          "type": "string"
        },
        "organizationName": {
          "description": "The name of the organization that the account is part of.",
          "example": "ChintanCPNBulk",
          "type": "string"
        },
        "isProvisioningAllowed": {
          "description": "True if devices can be added to the account and activated with a single request. False if devices must be added to the account before they can be activated.",
          "example": true,
          "type": "boolean"
        },
        "carriers": {
          "description": "The names of all carriers for the account.",
          "example": [
            "Verizon Wireless"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "features": {
          "description": "The names of features that are enabled for the account.",
          "example": [
            "Static IP",
            "Dynamic IP",
            "Customer PN"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "iPPools": {
          "description": "Array of IP pools that are available to the account.",
          "example": [
            {
              "poolName": "ACMESTATIC001",
              "poolType": "Static IP",
              "isDefaultPool": true
            },
            {
              "poolName": "ACMEDYNAMIC001",
              "poolType": "Dynamic IP",
              "isDefaultPool": false
            }
          ],
          "type": "array",
          "items": {
            "id": "IPPool",
            "title": "IPPool",
            "description": "IP pool that is available to the account.",
            "example": {
              "poolName": "ACMESTATIC001",
              "poolType": "Static IP",
              "isDefaultPool": true
            },
            "type": "object",
            "properties": {
              "poolName": {
                "description": "The name of the IP pool.",
                "example": "ACMESALES001",
                "type": "string"
              },
              "poolType": {
                "description": "The type of IP pool, such as “Static IP” or “Dynamic IP.”",
                "example": "Static IP",
                "type": "string"
              },
              "isDefaultPool": {
                "description": "True if this is the default IP pool for the account.",
                "example": true,
                "type": "boolean"
              }
            }
          }
        },
        "servicePlans": {
          "description": "Array of service plans that are available to the account.",
          "example": [
            {
              "name": "",
              "code": "92876",
              "sizeKb": 1,
              "carrierServicePlanCode": "",
              "extendedAttributes": []
            },
            {
              "name": "",
              "code": "92876",
              "sizeKb": 1,
              "carrierServicePlanCode": "",
              "extendedAttributes": []
            }
          ],
          "type": "array",
          "items": {
            "id": "ServicePlan",
            "title": "ServicePlan",
            "description": "Details of the service plan.",
            "example": {
              "name": "2MSHR5GB",
              "code": "M2MSHR5GB",
              "sizeKb": 0,
              "carrierServicePlanCode": "84638"
            },
            "type": "object",
            "properties": {
              "carrierServicePlanCode": {
                "description": "The code that is used by the carrier for the service plan.",
                "example": "84638",
                "type": "string"
              },
              "code": {
                "description": "The code of the service plan, which may not be the same as the name.",
                "example": "M2MSHR5GB",
                "type": "string"
              },
              "extendedAttributes": {
                "description": "Any extended attributes for the service plan, as Key and Value pairs.",
                "type": "array",
                "items": {
                  "id": "CustomFields",
                  "title": "CustomFields",
                  "description": "Custom data that can be included using key-value pairs.",
                  "example": {
                    "key": "CustomField2",
                    "value": "SuperVend"
                  },
                  "type": "object",
                  "properties": {
                    "key": {
                      "description": "The key for an extended attribute.",
                      "example": "CustomField2",
                      "type": "string"
                    },
                    "value": {
                      "description": "The value of an extended attribute.",
                      "example": "SuperVend",
                      "type": "string"
                    }
                  }
                }
              },
              "name": {
                "description": "The name of the service plan.",
                "example": "2MSHR5GB",
                "type": "string"
              },
              "sizeKb": {
                "description": "The size of the service plan in kilobytes.",
                "example": 0,
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      }
    }
- AddDevicesRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "AddDevicesRequest",
      "title": "AddDevicesRequest",
      "description": "Request to add the devices.",
      "example": {
        "accountName": "0868924207-00001",
        "customFields": [
          {
            "key": "CustomField2",
            "value": "SuperVend"
          }
        ],
        "devicesToAdd": [
          {
            "deviceIds": [
              {
                "kind": "imei",
                "id": "990013907835573"
              },
              {
                "kind": "iccid",
                "id": "89141390780800784259"
              }
            ]
          },
          {
            "deviceIds": [
              {
                "kind": "imei",
                "id": "990013907884259"
              },
              {
                "kind": "iccid",
                "id": "89141390780800735573"
              }
            ]
          }
        ],
        "groupName": "West Region",
        "state": "preactive"
      },
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The billing account to which the devices are added.",
          "example": "0868924207-00001",
          "type": "string"
        },
        "customFields": {
          "description": "The names and values for any custom fields that you want set for the devices as they are added to the account.",
          "example": [
            {
              "key": "CustomField2",
              "value": "SuperVend"
            }
          ],
          "type": "array",
          "items": {
            "id": "CustomFields",
            "title": "CustomFields",
            "description": "Custom data that can be included using key-value pairs.",
            "example": {
              "key": "CustomField2",
              "value": "SuperVend"
            },
            "type": "object",
            "properties": {
              "key": {
                "description": "The key for an extended attribute.",
                "example": "CustomField2",
                "type": "string"
              },
              "value": {
                "description": "The value of an extended attribute.",
                "example": "SuperVend",
                "type": "string"
              }
            }
          }
        },
        "devicesToAdd": {
          "description": "The devices that you want to add.",
          "example": [
            {
              "deviceIds": [
                {
                  "kind": "imei",
                  "id": "990013907835573"
                },
                {
                  "kind": "iccid",
                  "id": "89141390780800784259"
                }
              ]
            },
            {
              "deviceIds": [
                {
                  "kind": "imei",
                  "id": "990013907884259"
                },
                {
                  "kind": "iccid",
                  "id": "89141390780800735573"
                }
              ]
            }
          ],
          "type": "array",
          "items": {
            "id": "AccountDeviceList",
            "title": "AccountDeviceList",
            "description": "A list of deviceId objects to use when requesting information from multiple devices.",
            "example": {
              "deviceIds": [
                {
                  "kind": "imei",
                  "id": "990013907835573"
                },
                {
                  "kind": "iccid",
                  "id": "89141390780800784259"
                }
              ]
            },
            "type": "object",
            "properties": {
              "deviceIds": {
                "description": "All identifiers for the device.",
                "example": [
                  {
                    "kind": "imei",
                    "id": "990013907835573"
                  },
                  {
                    "kind": "iccid",
                    "id": "89141390780800784259"
                  }
                ],
                "type": "array",
                "items": {
                  "id": "DeviceId",
                  "title": "DeviceId",
                  "description": "An identifier for a single device.",
                  "example": {
                    "kind": "imei",
                    "id": "990013907835573"
                  },
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The value of the device identifier.",
                      "example": "990013907835573",
                      "type": "string"
                    },
                    "kind": {
                      "description": "The type of the device identifier. Valid types of identifiers are:ESN (decimal),EID,ICCID (up to 20 digits),IMEI (up to 16 digits),MDN,MEID (hexadecimal),MSISDN.",
                      "example": "imei",
                      "type": "string"
                    }
                  }
                }
              },
              "ipAddress": {
                "type": "string",
                "minLength": 3,
                "maxLength": 32,
                "pattern": "^[0-9].[0-9].[0-9].[0-9]{3,32}$"
              }
            }
          }
        },
        "groupName": {
          "description": "The name of a device group to add the devices to. They are added to the default device group if you don't include this parameter.",
          "example": "West Region",
          "type": "string"
        },
        "skuNumber": {
          "description": "The Stock Keeping Unit (SKU) number of a 4G device type with an embedded SIM.",
          "type": "string"
        },
        "state": {
          "description": "The initial service state for the devices. The only valid state is “Preactive.”",
          "example": "preactive",
          "type": "string"
        },
        "smsrOid": {
          "type": "string",
          "minLength": 3,
          "maxLength": 32,
          "pattern": "^[A-Za-z0-9]{3,32}$"
        }
      }
    }
- AddDevicesResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "AddDevicesResult",
      "title": "AddDevicesResult",
      "description": "Contains the device identifiers and a success or failure response for each device in the request.",
      "example": {
        "deviceIds": [
          {
            "id": "89148000000800784259",
            "kind": "iccid"
          }
        ],
        "response": "Success"
      },
      "type": "object",
      "properties": {
        "deviceIds": {
          "description": "Identifiers for the device.",
          "example": [
            {
              "id": "89148000000800784259",
              "kind": "iccid"
            }
          ],
          "type": "array",
          "items": {
            "id": "DeviceId",
            "title": "DeviceId",
            "description": "An identifier for a single device.",
            "example": {
              "kind": "imei",
              "id": "990013907835573"
            },
            "type": "object",
            "properties": {
              "id": {
                "description": "The value of the device identifier.",
                "example": "990013907835573",
                "type": "string"
              },
              "kind": {
                "description": "The type of the device identifier. Valid types of identifiers are:ESN (decimal),EID,ICCID (up to 20 digits),IMEI (up to 16 digits),MDN,MEID (hexadecimal),MSISDN.",
                "example": "imei",
                "type": "string"
              }
            }
          }
        },
        "response": {
          "description": "The success message or error message for the current device.",
          "example": "Success",
          "type": "string"
        }
      }
    }
- Address: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Address",
      "title": "Address",
      "description": "The customer address for the line's primary place of use, for line usage taxation.",
      "example": {
        "addressLine1": "1600 Pennsylvania Ave NW",
        "city": "Washington",
        "state": "DC",
        "zip": "20500",
        "country": "USA"
      },
      "type": "object",
      "properties": {
        "addressLine1": {
          "description": "The street address for the line's primary place of use. This must be a physical address for taxation; it cannot be a P.O. box.",
          "example": "1600 Pennsylvania Ave NW",
          "type": "string"
        },
        "city": {
          "description": "The city for the line's primary place of use.",
          "example": "Washington",
          "type": "string"
        },
        "state": {
          "description": "The state for the line's primary place of use.",
          "example": "DC",
          "type": "string"
        },
        "zip": {
          "description": "The ZIP code for the line's primary place of use.",
          "example": "20500",
          "type": "string"
        },
        "country": {
          "description": "Either “US” or “USA” for the country of the line's primary place of use.",
          "example": "USA",
          "type": "string"
        },
        "addressLine2": {
          "description": "Optional additional street address information.",
          "type": "string"
        },
        "zip4": {
          "description": "The ZIP+4 for the line's primary place of use.",
          "type": "string"
        },
        "phone": {
          "description": "A phone number where the customer can be reached.",
          "type": "string"
        },
        "phoneType": {
          "description": "A single letter to indicate the customer phone type.",
          "type": "string"
        },
        "emailAddress": {
          "description": "An email address for the customer.",
          "type": "string"
        }
      },
      "required": [
        "addressLine1",
        "city",
        "state",
        "zip",
        "country"
      ]
    }
- ConnectivityManagementCallback: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ConnectivityManagementCallback",
      "title": "ConnectivityManagementCallback",
      "description": "Includes callback listeners that were registered through the Connectivity Management API.",
      "example": {
        "accountName": "0252012345-00001",
        "password": "drowssap",
        "serviceName": "DeviceUsage",
        "url": "http://10.120.102.147:50569/CallbackListener/Usage.asmx",
        "username": "zaffod"
      },
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The name of the billing account for which callback messages will be sent.",
          "example": "0252012345-00001",
          "type": "string"
        },
        "password": {
          "description": "The password defined when a URL was registered for the callback service, or an empty string if no password was defined.",
          "example": "drowssap",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the callback service, which identifies the type and format of messages that will be sent to the registered URL.",
          "example": "DeviceUsage",
          "type": "string"
        },
        "url": {
          "description": "The address of the callback listening service where the ThingSpace Platform will send callback messages for the service type.",
          "example": "http://10.120.102.147:50569/CallbackListener/Usage.asmx",
          "type": "string"
        },
        "username": {
          "description": "The username defined when a URL was registered for the callback service, or an empty string if no username was defined.",
          "example": "zaffod",
          "type": "string"
        }
      }
    }
- CallbackActionResult: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CallbackActionResult",
      "title": "CallbackActionResult",
      "description": "Response to a callback action.",
      "example": {
        "accountName": "122333444-00002",
        "serviceName": "CarrierService"
      },
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The name of the billing account.",
          "example": "122333444-00002",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the callback service that was registered/deregistered.",
          "example": "CarrierService",
          "type": "string"
        }
      }
    }
- CarrierActionsRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CarrierActionsRequest",
      "title": "CarrierActionsRequest",
      "description": "Request for a carrier action.",
      "example": {
        "devices": [
          {
            "deviceIds": [
              {
                "id": "89148000000800139708",
                "kind": "iccid"
              }
            ]
          }
        ]
      },
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The name of a billing account.",
          "example": "0868924207-00001",
          "type": "string"
        },
        "customFields": {
          "description": "Custom field names and values, if you want to only include devices that have matching values.",
          "example": [
            {
              "key": "CustomField2",
              "value": "SuperVend"
            }
          ],
          "type": "array",
          "items": {
            "id": "CustomFields",
            "title": "CustomFields",
            "description": "Custom data that can be included using key-value pairs.",
            "example": {
              "key": "CustomField2",
              "value": "SuperVend"
            },
            "type": "object",
            "properties": {
              "key": {
                "description": "The key for an extended attribute.",
                "example": "CustomField2",
                "type": "string"
              },
              "value": {
                "description": "The value of an extended attribute.",
                "example": "SuperVend",
                "type": "string"
              }
            }
          }
        },
        "devices": {
          "description": "The devices for which you want to restore service, specified by device identifier.",
          "example": [
            {
              "deviceIds": [
                {
                  "id": "89148000000800139708",
                  "kind": "iccid"
                }
              ]
            }
          ],
          "type": "array",
          "items": {
            "id": "AccountDeviceList",
            "title": "AccountDeviceList",
            "description": "A list of deviceId objects to use when requesting information from multiple devices.",
            "example": {
              "deviceIds": [
                {
                  "kind": "imei",
                  "id": "990013907835573"
                },
                {
                  "kind": "iccid",
                  "id": "89141390780800784259"
                }
              ]
            },
            "type": "object",
            "properties": {
              "deviceIds": {
                "description": "All identifiers for the device.",
                "example": [
                  {
                    "kind": "imei",
                    "id": "990013907835573"
                  },
                  {
                    "kind": "iccid",
                    "id": "89141390780800784259"
                  }
                ],
                "type": "array",
                "items": {
                  "id": "DeviceId",
                  "title": "DeviceId",
                  "description": "An identifier for a single device.",
                  "example": {
                    "kind": "imei",
                    "id": "990013907835573"
                  },
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The value of the device identifier.",
                      "example": "990013907835573",
                      "type": "string"
                    },
                    "kind": {
                      "description": "The type of the device identifier. Valid types of identifiers are:ESN (decimal),EID,ICCID (up to 20 digits),IMEI (up to 16 digits),MDN,MEID (hexadecimal),MSISDN.",
                      "example": "imei",
                      "type": "string"
                    }
                  }
                }
              },
              "ipAddress": {
                "type": "string",
                "minLength": 3,
                "maxLength": 32,
                "pattern": "^[0-9].[0-9].[0-9].[0-9]{3,32}$"
              }
            }
          }
        },
        "groupName": {
          "description": "The name of a device group, if you want to restore service for all devices in that group.",
          "example": "4G West",
          "type": "string"
        },
        "servicePlan": {
          "description": "The name of a service plan, if you want to only include devices that have that service plan.",
          "example": "m2m_4G",
          "type": "string"
        }
      }
    }
- NotificationReportStatusRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "NotificationReportStatusRequest",
      "title": "NotificationReportStatusRequest",
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The name of a billing account.",
          "example": "0868924207-00001",
          "type": "string"
        },
        "device": {
          "id": "DeviceId",
          "title": "DeviceId",
          "description": "An identifier for a single device.",
          "example": {
            "kind": "imei",
            "id": "990013907835573"
          },
          "type": "object",
          "properties": {
            "id": {
              "description": "The value of the device identifier.",
              "example": "990013907835573",
              "type": "string"
            },
            "kind": {
              "description": "The type of the device identifier. Valid types of identifiers are:ESN (decimal),EID,ICCID (up to 20 digits),IMEI (up to 16 digits),MDN,MEID (hexadecimal),MSISDN.",
              "example": "imei",
              "type": "string"
            }
          }
        },
        "requestExpirationTime": {
          "description": "The time at which the request expires.",
          "type": "string"
        },
        "requestType": {
          "description": "The type of request.",
          "type": "string"
        }
      }
    }
- RetrieveMonitorsRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "RetrieveMonitorsRequest",
      "title": "RetrieveMonitorsRequest",
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The name of a billing account.",
          "example": "0868924207-00001",
          "type": "string"
        },
        "devices": {
          "description": "The devices for which you want to restore service, specified by device identifier.",
          "example": [
            {
              "deviceIds": [
                {
                  "id": "89148000000800139708",
                  "kind": "iccid"
                }
              ]
            }
          ],
          "type": "array",
          "items": {
            "id": "AccountDeviceList",
            "title": "AccountDeviceList",
            "description": "A list of deviceId objects to use when requesting information from multiple devices.",
            "example": {
              "deviceIds": [
                {
                  "kind": "imei",
                  "id": "990013907835573"
                },
                {
                  "kind": "iccid",
                  "id": "89141390780800784259"
                }
              ]
            },
            "type": "object",
            "properties": {
              "deviceIds": {
                "description": "All identifiers for the device.",
                "example": [
                  {
                    "kind": "imei",
                    "id": "990013907835573"
                  },
                  {
                    "kind": "iccid",
                    "id": "89141390780800784259"
                  }
                ],
                "type": "array",
                "items": {
                  "id": "DeviceId",
                  "title": "DeviceId",
                  "description": "An identifier for a single device.",
                  "example": {
                    "kind": "imei",
                    "id": "990013907835573"
                  },
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The value of the device identifier.",
                      "example": "990013907835573",
                      "type": "string"
                    },
                    "kind": {
                      "description": "The type of the device identifier. Valid types of identifiers are:ESN (decimal),EID,ICCID (up to 20 digits),IMEI (up to 16 digits),MDN,MEID (hexadecimal),MSISDN.",
                      "example": "imei",
                      "type": "string"
                    }
                  }
                }
              },
              "ipAddress": {
                "type": "string",
                "minLength": 3,
                "maxLength": 32,
                "pattern": "^[0-9].[0-9].[0-9].[0-9]{3,32}$"
              }
            }
          }
        },
        "monitorType": {
          "description": "The name of a billing account.",
          "example": "monitorType",
          "type": "string"
        }
      }
    }
- CarrierActivateRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CarrierActivateRequest",
      "title": "CarrierActivateRequest",
      "description": "Request for carrier activation.",
      "example": {
        "devices": [
          {
            "deviceIds": [
              {
                "kind": "imei",
                "id": "990013907835573"
              },
              {
                "kind": "iccid",
                "id": "89141390780800784259"
              }
            ]
          },
          {
            "deviceIds": [
              {
                "kind": "imei",
                "id": "990013907884259"
              },
              {
                "kind": "iccid",
                "id": "89141390780800735573"
              }
            ]
          }
        ],
        "accountName": "0868924207-00001",
        "servicePlan": "m2m_4G",
        "mdnZipCode": "98801",
        "customFields": [
          {
            "key": "CustomField2",
            "value": "SuperVend"
          }
        ],
        "groupName": "4G West",
        "primaryPlaceOfUse": {
          "customerName": {
            "title": "President",
            "firstName": "Zaffod",
            "lastName": "Beeblebrox"
          },
          "address": {
            "addressLine1": "1600 Pennsylvania Ave NW",
            "city": "Washington",
            "state": "DC",
            "zip": "20500",
            "country": "USA"
          }
        }
      },
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The name of a billing account.",
          "example": "0868924207-00001",
          "type": "string"
        },
        "carrierIpPoolName": {
          "description": "The private IP pool (Carrier Group Name) from which your device IP addresses will be derived.",
          "type": "string"
        },
        "carrierName": {
          "description": "The carrier that will perform the activation.",
          "type": "string"
        },
        "costCenterCode": {
          "description": "A string to identify the cost center that the device is associated with.",
          "type": "string"
        },
        "customFields": {
          "description": "A user-defined descriptive field, limited to 50 characters.",
          "example": [
            {
              "key": "CustomField2",
              "value": "SuperVend"
            }
          ],
          "type": "array",
          "items": {
            "id": "CustomFields",
            "title": "CustomFields",
            "description": "Custom data that can be included using key-value pairs.",
            "example": {
              "key": "CustomField2",
              "value": "SuperVend"
            },
            "type": "object",
            "properties": {
              "key": {
                "description": "The key for an extended attribute.",
                "example": "CustomField2",
                "type": "string"
              },
              "value": {
                "description": "The value of an extended attribute.",
                "example": "SuperVend",
                "type": "string"
              }
            }
          }
        },
        "devices": {
          "description": "Up to 10,000 devices for which you want to activate service, specified by device identifier.",
          "example": [
            {
              "deviceIds": [
                {
                  "kind": "imei",
                  "id": "990013907835573"
                },
                {
                  "kind": "iccid",
                  "id": "89141390780800784259"
                }
              ]
            },
            {
              "deviceIds": [
                {
                  "kind": "imei",
                  "id": "990013907884259"
                },
                {
                  "kind": "iccid",
                  "id": "89141390780800735573"
                }
              ]
            }
          ],
          "type": "array",
          "items": {
            "id": "AccountDeviceList",
            "title": "AccountDeviceList",
            "description": "A list of deviceId objects to use when requesting information from multiple devices.",
            "example": {
              "deviceIds": [
                {
                  "kind": "imei",
                  "id": "990013907835573"
                },
                {
                  "kind": "iccid",
                  "id": "89141390780800784259"
                }
              ]
            },
            "type": "object",
            "properties": {
              "deviceIds": {
                "description": "All identifiers for the device.",
                "example": [
                  {
                    "kind": "imei",
                    "id": "990013907835573"
                  },
                  {
                    "kind": "iccid",
                    "id": "89141390780800784259"
                  }
                ],
                "type": "array",
                "items": {
                  "id": "DeviceId",
                  "title": "DeviceId",
                  "description": "An identifier for a single device.",
                  "example": {
                    "kind": "imei",
                    "id": "990013907835573"
                  },
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The value of the device identifier.",
                      "example": "990013907835573",
                      "type": "string"
                    },
                    "kind": {
                      "description": "The type of the device identifier. Valid types of identifiers are:ESN (decimal),EID,ICCID (up to 20 digits),IMEI (up to 16 digits),MDN,MEID (hexadecimal),MSISDN.",
                      "example": "imei",
                      "type": "string"
                    }
                  }
                }
              },
              "ipAddress": {
                "type": "string",
                "minLength": 3,
                "maxLength": 32,
                "pattern": "^[0-9].[0-9].[0-9].[0-9]{3,32}$"
              }
            }
          }
        },
        "groupName": {
          "description": "If you specify devices by ID in the devices parameters, this is the name of a device group that the devices should be added to.If you don't specify individual devices with the devices parameter, you can provide the name of a device group to activate all devices in that group.",
          "example": "4G West",
          "type": "string"
        },
        "leadId": {
          "description": "The ID of a “Qualified” or “Closed - Won” VPP customer lead, which is used with other values to determine MDN assignment, taxation, and compensation.",
          "type": "string"
        },
        "mdnZipCode": {
          "description": "The Zip code of the location where the line of service will primarily be used, or a Zip code that you have been told to use with these devices. For accounts that are configured for geographic numbering, this is the ZIP code from which the MDN will be derived.",
          "example": "98801",
          "type": "string"
        },
        "primaryPlaceOfUse": {
          "id": "PlaceOfUse",
          "title": "PlaceOfUse",
          "description": "The customer name and the address of the device's primary place of use. Leave these fields empty to use the account profile address as the primary place of use. These values will be applied to all devices in the request.If the account is enabled for non-geographic MDNs and the device supports it, the primaryPlaceOfUse address will also be used to derive the MDN for the device.",
          "example": {
            "customerName": {
              "title": "President",
              "firstName": "Zaffod",
              "lastName": "Beeblebrox"
            },
            "address": {
              "addressLine1": "1600 Pennsylvania Ave NW",
              "city": "Washington",
              "state": "DC",
              "zip": "20500",
              "country": "USA"
            }
          },
          "type": "object",
          "properties": {
            "address": {
              "id": "Address",
              "title": "Address",
              "description": "The customer address for the line's primary place of use, for line usage taxation.",
              "example": {
                "addressLine1": "1600 Pennsylvania Ave NW",
                "city": "Washington",
                "state": "DC",
                "zip": "20500",
                "country": "USA"
              },
              "type": "object",
              "properties": {
                "addressLine1": {
                  "description": "The street address for the line's primary place of use. This must be a physical address for taxation; it cannot be a P.O. box.",
                  "example": "1600 Pennsylvania Ave NW",
                  "type": "string"
                },
                "city": {
                  "description": "The city for the line's primary place of use.",
                  "example": "Washington",
                  "type": "string"
                },
                "state": {
                  "description": "The state for the line's primary place of use.",
                  "example": "DC",
                  "type": "string"
                },
                "zip": {
                  "description": "The ZIP code for the line's primary place of use.",
                  "example": "20500",
                  "type": "string"
                },
                "country": {
                  "description": "Either “US” or “USA” for the country of the line's primary place of use.",
                  "example": "USA",
                  "type": "string"
                },
                "addressLine2": {
                  "description": "Optional additional street address information.",
                  "type": "string"
                },
                "zip4": {
                  "description": "The ZIP+4 for the line's primary place of use.",
                  "type": "string"
                },
                "phone": {
                  "description": "A phone number where the customer can be reached.",
                  "type": "string"
                },
                "phoneType": {
                  "description": "A single letter to indicate the customer phone type.",
                  "type": "string"
                },
                "emailAddress": {
                  "description": "An email address for the customer.",
                  "type": "string"
                }
              },
              "required": [
                "addressLine1",
                "city",
                "state",
                "zip",
                "country"
              ]
            },
            "customerName": {
              "id": "CustomerName",
              "title": "CustomerName",
              "description": "The customer name to be used for line usage taxation.",
              "example": {
                "title": "President",
                "firstName": "Zaffod",
                "lastName": "Beeblebrox"
              },
              "type": "object",
              "properties": {
                "firstName": {
                  "description": "The customer's first name.",
                  "example": "Zaffod",
                  "type": "string"
                },
                "lastName": {
                  "description": "The customer's last name.",
                  "example": "Beeblebrox",
                  "type": "string"
                },
                "title": {
                  "description": "An optional title for the customer, such as “Mr.” or “Dr.”",
                  "example": "President",
                  "type": "string"
                },
                "middleName": {
                  "description": "The customer's middle name.",
                  "type": "string"
                },
                "suffix": {
                  "description": "An optional suffix for the customer name, such as “Jr.” or “III.”",
                  "type": "string"
                }
              },
              "required": [
                "firstName",
                "lastName"
              ]
            }
          }
        },
        "publicIpRestriction": {
          "description": "For devices with static IP addresses on the public network, this specifies whether the devices have general access to the Internet.",
          "type": "string"
        },
        "servicePlan": {
          "description": "The service plan code that you want to assign to all specified devices.",
          "example": "m2m_4G",
          "type": "string"
        },
        "skuNumber": {
          "description": "The Stock Keeping Unit (SKU) of a 4G device type can be used with ICCID device identifiers in lieu of an IMEI when activating 4G devices. The SkuNumber will be used with all devices in the request, so all devices must be of the same type.",
          "example": "7640111922001",
          "type": "string"
        }
      }
    }
- CarrierDeactivateRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CarrierDeactivateRequest",
      "title": "CarrierDeactivateRequest",
      "description": "Request to deactivate a carrier.",
      "example": {
        "devices": [
          {
            "deviceIds": [
              {
                "id": "20-digit ICCID",
                "kind": "iccid"
              }
            ]
          }
        ],
        "reasonCode": "FF",
        "etfWaiver": true
      },
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The name of a billing account.",
          "example": "0000123456-00001",
          "type": "string"
        },
        "customFields": {
          "description": "Custom field names and values, if you want to only include devices that have matching values.",
          "type": "array",
          "items": {
            "id": "CustomFields",
            "title": "CustomFields",
            "description": "Custom data that can be included using key-value pairs.",
            "example": {
              "key": "CustomField2",
              "value": "SuperVend"
            },
            "type": "object",
            "properties": {
              "key": {
                "description": "The key for an extended attribute.",
                "example": "CustomField2",
                "type": "string"
              },
              "value": {
                "description": "The value of an extended attribute.",
                "example": "SuperVend",
                "type": "string"
              }
            }
          }
        },
        "devices": {
          "description": "The devices for which you want to deactivate service, specified by device identifier.",
          "example": [
            {
              "deviceIds": [
                {
                  "id": "20-digit ICCID",
                  "kind": "iccid"
                }
              ]
            },
            {
              "deviceIds": [
                {
                  "id": "20-digit ICCID",
                  "kind": "iccid"
                }
              ]
            }
          ],
          "type": "array",
          "items": {
            "id": "AccountDeviceList",
            "title": "AccountDeviceList",
            "description": "A list of deviceId objects to use when requesting information from multiple devices.",
            "example": {
              "deviceIds": [
                {
                  "kind": "imei",
                  "id": "990013907835573"
                },
                {
                  "kind": "iccid",
                  "id": "89141390780800784259"
                }
              ]
            },
            "type": "object",
            "properties": {
              "deviceIds": {
                "description": "All identifiers for the device.",
                "example": [
                  {
                    "kind": "imei",
                    "id": "990013907835573"
                  },
                  {
                    "kind": "iccid",
                    "id": "89141390780800784259"
                  }
                ],
                "type": "array",
                "items": {
                  "id": "DeviceId",
                  "title": "DeviceId",
                  "description": "An identifier for a single device.",
                  "example": {
                    "kind": "imei",
                    "id": "990013907835573"
                  },
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The value of the device identifier.",
                      "example": "990013907835573",
                      "type": "string"
                    },
                    "kind": {
                      "description": "The type of the device identifier. Valid types of identifiers are:ESN (decimal),EID,ICCID (up to 20 digits),IMEI (up to 16 digits),MDN,MEID (hexadecimal),MSISDN.",
                      "example": "imei",
                      "type": "string"
                    }
                  }
                }
              },
              "ipAddress": {
                "type": "string",
                "minLength": 3,
                "maxLength": 32,
                "pattern": "^[0-9].[0-9].[0-9].[0-9]{3,32}$"
              }
            }
          }
        },
        "etfWaiver": {
          "description": "Fees may be assessed for deactivating Verizon Wireless devices, depending on the account contract. The etfWaiver parameter waives the Early Termination Fee (ETF), if applicable.",
          "example": true,
          "type": "boolean"
        },
        "groupName": {
          "description": "The name of a device group, if you want to deactivate all devices in that group.",
          "type": "string"
        },
        "reasonCode": {
          "description": "Code identifying the reason for the deactivation. Currently the only valid reason code is “FF”, which corresponds to General Admin/Maintenance.",
          "example": "FF",
          "type": "string"
        },
        "servicePlan": {
          "description": "The name of a service plan, if you want to only include devices that have that service plan.",
          "type": "string"
        },
        "deleteAfterDeactivation": {
          "type": "boolean"
        }
      }
    }
- CarrierInformation: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CarrierInformation",
      "title": "CarrierInformation",
      "description": "Information about the carrier.",
      "example": {
        "carrierName": "Verizon Wireless",
        "servicePlan": "m2m4G",
        "state": "active"
      },
      "type": "object",
      "properties": {
        "carrierName": {
          "description": "The carrier that will perform the activation. This parameter is only required if you have more than one carrier.",
          "example": "Verizon Wireless",
          "type": "string"
        },
        "servicePlan": {
          "description": "The service plan code that is assigned to the device.",
          "example": "m2m4G",
          "type": "string"
        },
        "state": {
          "description": "The device state. Valid values include: Activate, Suspend, Deactive, Pre-active.",
          "example": "active",
          "type": "string"
        }
      }
    }
- ChangeDeviceIdRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ChangeDeviceIdRequest",
      "title": "ChangeDeviceIdRequest",
      "description": "Changes the identifier of a 3G or 4G device to match hardware changes made for a line of service. Use this request to transfer the line of service and the MDN to new hardware, or to change the MDN.",
      "example": {
        "deviceIds": [
          {
            "id": "42590078891480000008",
            "kind": "iccid"
          }
        ],
        "change4gOption": "ChangeMSISDN",
        "assignNonGeoMdn": false,
        "npaNxx": "509393",
        "servicePlan": "M2M2GB"
      },
      "type": "object",
      "properties": {
        "assignNonGeoMdn": {
          "description": "Set to true to assign a non-Geo MDN and MSISDN, or false to assign an MDN and MSISDN from a specific NPA-NXX.",
          "example": false,
          "type": "boolean"
        },
        "change4gOption": {
          "description": "The type of change that you want to make for a 4G device.",
          "example": "ChangeICCID",
          "type": "string"
        },
        "deviceIds": {
          "description": "The device that you want to change, specified by a device identifier.",
          "example": [
            {
              "id": "42590078891480000008",
              "kind": "iccid"
            }
          ],
          "type": "array",
          "items": {
            "id": "DeviceId",
            "title": "DeviceId",
            "description": "An identifier for a single device.",
            "example": {
              "kind": "imei",
[...]
