#%RAML 1.0
title: Verizon
version: '1.3'
baseUri: https://5gedge.verizon.com/api/mec/eds
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: Verizon
  content: The Verizon Edge Discovery Service API can direct your application clients to connect to the optimal service endpoints for your Multi-access Edge Computing (MEC) applications for every session. The Edge Discovery Service takes into account the current location of a device, its IP anchor location, current network traffic and other factors to determine which 5G Edge platform a device should connect to.
securitySchemes:
  thingspace_oauth:
    type: OAuth 2.0
    settings:
      authorizationUri: ''
      accessTokenUri: https://thingspace.verizon.com/api/ts/v1/oauth2/token
      authorizationGrants:
      - client_credentials
      scopes:
      - discovery:read
      - serviceprofile:read
      - serviceprofile:write
      - serviceregistry:read
      - serviceregistry:write
      - ts.mec.fullaccess
      - ts.mec.limitaccess
      - ts.application.ro
      - edge:discovery:read
      - edge:serviceprofile:read
      - edge:serviceprofile:write
      - edge:serviceregistry:read
      - edge:serviceregistry:write
      - read
      - write
  VZ-M2M-Token:
    type: Pass Through
    description: M2M Session Token ([How to generate an M2M session token?](page:getting-started/5g-edge-developer-creds-token#obtaining-a-vz-m2m-sessiontoken-programmatically))
    describedBy:
      headers:
        VZ-M2M-Token:
          required: true
          displayName: VZ-M2M-Token
          description: M2M Session Token ([How to generate an M2M session token?](page:getting-started/5g-edge-developer-creds-token#obtaining-a-vz-m2m-sessiontoken-programmatically))
          type: string
securedBy:
- thingspace_oauth:
    scopes:
    - edge:discovery:read
    - edge:serviceprofile:read
    - edge:serviceprofile:write
    - edge:serviceregistry:read
    - edge:serviceregistry:write
    - ts.application.ro
    - ts.mec.fullaccess
    - ts.mec.limitaccess
- VZ-M2M-Token
types:
  DeleteServiceProfileResult:
    displayName: DeleteServiceProfileResult
    description: Response on successful deletion of service profile.
    type: object
    properties:
      status:
        required: false
        example:
          value: Success
        displayName: status
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      message:
        required: false
        example:
          value: Service Profile Deleted
        displayName: message
        type: string
        maxLength: 32
  UpdateServiceProfileResult:
    displayName: UpdateServiceProfileResult
    description: Response on successful update of service profile.
    type: object
    properties:
      status:
        required: false
        example:
          value: Success
        displayName: status
        description: HTTP status code.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      message:
        required: false
        example:
          value: Service Profile Updated
        displayName: message
        description: Service Profile that are updated or error details in case of an error.
        type: string
        maxLength: 32
  ListServiceProfilesResult:
    displayName: ListServiceProfilesResult
    description: Response on successful retrieval of service profiles.
    type: object
    properties:
      status:
        required: false
        example:
          value: Success
        displayName: status
        description: HTTP status code.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      data:
        required: false
        displayName: data
        description: A comma delimited list of all the service profiles registered under your API key.
        type: array
        uniqueItems: false
        maxItems: 100
        items:
          type: string
          maxLength: 32
  CreateServiceProfileResult:
    displayName: CreateServiceProfileResult
    description: A successful request returns a serviceProfileId that you can use in subsequent requests.
    type: object
    properties:
      serviceProfileId:
        required: false
        example:
          value: 4054ea9a-593e-4776-b488-697b1bfa4f3b
        displayName: serviceProfileId
        description: Unique identifier for a service profile.
        type: string
  DeregisterServiceEndpointResult:
    displayName: DeregisterServiceEndpointResult
    description: Response to deregister an application's Service Endpoint from one or more Multi-access Edge Compute (MEC) Platforms.
    type: object
    properties:
      status:
        required: false
        example:
          value: Success
        displayName: status
        description: HTTP status code.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      message:
        required: false
        example:
          value: EdgeAppServicesID Deleted
        displayName: message
        description: EdgeAppServicesID that are deleted or error details in case of an error.
        type: string
        maxLength: 32
  UpdateServiceEndpointResult:
    displayName: UpdateServiceEndpointResult
    description: Response to update registered Service Endpoint information.
    type: object
    properties:
      status:
        required: false
        example:
          value: Success
        displayName: status
        description: HTTP status code.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      message:
        required: false
        example:
          value: EdgeAppServices are updated
        displayName: message
        description: EdgeAppServices are updated or error details in case of an error.
        type: string
        maxLength: 64
  ListAllServiceEndpointsResult:
    displayName: ListAllServiceEndpointsResult
    description: Response on successful retrieval of all registered service endpoints.
    type: object
    properties:
      status:
        required: false
        default: success
        displayName: status
        description: HTTP status code.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      data:
        required: false
        displayName: data
        description: A comma delimited list of all registered service endpoints.
        type: array
        uniqueItems: false
        maxItems: 100
        items:
          type: string
          maxLength: 32
  RegisterServiceEndpointResult:
    displayName: RegisterServiceEndpointResult
    description: Response to register Service Endpoints of a deployed application to specified Muli-access Edge Compute (MEC) Platforms.
    type: object
    properties:
      serviceEndpointsId:
        required: false
        example:
          value: 43f3f7bb-d6c5-4bad-b081-9a3a0df2db98
        displayName: serviceEndpointsId
        description: A system-defined string identifier representing one or more registered Service Endpoints.
        type: string
  ListOptimalServiceEndpointsResult:
    displayName: ListOptimalServiceEndpointsResult
    description: Response on successful retrieval of optimal service endpoints for clients.
    type: object
    properties:
      serviceEndpoints:
        required: false
        displayName: serviceEndpoints
        description: An array of optimal Service Endpoint IDs for clients to connect to.
        type: array
        uniqueItems: false
        maxItems: 100
        items:
          type: ResourcesEdgeHostedService
  ListRegionsResult:
    displayName: ListRegionsResult
    description: Response to return an array of all regions in the Verizon 5G Edge service. You can use the region IDs from the response to find optimal Edge platforms or service endpoints.
    type: object
    properties:
      regions:
        required: false
        displayName: regions
        description: An array of all regions in the Verizon 5G Edge service.
        type: array
        uniqueItems: false
        maxItems: 100
        items:
          type: Region
  ListMECPlatformsResult:
    displayName: ListMECPlatformsResult
    description: Response to return the optimal 5G Edge platforms for deployment based on a region, service profile of the service that you want to deploy or user equipment.
    type: object
    properties:
      MECPlatforms:
        required: false
        displayName: MECPlatforms
        description: A list of optimal MEC Platforms where you can register your deployed application.
        type: array
        uniqueItems: false
        maxItems: 100
        items:
          type: MECPlatformResource
  ResourcesServiceProfile:
    displayName: ResourcesServiceProfile
    description: Information about the resource requirements and service characteristics of an edge application. The `maxLatencyMs` and `clientType` parameters are both required in the request body. **Note:** The `maxLatencyMs` value must be submitted in multiples of 5. Does not include serviceProfileId
    type: object
    properties:
      clientType:
        required: true
        displayName: clientType
        description: The category of application client.
        type: string
        enum:
        - V2X
        - ComputerVision
        - MachineLearning
        - IoT
        - Gaming
        - AR
        - VR
        - Analytics
        - Robotics
      ecspFilter:
        required: false
        example:
          value: Verizon
        displayName: ecspFilter
        description: Identity of the preferred Edge Computing Service Provider.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      clientSchedule:
        required: false
        example:
          value: time windows
        displayName: clientSchedule
        description: The expected operation schedule of the application client (e.g. time windows).
        type: string
        pattern: ^[A-Za-z0-9 ]{3,32}$
        maxLength: 32
      clientServiceArea:
        required: false
        example:
          value: BAY AREA
        displayName: clientServiceArea
        description: The expected location(s) (e.g. route) of the hosting UE during the Client's operation schedule.
        type: string
        pattern: ^[A-Za-z0-9 ]{3,32}$
        maxLength: 32
      networkResources:
        required: false
        displayName: networkResources
        description: Network resources of a service profile.
        type: NetworkResourcesType
      computeResources:
        required: false
        displayName: computeResources
        description: Compute resources of a service profile.
        type: ComputeResourcesType
      properties:
        required: false
        displayName: properties
        description: Additional service support information for the MEC platform.
        type: MECPlatformsAdditionalSupportInfo
  ResourcesServiceProfileWithId:
    displayName: ResourcesServiceProfileWithId
    description: Information about the resource requirements and service characteristics of an edge application. Includes serviceProfileId. Used when retrieving a service profile.
    type: object
    properties:
      serviceProfileId:
        required: false
        example:
          value: 4054ea9a-593e-4776-b488-697b1bfa4f3b
        displayName: serviceProfileId
        description: Unique identifier for a service profile.
        type: string
      clientType:
        required: true
        displayName: clientType
        description: The category of application client.
        type: string
        enum:
        - V2X
        - ComputerVision
        - MachineLearning
        - IoT
        - Gaming
        - AR
        - VR
        - Analytics
        - Robotics
      ecspFilter:
        required: false
        example:
          value: Verizon
        displayName: ecspFilter
        description: Identity of the preferred Edge Computing Service Provider.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      clientSchedule:
        required: false
        example:
          value: time windows
        displayName: clientSchedule
        description: The expected operation schedule of the application client (e.g. time windows).
        type: string
        pattern: ^[A-Za-z0-9 ]{3,32}$
        maxLength: 32
      clientServiceArea:
        required: false
        example:
          value: BAY AREA
        displayName: clientServiceArea
        description: The expected location(s) (e.g. route) of the hosting UE during the Client's operation schedule.
        type: string
        pattern: ^[A-Za-z0-9 ]{3,32}$
        maxLength: 32
      networkResources:
        required: false
        displayName: networkResources
        description: Network resources of a service profile.
        type: NetworkResourcesType
      computeResources:
        required: false
        displayName: computeResources
        description: Compute resources of a service profile.
        type: ComputeResourcesType
      properties:
        required: false
        displayName: properties
        description: Additional service support information for the MEC platform.
        type: MECPlatformsAdditionalSupportInfo
  MECPlatformsAdditionalSupportInfo:
    displayName: MECPlatformsAdditionalSupportInfo
    description: Additional service support information for the MEC platform.
    type: object
    properties:
      type:
        required: false
        displayName: type
        description: Type of additional service support information for the MEC platform.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      data:
        required: false
        displayName: data
        description: Data about additional service support information for the MEC platform.
        type: MECPlatformsAdditionalSupportInfoData
  MECPlatformsAdditionalSupportInfoData:
    displayName: MECPlatformsAdditionalSupportInfoData
    description: Data about additional service support information for the MEC platform.
    type: object
    properties:
      additionalInfo:
        required: false
        displayName: additionalInfo
        type: string
        maxLength: 32
  ResourcesEdgeHostedService:
    displayName: ResourcesEdgeHostedService
    description: Edge hosted service represented by Service Endpoint definition.
    type: object
    properties:
      ern:
        required: false
        example:
          value: LASVEGAS_NV_WL
        displayName: ern
        description: Edge Resource Name. A string identifier for a set of edge resources.
        type: string
        pattern: ^[A-Za-z0-9-_]{3,32}$
        maxLength: 32
      serviceEndpoint:
        required: false
        displayName: serviceEndpoint
        description: Service Endpoint path, address, and port.
        type: ResourcesServiceEndpoint
      applicationServerProviderId:
        required: false
        example:
          value: AWS
        displayName: applicationServerProviderId
        description: Unique ID representing the Edge Application Provider.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      applicationId:
        required: false
        example:
          value: IogspaceJan15
        displayName: applicationId
        description: Unique ID representing the Edge Application.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      serviceDescription:
        required: false
        example:
          value: ThieIt
        displayName: serviceDescription
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
  ResourcesEdgeHostedServiceWithProfileId:
    displayName: ResourcesEdgeHostedServiceWithProfileId
    description: Edge hosted service represented by Service Endpoint definition.
    type: object
    properties:
      ern:
        required: false
        example:
          value: us-east-1-wl1-atl-wlz-1
        displayName: ern
        description: Edge Resource Name. A string identifier for a set of edge resources.
        type: string
        pattern: ^[A-Za-z0-9-]{3,32}$
        maxLength: 32
      serviceEndpoint:
        required: false
        displayName: serviceEndpoint
        description: Service Endpoint path, address, and port.
        type: ResourcesServiceEndpoint
      applicationServerProviderId:
        required: false
        example:
          value: AWS
        displayName: applicationServerProviderId
        description: Unique ID representing the Edge Application Provider.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      applicationId:
        required: false
        example:
          value: IogspaceJan15
        displayName: applicationId
        description: Unique ID representing the Edge Application.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      serviceDescription:
        required: false
        example:
          value: ThieIt
        displayName: serviceDescription
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      serviceProfileID:
        required: false
        example:
          value: 4054ea9a-593e-4776-b488-697b1bfa4f3b
        displayName: serviceProfileID
        description: The system assigned ID of the service profile.
        type: string
  ResourcesServiceEndpoint:
    displayName: ResourcesServiceEndpoint
    description: Service Endpoint path, address, and port.
    type: object
    properties:
      URI:
        required: false
        example:
          value: http://base_path/some_segment/id
        displayName: URI
        description: URI of Service Endpoint if available.
        type: string
        pattern: '\w+:(/?/?)[^\s]+'
        maxLength: 32
      FQDN:
        required: false
        example:
          value: thingtest.verizon.com
        displayName: FQDN
        description: FQDN of Service Endpoint if available.
        type: string
        pattern: ^[A-Za-z0-9.]{3,32}$
        maxLength: 32
      IPv4Address:
        required: false
        example:
          value: 192.168.11.10
        displayName: IPv4Address
        description: IPv4 Address of Service Endpoint if available.
        type: string
        maxLength: 32
      IPv6Address:
        required: false
        example:
          value: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
        displayName: IPv6Address
        description: IPv6 Address of Service Endpoint if available.
        type: string
        maxLength: 64
      port:
        required: false
        example:
          value: 1234
        displayName: port
        description: Port information of Service Endpoint if IPv4 or IPv6 is mentioned.
        type: integer
        minimum: 1
        maximum: 10000
        format: int32
  Region:
    displayName: Region
    description: Information representing a certain geographical or logical area where MEC resources and services are provided.
    type: object
    properties:
      regionId:
        required: false
        example:
          value: consectetur
        displayName: regionId
        description: The unique identifier of the region.
        type:
        - string
        - nil
      name:
        required: false
        example:
          value: US_EAST_1
        displayName: name
        description: A relevant and identifiable region name.
        type:
        - string
        - nil
        pattern: ^[A-Za-z0-9_]{3,32}$
        maxLength: 32
      countryCode:
        required: false
        example:
          value: nr
        displayName: countryCode
        description: A two-character alpha code for a country, based on ISO 3166-1 alpha-2. This is future functionality, so the value returned is 'null'.
        type:
        - string
        - nil
        pattern: ^[A-Za-z0-9]{2,3}$
        maxLength: 3
      metro:
        required: false
        example:
          value: e1D
        displayName: metro
        description: The metropolitan area or 'City' value.  This is future functionality, so the value returned is 'null'.
        type:
        - string
        - nil
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      area:
        required: false
        example:
          value: IdUESF
        displayName: area
        description: This is a sub-set of 'City' and is similar to 'Zone'. This is future functionality, so the value returned is 'null'.
        type:
        - string
        - nil
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
  MECPlatformResource:
    displayName: MECPlatformResource
    description: 5G Edge platform used for deployment of a service. The ern of each platform contains the name of the matching AWS Wavelength zone that can be used when deploying.
    type: object
    properties:
      ern:
        required: false
        example:
          value: 5x4VBwmfZbzSL3
        displayName: ern
        description: Edge Resource Name. A string identifier for a set of edge resources.
        type: string
        pattern: ^[A-Za-z0-9-]{3,32}$
        maxLength: 32
      zone:
        required: false
        example:
          value: e5oV52kMGjDLhnJSsLJZL
        displayName: zone
        description: Unique identifier representing a zone. *Note:* This will have a null value as a placeholder.
        type:
        - string
        - nil
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      region:
        required: false
        example:
          value: US_WEST_2
        displayName: region
        description: MEC region name. Current valid values are US_WEST_2 and US_EAST_1.
        type: string
      status:
        required: false
        default: unknown
        displayName: status
        description: Status of the MEC Platform (default is 'unknown')
        type: string
        enum:
        - Active
        - Inactive
        - unknown
      properties:
        required: false
        displayName: properties
        type: any
  NetworkResourcesType:
    displayName: NetworkResourcesType
    description: Network resources of a service profile.
    type: object
    properties:
      minBandwidthKbits:
        required: false
        example:
          value: 1
        displayName: minBandwidthKbits
        description: Minimum required connection bandwidth in Kbit/s for the application.
        type: integer
        minimum: 1
        maximum: 10000
        format: int32
      serviceContinuitySupport:
        required: false
        example:
          value: true
        displayName: serviceContinuitySupport
        description: Indicates if service continuity support is required or not for the application.
        type: boolean
      maxRequestRate:
        required: false
        example:
          value: 15
        displayName: maxRequestRate
        description: Maximum request rate that the application can handle.
        type: integer
        minimum: 1
        maximum: 100
        format: int32
      maxLatencyMs:
        required: true
        example:
          value: 20
        displayName: maxLatencyMs
        description: 'Maximum response time or latency that the application can handle, in milliseconds. Note: this value must be in multiples of 5.'
        type: integer
        minimum: 5
        maximum: 1000
        format: int32
      minAvailability:
        required: false
        example:
          value: 1
        displayName: minAvailability
        description: Minimum availability required for the server.
        type: integer
        minimum: 1
        maximum: 100
        format: int32
  ComputeResourcesType:
    displayName: ComputeResourcesType
    description: Compute resources of a service profile.
    type: object
    properties:
      GPU:
        required: false
        displayName: GPU
        description: GPU resources of a service profile.
        type: GPU
      minRAMGB:
        required: false
        example:
          value: 1
        displayName: minRAMGB
        description: Minimum RAM required in Gigabytes.
        type: integer
        minimum: 1
        maximum: 100
        format: int32
      minStorageGB:
        required: false
        example:
          value: 1
        displayName: minStorageGB
        description: Minimum storage requirement in Gigabytes.
        type: integer
        minimum: 1
        maximum: 100
        format: int32
  GPU:
    displayName: GPU
    description: GPU resources of a service profile.
    type: object
    properties:
      minCoreClockMHz:
        required: false
        example:
          value: 1
        displayName: minCoreClockMHz
        description: Minimum Core Clock value in megahertz.
        type: integer
        minimum: 1
        maximum: 10000
        format: int32
      minMemoryClockMHz:
        required: false
        example:
          value: 35740
        displayName: minMemoryClockMHz
        description: Minimum Memory Clock value in megahertz.
        type: integer
        minimum: 1
        maximum: 100000
        format: int32
      minBandwidthGBs:
        required: false
        example:
          value: 588
        displayName: minBandwidthGBs
        description: Minimum GPU bandwidth in GB/s.
        type: integer
        minimum: 1
        maximum: 1000
        format: int32
      minTFLOPS:
        required: false
        example:
          value: 33
        displayName: minTFLOPS
        description: Minimum Floating Point Operations Per Second in Teraflops.
        type: integer
        minimum: 1
        maximum: 100
        format: int32
  EdgeDiscoveryResult:
    displayName: EdgeDiscoveryResult
    description: Base type for all errors.
    type: object
    properties:
      status:
        required: true
        displayName: status
        description: HTTP status code or status of response.
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        maxLength: 32
      message:
        required: true
        displayName: message
        description: Error details.
        type: string
        maxLength: 32
      data:
        required: false
        displayName: data
        description: For cases where user input exceeds the boundary values an additional 'data' key will be returned with a relevant description.
        type: EdgeDiscoveryResultData
  EdgeDiscoveryResultData:
    displayName: EdgeDiscoveryResultData
    description: For cases where user input exceeds the boundary values an additional 'data' key will be returned with a relevant description.
    type: object
    properties:
      additionalMessage:
        required: false
        displayName: additionalMessage
        type: string
        maxLength: 32
  Account:
    example:
      value:
        accountName: Chintan_CPNStaticBulk
        accountNumber: 1234567890-77777
        organizationName: ChintanCPNBulk
        isProvisioningAllowed: true
        carriers:
        - Verizon Wireless
        features:
        - Static IP
        - Dynamic IP
        - Customer PN
        iPPools:
        - poolName: ACMESTATIC001
          poolType: Static IP
          isDefaultPool: true
        - poolName: ACMEDYNAMIC001
          poolType: Dynamic IP
          isDefaultPool: false
        servicePlans:
        - name: ''
          code: '92876'
          sizeKb: 1
          carrierServicePlanCode: ''
          extendedAttributes: []
        - name: ''
          code: '92876'
          sizeKb: 1
          carrierServicePlanCode: ''
          extendedAttributes: []
    displayName: Account
    description: Returns information about a specified account.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: Chintan_CPNStaticBulk
        displayName: accountName
        description: The name of the account.
        type: string
      accountNumber:
        required: false
        example:
          value: 1234567890-77777
        displayName: accountNumber
        description: The billing number of the account.
        type: string
      organizationName:
        required: false
        example:
          value: ChintanCPNBulk
        displayName: organizationName
        description: The name of the organization that the account is part of.
        type: string
      isProvisioningAllowed:
        required: false
        example:
          value: true
        displayName: isProvisioningAllowed
        description: True if devices can be added to the account and activated with a single request. False if devices must be added to the account before they can be activated.
        type: boolean
      carriers:
        required: false
        example:
          value:
          - Verizon Wireless
        displayName: carriers
        description: The names of all carriers for the account.
        type: array
        items:
          type: string
      features:
        required: false
        example:
          value:
          - Static IP
          - Dynamic IP
          - Customer PN
        displayName: features
        description: The names of features that are enabled for the account.
        type: array
        items:
          type: string
      iPPools:
        required: false
        example:
          value:
          - poolName: ACMESTATIC001
            poolType: Static IP
            isDefaultPool: true
          - poolName: ACMEDYNAMIC001
            poolType: Dynamic IP
            isDefaultPool: false
        displayName: iPPools
        description: Array of IP pools that are available to the account.
        type: array
        items:
          type: IPPool
      servicePlans:
        required: false
        example:
          value:
          - name: ''
            code: '92876'
            sizeKb: 1
            carrierServicePlanCode: ''
            extendedAttributes: []
          - name: ''
            code: '92876'
            sizeKb: 1
            carrierServicePlanCode: ''
            extendedAttributes: []
        displayName: servicePlans
        description: Array of service plans that are available to the account.
        type: array
        items:
          type: ServicePlan
  AddDevicesRequest:
    example:
      value:
        accountName: 0868924207-00001
        customFields:
        - key: CustomField2
          value: SuperVend
        devicesToAdd:
        - deviceIds:
          - kind: imei
            id: '990013907835573'
          - kind: iccid
            id: '89141390780800784259'
        - deviceIds:
          - kind: imei
            id: '990013907884259'
          - kind: iccid
            id: '89141390780800735573'
        groupName: West Region
        state: preactive
    displayName: AddDevicesRequest
    description: Request to add the devices.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0868924207-00001
        displayName: accountName
        description: The billing account to which the devices are added.
        type: string
      customFields:
        required: false
        example:
          value:
          - key: CustomField2
            value: SuperVend
        displayName: customFields
        description: The names and values for any custom fields that you want set for the devices as they are added to the account.
        type: array
        items:
          type: CustomFields
      devicesToAdd:
        required: false
        example:
          value:
          - deviceIds:
            - kind: imei
              id: '990013907835573'
            - kind: iccid
              id: '89141390780800784259'
          - deviceIds:
            - kind: imei
              id: '990013907884259'
            - kind: iccid
              id: '89141390780800735573'
        displayName: devicesToAdd
        description: The devices that you want to add.
        type: array
        items:
          type: AccountDeviceList
      groupName:
        required: false
        example:
          value: West Region
        displayName: groupName
        description: The name of a device group to add the devices to. They are added to the default device group if you don't include this parameter.
        type: string
      skuNumber:
        required: false
        displayName: skuNumber
        description: The Stock Keeping Unit (SKU) number of a 4G device type with an embedded SIM.
        type: string
      state:
        required: false
        example:
          value: preactive
        displayName: state
        description: The initial service state for the devices. The only valid state is “Preactive.”
        type: string
      smsrOid:
        required: false
        displayName: smsrOid
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        minLength: 3
        maxLength: 32
  AddDevicesResult:
    example:
      value:
        deviceIds:
        - id: '89148000000800784259'
          kind: iccid
        response: Success
    displayName: AddDevicesResult
    description: Contains the device identifiers and a success or failure response for each device in the request.
    type: object
    properties:
      deviceIds:
        required: false
        example:
          value:
          - id: '89148000000800784259'
            kind: iccid
        displayName: deviceIds
        description: Identifiers for the device.
        type: array
        items:
          type: DeviceId
      response:
        required: false
        example:
          value: Success
        displayName: response
        description: The success message or error message for the current device.
        type: string
  Address:
    example:
      value:
        addressLine1: 1600 Pennsylvania Ave NW
        city: Washington
        state: DC
        zip: '20500'
        country: USA
    displayName: Address
    description: The customer address for the line's primary place of use, for line usage taxation.
    type: object
    properties:
      addressLine1:
        required: true
        example:
          value: 1600 Pennsylvania Ave NW
        displayName: addressLine1
        description: The street address for the line's primary place of use. This must be a physical address for taxation; it cannot be a P.O. box.
        type: string
      addressLine2:
        required: false
        displayName: addressLine2
        description: Optional additional street address information.
        type: string
      city:
        required: true
        example:
          value: Washington
        displayName: city
        description: The city for the line's primary place of use.
        type: string
      state:
        required: true
        example:
          value: DC
        displayName: state
        description: The state for the line's primary place of use.
        type: string
      zip:
        required: true
        example:
          value: '20500'
        displayName: zip
        description: The ZIP code for the line's primary place of use.
        type: string
      zip4:
        required: false
        displayName: zip4
        description: The ZIP+4 for the line's primary place of use.
        type: string
      country:
        required: true
        example:
          value: USA
        displayName: country
        description: Either “US” or “USA” for the country of the line's primary place of use.
        type: string
      phone:
        required: false
        displayName: phone
        description: A phone number where the customer can be reached.
        type: string
      phoneType:
        required: false
        displayName: phoneType
        description: A single letter to indicate the customer phone type.
        type: string
      emailAddress:
        required: false
        displayName: emailAddress
        description: An email address for the customer.
        type: string
  ConnectivityManagementCallback:
    example:
      value:
        accountName: 0252012345-00001
        password: drowssap
        serviceName: DeviceUsage
        url: http://10.120.102.147:50569/CallbackListener/Usage.asmx
        username: zaffod
    displayName: ConnectivityManagementCallback
    description: Includes callback listeners that were registered through the Connectivity Management API.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0252012345-00001
        displayName: accountName
        description: The name of the billing account for which callback messages will be sent.
        type: string
      password:
        required: false
        example:
          value: drowssap
        displayName: password
        description: The password defined when a URL was registered for the callback service, or an empty string if no password was defined.
        type: string
      serviceName:
        required: false
        example:
          value: DeviceUsage
        displayName: serviceName
        description: The name of the callback service, which identifies the type and format of messages that will be sent to the registered URL.
        type: string
      url:
        required: false
        example:
          value: http://10.120.102.147:50569/CallbackListener/Usage.asmx
        displayName: url
        description: The address of the callback listening service where the ThingSpace Platform will send callback messages for the service type.
        type: string
      username:
        required: false
        example:
          value: zaffod
        displayName: username
        description: The username defined when a URL was registered for the callback service, or an empty string if no username was defined.
        type: string
  CallbackActionResult:
    example:
      value:
        accountName: 122333444-00002
        serviceName: CarrierService
    displayName: CallbackActionResult
    description: Response to a callback action.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 122333444-00002
        displayName: accountName
        description: The name of the billing account.
        type: string
      serviceName:
        required: false
        example:
          value: CarrierService
        displayName: serviceName
        description: The name of the callback service that was registered/deregistered.
        type: string
  CarrierActionsRequest:
    example:
      value:
        devices:
        - deviceIds:
          - id: '89148000000800139708'
            kind: iccid
    displayName: CarrierActionsRequest
    description: Request for a carrier action.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0868924207-00001
        displayName: accountName
        description: The name of a billing account.
        type: string
      customFields:
        required: false
        example:
          value:
          - key: CustomField2
            value: SuperVend
        displayName: customFields
        description: Custom field names and values, if you want to only include devices that have matching values.
        type: array
        items:
          type: CustomFields
      devices:
        required: false
        example:
          value:
          - deviceIds:
            - id: '89148000000800139708'
              kind: iccid
        displayName: devices
        description: The devices for which you want to restore service, specified by device identifier.
        type: array
        items:
          type: AccountDeviceList
      groupName:
        required: false
        example:
          value: 4G West
        displayName: groupName
        description: The name of a device group, if you want to restore service for all devices in that group.
        type: string
      servicePlan:
        required: false
        example:
          value: m2m_4G
        displayName: servicePlan
        description: The name of a service plan, if you want to only include devices that have that service plan.
        type: string
  NotificationReportStatusRequest:
    displayName: NotificationReportStatusRequest
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0868924207-00001
        displayName: accountName
        description: The name of a billing account.
        type: string
      device:
        required: false
        example:
          value:
            kind: imei
            id: '990013907835573'
        displayName: device
        description: An identifier for a single device.
        type: DeviceId
      requestExpirationTime:
        required: false
        displayName: requestExpirationTime
        description: The time at which the request expires.
        type: string
      requestType:
        required: false
        displayName: requestType
        description: The type of request.
        type: string
  RetrieveMonitorsRequest:
    displayName: RetrieveMonitorsRequest
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0868924207-00001
        displayName: accountName
        description: The name of a billing account.
        type: string
      devices:
        required: false
        example:
          value:
          - deviceIds:
            - id: '89148000000800139708'
              kind: iccid
        displayName: devices
        description: The devices for which you want to restore service, specified by device identifier.
        type: array
        items:
          type: AccountDeviceList
      monitorType:
        required: false
        example:
          value: monitorType
        displayName: monitorType
        description: The name of a billing account.
        type: string
  CarrierActivateRequest:
    example:
      value:
        devices:
        - deviceIds:
          - kind: imei
            id: '990013907835573'
          - kind: iccid
            id: '89141390780800784259'
        - deviceIds:
          - kind: imei
            id: '990013907884259'
          - kind: iccid
            id: '89141390780800735573'
        accountName: 0868924207-00001
        servicePlan: m2m_4G
        mdnZipCode: '98801'
        customFields:
        - key: CustomField2
          value: SuperVend
        groupName: 4G West
        primaryPlaceOfUse:
          customerName:
            title: President
            firstName: Zaffod
            lastName: Beeblebrox
          address:
            addressLine1: 1600 Pennsylvania Ave NW
            city: Washington
            state: DC
            zip: '20500'
            country: USA
    displayName: CarrierActivateRequest
    description: Request for carrier activation.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0868924207-00001
        displayName: accountName
        description: The name of a billing account.
        type: string
      carrierIpPoolName:
        required: false
        displayName: carrierIpPoolName
        description: The private IP pool (Carrier Group Name) from which your device IP addresses will be derived.
        type: string
      carrierName:
        required: false
        displayName: carrierName
        description: The carrier that will perform the activation.
        type: string
      costCenterCode:
        required: false
        displayName: costCenterCode
        description: A string to identify the cost center that the device is associated with.
        type: string
      customFields:
        required: false
        example:
          value:
          - key: CustomField2
            value: SuperVend
        displayName: customFields
        description: A user-defined descriptive field, limited to 50 characters.
        type: array
        items:
          type: CustomFields
      devices:
        required: false
        example:
          value:
          - deviceIds:
            - kind: imei
              id: '990013907835573'
            - kind: iccid
              id: '89141390780800784259'
          - deviceIds:
            - kind: imei
              id: '990013907884259'
            - kind: iccid
              id: '89141390780800735573'
        displayName: devices
        description: Up to 10,000 devices for which you want to activate service, specified by device identifier.
        type: array
        items:
          type: AccountDeviceList
      groupName:
        required: false
        example:
          value: 4G West
        displayName: groupName
        description: If you specify devices by ID in the devices parameters, this is the name of a device group that the devices should be added to.If you don't specify individual devices with the devices parameter, you can provide the name of a device group to activate all devices in that group.
        type: string
      leadId:
        required: false
        displayName: leadId
        description: The ID of a “Qualified” or “Closed - Won” VPP customer lead, which is used with other values to determine MDN assignment, taxation, and compensation.
        type: string
      mdnZipCode:
        required: false
        example:
          value: '98801'
        displayName: mdnZipCode
        description: The Zip code of the location where the line of service will primarily be used, or a Zip code that you have been told to use with these devices. For accounts that are configured for geographic numbering, this is the ZIP code from which the MDN will be derived.
        type: string
      primaryPlaceOfUse:
        required: false
        example:
          value:
            customerName:
              title: President
              firstName: Zaffod
              lastName: Beeblebrox
            address:
              addressLine1: 1600 Pennsylvania Ave NW
              city: Washington
              state: DC
              zip: '20500'
              country: USA
        displayName: primaryPlaceOfUse
        description: The customer name and the address of the device's primary place of use. Leave these fields empty to use the account profile address as the primary place of use. These values will be applied to all devices in the request.If the account is enabled for non-geographic MDNs and the device supports it, the primaryPlaceOfUse address will also be used to derive the MDN for the device.
        type: PlaceOfUse
      publicIpRestriction:
        required: false
        displayName: publicIpRestriction
        description: For devices with static IP addresses on the public network, this specifies whether the devices have general access to the Internet.
        type: string
      servicePlan:
        required: false
        example:
          value: m2m_4G
        displayName: servicePlan
        description: The service plan code that you want to assign to all specified devices.
        type: string
      skuNumber:
        required: false
        example:
          value: '7640111922001'
        displayName: skuNumber
        description: The Stock Keeping Unit (SKU) of a 4G device type can be used with ICCID device identifiers in lieu of an IMEI when activating 4G devices. The SkuNumber will be used with all devices in the request, so all devices must be of the same type.
        type: string
  CarrierDeactivateRequest:
    example:
      value:
        devices:
        - deviceIds:
          - id: 20-digit ICCID
            kind: iccid
        reasonCode: FF
        etfWaiver: true
    displayName: CarrierDeactivateRequest
    description: Request to deactivate a carrier.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0000123456-00001
        displayName: accountName
        description: The name of a billing account.
        type: string
      customFields:
        required: false
        displayName: customFields
        description: Custom field names and values, if you want to only include devices that have matching values.
        type: array
        items:
          type: CustomFields
      devices:
        required: false
        example:
          value:
          - deviceIds:
            - id: 20-digit ICCID
              kind: iccid
          - deviceIds:
            - id: 20-digit ICCID
              kind: iccid
        displayName: devices
        description: The devices for which you want to deactivate service, specified by device identifier.
        type: array
        items:
          type: AccountDeviceList
      etfWaiver:
        required: false
        example:
          value: true
        displayName: etfWaiver
        description: Fees may be assessed for deactivating Verizon Wireless devices, depending on the account contract. The etfWaiver parameter waives the Early Termination Fee (ETF), if applicable.
        type: boolean
      groupName:
        required: false
        displayName: groupName
        description: The name of a device group, if you want to deactivate all devices in that group.
        type: string
      reasonCode:
        required: false
        example:
          value: FF
        displayName: reasonCode
        description: Code identifying the reason for the deactivation. Currently the only valid reason code is “FF”, which corresponds to General Admin/Maintenance.
        type: string
      servicePlan:
        required: false
        displayName: servicePlan
        description: The name of a service plan, if you want to only include devices that have that service plan.
        type: string
      deleteAfterDeactivation:
        required: false
        displayName: deleteAfterDeactivation
        type: boolean
  CarrierInformation:
    example:
      value:
        carrierName: Verizon Wireless
        servicePlan: m2m4G
        state: active
    displayName: CarrierInformation
    description: Information about the carrier.
    type: object
    properties:
      carrierName:
        required: false
        example:
          value: Verizon Wireless
        displayName: carrierName
        description: The carrier that will perform the activation. This parameter is only required if you have more than one carrier.
        type: string
      servicePlan:
        required: false
        example:
          value: m2m4G
        displayName: servicePlan
        description: The service plan code that is assigned to the device.
        type: string
      state:
        required: false
        example:
          value: active
        displayName: state
        description: 'The device state. Valid values include: Activate, Suspend, Deactive, Pre-active.'
        type: string
  ChangeDeviceIdRequest:
    example:
      value:
        deviceIds:
        - id: '42590078891480000008'
          kind: iccid
        change4gOption: ChangeMSISDN
        assignNonGeoMdn: false
        npaNxx: '509393'
        servicePlan: M2M2GB
    displayName: ChangeDeviceIdRequest
    description: Changes the identifier of a 3G or 4G device to match hardware changes made for a line of service. Use this request to transfer the line of service and the MDN to new hardware, or to change the MDN.
    type: object
    properties:
      assignNonGeoMdn:
        required: false
        example:
          value: false
        displayName: assignNonGeoMdn
        description: Set to true to assign a non-Geo MDN and MSISDN, or false to assign an MDN and MSISDN from a specific NPA-NXX.
        type: boolean
      change4gOption:
        required: false
        example:
          value: ChangeICCID
        displayName: change4gOption
        description: The type of change that you want to make for a 4G device.
        type: string
      deviceIds:
        required: false
        example:
          value:
          - id: '42590078891480000008'
            kind: iccid
        displayName: deviceIds
        description: The device that you want to change, specified by a device identifier.
        type: array
        items:
          type: DeviceId
      deviceIdsTo:
        required: false
        example:
          value:
          - id: '89148000000842590078'
            kind: iccid
        displayName: deviceIdsTo
        description: The new identifier for the device. Required for all change4GOptions except ChangeMSISDN.
        type: array
        items:
          type: DeviceId
      npaNxx:
        required: false
        example:
          value: '509393'
        displayName: npaNxx
        description: The NPA NXX (area code and prefix) from which the MDN and MSISDN will be derived when assignNonGeoMDN is false. Specify the 6-digit NPA NXX of the location where the line of service will primarily be used. This API checks to see if a number starting with the NPA NXX is available. If not, this API uses the zipCode parameter, if specified, to assign a number in the area of the line of service. This parameter is required when you change an MDN/MSISDN for a B2B carrier, such as Verizon Wireless.
        type: string
      servicePlan:
        required: false
        example:
          value: M2M2GB
        displayName: servicePlan
        description: The code for a different service plan, if you want to change the service plan while changing the device identifier. Set this parameter to one of the Code values returned by GET /plans.
        type: string
      zipCode:
        required: false
        example:
          value: '98802'
        displayName: zipCode
        description: The ZIP code from which the MDN and MSISDN will be derived when assignNonGeoMDN is true. Specify the zip code of the location where the line of service will primarily be used.
        type: string
      smsrOid:
        required: false
        displayName: smsrOid
        type: string
        pattern: ^[A-Za-z0-9]{3,32}$
        minLength: 3
        maxLength: 32
  ConnectionEvent:
    example:
      value:
        connectionEventAttributes:
        - key: BytesUsed
          value: '0'
        - key: Event
          value: Start
        extendedAttributes: []
        occurredAt: 2015-12-17T14:12:36-05:00
    displayName: ConnectionEvent
    description: Network connection events for a device during a specified time period.
    type: object
    properties:
      connectionEventAttributes:
        required: false
        example:
          value:
          - key: BytesUsed
            value: '0'
          - key: Event
            value: Start
        displayName: connectionEventAttributes
        description: The attributes that describe the connection event.
        type: array
        items:
          type: CustomFields
      extendedAttributes:
        required: false
        displayName: extendedAttributes
        description: Currently not used.
        type: array
        items:
          type: CustomFields
      occurredAt:
        required: false
        example:
          value: 2015-12-17T14:12:36-05:00
        displayName: occurredAt
        description: The date and time when the connection event occured.
        type: string
  ConnectionHistoryResult:
    example:
      value:
        connectionHistory:
        - connectionEventAttributes:
          - key: BytesUsed
            value: '0'
          - key: Event
            value: Start
          extendedAttributes: []
          occurredAt: 2015-12-17T14:12:36-05:00
        - connectionEventAttributes:
          - key: BytesUsed
            value: '419863234'
          - key: Event
            value: Stop
          - key: Msisdn
            value: '15086303371'
          extendedAttributes: []
          occurredAt: 2015-12-19T01:20:00-05:00
        hasMoreData: false
    displayName: ConnectionHistoryResult
    description: Response containing the connection history. It is a list of Network Connection Events for a device.
    type: object
    properties:
      connectionHistory:
        required: false
        example:
          value:
          - connectionEventAttributes:
            - key: BytesUsed
              value: '0'
            - key: Event
              value: Start
            extendedAttributes: []
            occurredAt: 2015-12-17T14:12:36-05:00
          - connectionEventAttributes:
            - key: BytesUsed
              value: '419863234'
            - key: Event
              value: Stop
            - key: Msisdn
              value: '15086303371'
            extendedAttributes: []
            occurredAt: 2015-12-19T01:20:00-05:00
        displayName: connectionHistory
        description: Device connection events, sorted by the occurredAt timestamp, oldest first.
        type: array
        items:
          type: ConnectionEvent
      hasMoreData:
        required: false
        example:
          value: false
        displayName: hasMoreData
        description: False for a status 200 response.True for a status 202 response, indicating that there is more data to be retrieved. Send another request, adjusting the earliest value in the request based on the occuredAt value for the last device in the current response.
        type: boolean
  ContactInfoUpdateRequest:
    example:
      value:
        devices:
        - deviceIds:
          - kind: ESN
            id: '19110173057'
          - kind: ESN
            id: '19110173057'
        accountName: 0212345678-00001
        primaryPlaceOfUse:
          address:
            addressLine1: 9868 Scranton Rd
            addressLine2: Suite A
            city: San Diego
            state: CA
            country: USA
            zip: '92121'
            zip4: '0001'
            phone: '1234567890'
            phoneType: H
            emailAddress: zaffod@theinternet.com
          customerName:
            firstName: Zaffod
            lastName: Beeblebrox
            middleName: P
            title: President
            suffix: I
    displayName: ContactInfoUpdateRequest
    description: Request to update contact information.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0212345678-00001
        displayName: accountName
        description: The name of the billing account that the devices belong to. An account name is usually numeric, and must include any leading zeros.
        type: string
      devices:
        required: false
        example:
          value:
          - deviceIds:
            - kind: ESN
              id: '19110173057'
            - kind: ESN
              id: '19110173057'
        displayName: devices
        description: A list of the devices that you want to change, specified by device identifier. You only need to provide one identifier per device. Do not include accountName, groupName, customFields, or servicePlan if you use this parameter.
        type: array
        items:
          type: AccountDeviceList
      primaryPlaceOfUse:
        required: false
        example:
          value:
            address:
              addressLine1: 9868 Scranton Rd
              addressLine2: Suite A
              city: San Diego
              state: CA
              country: USA
              zip: '92121'
              zip4: '0001'
              phone: '1234567890'
              phoneType: H
              emailAddress: zaffod@theinternet.com
            customerName:
              firstName: Zaffod
              lastName: Beeblebrox
              middleName: P
              title: President
              suffix: I
        displayName: primaryPlaceOfUse
        description: The customer name and the address of the device's primary place of use. These values are applied to all devices in the request.The Primary Place of Use location may affect taxation or have other legal implications. You may want to speak with legal and/or financial advisers before entering values for these fields.
        type: object
        properties: {}
  CreateDeviceGroupRequest:
    example:
      value:
        accountName: 10001234-0001
        groupName: NV tanks
        groupDescription: Nevada tank level monitors.
        devicesToAdd:
        - kind: imei
          id: '990003420535537'
    displayName: CreateDeviceGroupRequest
    description: Create request for a new device group and optionally add devices to the group.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 10001234-0001
        displayName: accountName
        description: The Verizon billing account that the device group will belong to. An account name is usually numeric, and must include any leading zeros.
        type: string
      devicesToAdd:
        required: false
        example:
          value:
          - kind: imei
            id: '990003420535537'
        displayName: devicesToAdd
        description: Zero or more devices to add to the device group. You can use POST /devices/actions/list to get a list of all devices in the account.
        type: array
        items:
          type: DeviceId
      groupDescription:
        required: false
        example:
          value: Nevada tank level monitors
        displayName: groupDescription
        description: A description for the device group.
        type: string
      groupName:
        required: false
        example:
          value: NV tanks
        displayName: groupName
        description: The name for the new device group. This name must be unique within the specified account.
        type: string
  CustomerName:
    example:
      value:
        title: President
        firstName: Zaffod
        lastName: Beeblebrox
    displayName: CustomerName
    description: The customer name to be used for line usage taxation.
    type: object
    properties:
      title:
        required: false
        example:
          value: President
        displayName: title
        description: An optional title for the customer, such as “Mr.” or “Dr.”
        type: string
      firstName:
        required: true
        example:
          value: Zaffod
        displayName: firstName
        description: The customer's first name.
        type: string
      middleName:
        required: false
        displayName: middleName
        description: The customer's middle name.
        type: string
      lastName:
        required: true
        example:
          value: Beeblebrox
        displayName: lastName
        description: The customer's last name.
        type: string
      suffix:
        required: false
        displayName: suffix
        description: An optional suffix for the customer name, such as “Jr.” or “III.”
        type: string
  CustomFieldsUpdateRequest:
    example:
      value:
        devices:
        - deviceIds:
          - id: '89148000000800139708'
            kind: iccid
        customFieldsToUpdate:
        - key: CustomField1
          value: West Region
        - key: CustomField2
          value: Distribution
    displayName: CustomFieldsUpdateRequest
    description: Request to assign or change custom field values for one or more devices.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 010045678-0001
        displayName: accountName
        description: The name of a billing account.This parameter is only required if the UWS account used for the current API session has access to multiple billing accounts.An account name is usually numeric, and must include any leading zeros.
        type: string
      customFields:
        required: false
        example:
          value:
          - key: CustomField2
            value: West Region
        displayName: customFields
        description: Custom field names and values, if you want to only include devices that have matching values.
        type: array
        items:
          type: CustomFields
      customFieldsToUpdate:
        required: false
        example:
          value:
          - key: CustomField1
            value: West Region
          - key: CustomField2
            value: Distribution
        displayName: customFieldsToUpdate
        description: The names and new values of any custom fields that you want to change.
        type: array
        items:
          type: CustomFields
      devices:
        required: false
        example:
          value:
          - deviceIds:
            - id: '89148000000800139708'
              kind: iccid
        displayName: devices
        description: The devices that you want to change.
        type: array
        items:
          type: AccountDeviceList
      groupName:
        required: false
        displayName: groupName
        description: The name of a device group, if you want to only include devices in that group.
        type: string
      servicePlan:
        required: false
        displayName: servicePlan
        description: The name of a service plan, if you want to only include devices that have that service plan.
        type: string
  DateFilter:
    example:
      value:
        earliest: 2020-05-01T15:00:00-08:00Z
        latest: 2020-07-30T15:00:00-08:00Z
    displayName: DateFilter
    description: Filter out the dates.
    type: object
    properties:
      earliest:
        required: false
        example:
          value: 2020-05-01T15:00:00-08:00Z
        displayName: earliest
        description: Only include devices that were added after this date and time.
        type: string
      latest:
        required: false
        example:
          value: 2020-07-30T15:00:00-08:00Z
        displayName: latest
        description: Only include devices that were added before this date and time.
        type: string
  DeleteDevicesRequest:
    example:
      value:
        devicesToDelete:
        - deviceIds:
          - id: '09005470263'
            kind: esn
        - deviceIds:
          - id: '85000022411113460014'
            kind: iccid
        - deviceIds:
          - id: '85000022412313460016'
            kind: iccid
    displayName: DeleteDevicesRequest
    description: Request to delete a device request.
    type: object
    properties:
      accountName:
        required: false
        displayName: accountName
        description: The Verizon billing account that the device group belongs to. An account name is usually numeric, and must include any leading zeros.
        type: string
      devicesToDelete:
        required: false
        example:
          value:
          - deviceIds:
            - id: '09005470263'
              kind: esn
          - deviceIds:
            - id: '85000022411113460014'
              kind: iccid
          - deviceIds:
            - id: '85000022412313460016'
              kind: iccid
        displayName: devicesToDelete
        description: A list of up to 100 devices that you want to delete, specified by device identifier. You only need to provide one identifier per device.
        type: array
        items:
          type: AccountDeviceList
  DeviceId:
    example:
      value:
        kind: imei
        id: '990013907835573'
    displayName: DeviceId
    description: An identifier for a single device.
    type: object
    properties:
      id:
        required: false
        example:
          value: '990013907835573'
        displayName: id
        description: The value of the device identifier.
        type: string
      kind:
        required: false
        example:
          value: imei
        displayName: kind
        description: The type of the device identifier. Valid types of identifiers are:ESN (decimal),EID,ICCID (up to 20 digits),IMEI (up to 16 digits),MDN,MEID (hexadecimal),MSISDN.
        type: string
  DeleteDevicesResult:
    example:
      value:
        deviceIds:
        - id: '09005470263'
          kind: esn
        status: Success
    displayName: DeleteDevicesResult
    description: Response for a request made to delete a device.
    type: object
    properties:
      deviceIds:
        required: false
        displayName: deviceIds
        description: One object per device to be deleted. Each object must contain a kind and id element identifying the device.
        type: any
      status:
        required: false
        example:
          value: Success
        displayName: status
        description: “Success” if the device was deleted, or “Failed” if there was a problem.
        type: string
      message:
        required: false
        example:
          value: The device is not in deactive state.
        displayName: message
        description: Not present if status=Success. One of these messages if status=Failed:The device is not in deactivate state.The user does not have access to delete the device.
        type: string
  ThingspaceDevice:
    example:
      value:
        accountName: 0000123456-00001
        billingCycleEndDate: 2020-05-09T20:00:00-04:00
        carrierInformations:
        - carrierName: Verizon Wireless
          servicePlan: m2m4G
          state: active
        connected: false
        createdAt: 2019-08-07T10:42:15-04:00
        deviceIds:
        - id: 10-digit MDN
          kind: mdn
        - id: 15-digit IMEI
          kind: imei
        groupNames:
        - southwest
        ipAddress: 0.0.0.0
        lastActivationBy: Joe Q Public
        lastActivationDate: 2019-08-07T10:42:34-04:00
        lastConnectionDate: 2020-03-12T04:23:37-04:00
    displayName: ThingspaceDevice
    description: Device that exist in Verizon Mobile Device Management (MDM).
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0000123456-00001
        displayName: accountName
        description: The billing account that the device is associated with.
        type: string
      billingCycleEndDate:
        required: false
        example:
          value: 2020-05-09T20:00:00-04:00
        displayName: billingCycleEndDate
        description: The date that the device's current billing cycle ends.
        type: string
      carrierInformations:
        required: false
        example:
          value:
          - carrierName: Verizon Wireless
            servicePlan: m2m4G
            state: active
        displayName: carrierInformations
        description: The carrier information associated with the device.
        type: array
        items:
          type: CarrierInformation
      connected:
        required: false
        example:
          value: false
        displayName: connected
        description: True if the device is connected; false if it is not.
        type: boolean
      createdAt:
        required: false
        example:
          value: 2019-08-07T10:42:15-04:00
        displayName: createdAt
        description: The date and time that the device was added to the system.
        type: string
      customFields:
        required: false
        displayName: customFields
        description: The custom fields and values that have been set for the device.
        type: array
        items:
          type: CustomFields
      deviceIds:
        required: false
        example:
          value:
          - id: 10-digit MDN
            kind: mdn
          - id: 15-digit IMEI
            kind: imei
        displayName: deviceIds
        description: All identifiers for the device.
        type: array
        items:
          type: DeviceId
      extendedAttributes:
        required: false
        displayName: extendedAttributes
        description: Any extended attributes for the device, as Key and Value pairs. The pairs listed below are returned as part of the response for a single device, but are not included if the request was for information about multiple devices.
        type: array
        items:
          type: CustomFields
      groupNames:
        required: false
        example:
          value:
          - southwest
        displayName: groupNames
        description: The device groups that the device belongs to.
        type: array
        items:
          type: string| nil
      ipAddress:
        required: false
        example:
          value: 0.0.0.0
        displayName: ipAddress
        description: The IP address of the device.
        type: string
      lastActivationBy:
        required: false
        example:
          value: Joe Q Public
        displayName: lastActivationBy
        description: The user who last activated the device.
        type: string
      lastActivationDate:
        required: false
        example:
          value: 2019-08-07T10:42:34-04:00
        displayName: lastActivationDate
        description: The date and time that the device was last activated.
        type: string
      lastConnectionDate:
        required: false
        example:
          value: 2020-03-12T04:23:37-04:00
        displayName: lastConnectionDate
        description: The most recent connection date and time.
        type: string
  DeviceAggregateUsageListRequest:
    example:
      value:
        deviceIds:
        - id: '84258000000891490087'
          kind: ICCID
        accountName: 9992330389-00001
        endTime: 2021-08-30T00:00:00-06:00
        startTime: 2021-08-01T00:00:00-06:00
    displayName: DeviceAggregateUsageListRequest
    description: Request to list device aggregate usage.
    type: object
    properties:
      deviceIds:
        required: false
        example:
          value:
          - id: '84258000000891490087'
            kind: ICCID
        displayName: deviceIds
        description: One or more devices for which you want aggregate data, specified by device ID.
        type: array
        items:
          type: DeviceId
      accountName:
        required: false
        example:
          value: 9992330389-00001
        displayName: accountName
        description: The name of a billing account.
        type: string
      groupName:
        required: false
        example:
          value: SMS
        displayName: groupName
        description: The name of a device group, if you want to only include devices in that group.
        type: string
      startTime:
        required: false
        example:
          value: 2021-08-01T00:00:00-06:00
        displayName: startTime
        description: The beginning of the reporting period. The startTime cannot be more than 6 months before the current date.
        type: string
      endTime:
        required: false
        example:
          value: 2021-08-30T00:00:00-06:00
        displayName: endTime
        description: The end of the reporting period. The endTime date must be within on month of the startTime date.
        type: string
      label:
        required: false
        displayName: label
        type: array
        uniqueItems: false
        maxItems: 50
        items:
          type: Label
  DeviceConnectionListRequest:
    example:
      value:
        deviceId:
          id: '89141390780800784259'
          kind: iccid
        earliest: 2015-09-16T00:00:01Z
        latest: 2010-09-18T00:00:01Z
    displayName: DeviceConnectionListRequest
    description: Request to list of network connection events for a device during a specified time period.
    type: object
    properties:
      deviceId:
        required: false
        example:
          value:
            kind: imei
            id: '990013907835573'
        displayName: deviceId
        description: An identifier for a single device.
        type: DeviceId
      earliest:
        required: false
        example:
          value: 2015-09-16T00:00:01Z
        displayName: earliest
        description: The earliest date and time for which you want connection events.
        type: string
      latest:
        required: false
        example:
          value: 2010-09-18T00:00:01Z
        displayName: latest
        description: The last date and time for which you want connection events.
        type: string
  DeviceCostCenterRequest:
    example:
      value:
        costCenter: cc12345
        devices:
        - deviceIds:
          - id: '89148000000800139708'
            kind: iccid
    displayName: DeviceCostCenterRequest
    description: Request to retrieve cost center value of a device.
    type: object
    properties:
      accountName:
        required: false
        displayName: accountName
        description: The name of a billing account.
        type: string
      costCenter:
        required: false
        example:
          value: cc12345
        displayName: costCenter
        description: The new cost center code. Valid values are any string of up to 36 alphanumeric characters, space, dash, exclamation point, and pound sign.
        type: string
      customFields:
        required: false
        displayName: customFields
        description: Custom field names and values, if you want to only include devices that have matching values.
        type: array
        items:
          type: CustomFields
      devices:
        required: false
        example:
          value:
          - deviceIds:
            - id: '89148000000800139708'
              kind: iccid
        displayName: devices
        description: A list of the devices that you want to change, specified by device identifier. Do not include accountName, groupName, customFields, or servicePlan if you use this parameter.
        type: array
        items:
          type: AccountDeviceList
      groupName:
        required: false
        displayName: groupName
        description: The name of a device group, if you want to only include devices in that group.
        type: string
      primaryPlaceOfUse:
        required: false
        displayName: primaryPlaceOfUse
        description: The customer name and the address of the device's primary place of use. These values are applied to all devices in the request.The Primary Place of Use location may affect taxation or have other legal implications. You may want to speak with legal and/or financial advisers before entering values for these fields.
        type: object
        properties: {}
      removeCostCenter:
        required: false
        displayName: removeCostCenter
        description: Set to true to remove the cost center code value. This flag takes precedence over a new costCenter value. If this flag is true and costCenter has a value, the cost center code is removed. Do not include this parameter, or set it to false to change the costCenter value.
        type: boolean
      servicePlan:
        required: false
        displayName: servicePlan
        description: The name of a service plan, if you want to only include devices that have that service plan.
        type: string
  DeviceExtendedDiagnosticsRequest:
    example:
      value:
        accountName: 1223334444-00001
        deviceList:
        - id: 10-digit MDN
          kind: mdn
    displayName: DeviceExtendedDiagnosticsRequest
    description: Request for obtaining device extended diagnostics.
    type: object
    properties:
      accountName:
        required: true
        example:
          value: 1223334444-00001
        displayName: accountName
        description: The Verizon billing account that the device belongs to. An account name is usually numeric, and must include any leading zeros.
        type: string
      deviceList:
        required: true
        example:
          value:
          - id: 10-digit MDN
            kind: mdn
        displayName: deviceList
        description: The device for which you want diagnostic information, specified by the device's MDN.
        type: array
        items:
          type: DeviceId
  DeviceExtendedDiagnosticsResult:
    example:
      value:
        categories:
        - categoryName: Connectivity
          extendedAttributes:
          - key: Connected
            value: 'false'
    displayName: DeviceExtendedDiagnosticsResult
    description: Result for a request to obtain device extended diagnostics.
    type: object
    properties:
      categories:
        required: false
        example:
          value:
          - categoryName: Connectivity
            extendedAttributes:
            - key: Connected
              value: 'false'
        displayName: categories
        description: The response includes various types of information about the device, grouped into categories. Each category object contains the category name and a list of Extended Attribute objects as key-value pairs.
        type: array
        items:
          type: DiagnosticsCategory
  DeviceFilter:
    example:
      value:
        groupName: Short-Haul Trucks
        customFields:
        - key: CustomField1
          value: East Region Trucks
    displayName: DeviceFilter
    description: Specify the kind of the device identifier, the type of match, and the string that you want to match.
    type: object
    properties:
      account:
        required: false
        displayName: account
        description: The the billing account that the devices belong to.
        type: string
      groupName:
        required: false
        example:
          value: Short-Haul Trucks
        displayName: groupName
        description: Only include devices that are in this device group.
        type: string
      servicePlan:
        required: false
        displayName: servicePlan
        description: Only include devices that have this service plan.
        type: string
      customFields:
        required: false
        example:
          value:
          - key: CustomField1
            value: East Region Trucks
        displayName: customFields
        description: Custom field names and values, if you want to only include devices that have matching values.
        type: array
        items:
          type: CustomFields
  DeviceFilterWithoutAccount:
    example:
      value:
        groupName: suspended devices
    displayName: DeviceFilterWithoutAccount
    description: Filter for devices without account.
    type: object
    properties:
      groupName:
        required: false
        example:
          value: suspended devices
        displayName: groupName
        description: Only include devices that are in this device group.
        type: string
      servicePlan:
        required: false
        displayName: servicePlan
        description: Only include devices that have this service plan.
        type: string
      customFields:
        required: false
        displayName: customFields
        description: Custom field names and values, if you want to only include devices that have matching values.
        type: array
        items:
          type: CustomFields
  DeviceIdSearch:
    example:
      value:
        kind: iccid
        contains: '4259'
    displayName: DeviceIdSearch
    description: Search by device id.
    type: object
    properties:
      contains:
        required: false
        example:
          value: '4259'
        displayName: contains
        description: The string appears anywhere in the identifer.
        type: string
      startswith:
        required: false
        displayName: startswith
        description: The identifer must start with the specified string.
        type: string
      endswith:
        required: false
        displayName: endswith
        description: The identifier must end with the specified string.
        type: string
      kind:
        required: true
        example:
          value: imei
        displayName: kind
        description: The type of the device identifier. Valid types of identifiers are:ESN (decimal),EID,ICCID (up to 20 digits),IMEI (up to 16 digits),MDN,MEID (hexadecimal),MSISDN.
        type: string
  AccountDeviceList:
    example:
      value:
        deviceIds:
        - kind: imei
          id: '990013907835573'
        - kind: iccid
          id: '89141390780800784259'
    displayName: AccountDeviceList
    description: A list of deviceId objects to use when requesting information from multiple devices.
    type: object
    properties:
      deviceIds:
        required: false
        example:
          value:
          - kind: imei
            id: '990013907835573'
          - kind: iccid
            id: '89141390780800784259'
        displayName: deviceIds
        description: All identifiers for the device.
        type: array
        items:
          type: DeviceId
      ipAddress:
        required: false
        displayName: ipAddress
        type: string
        pattern: ^[0-9].[0-9].[0-9].[0-9]{3,32}$
        minLength: 3
        maxLength: 32
  AccountDeviceListFilter:
    example:
      value:
        deviceIdentifierFilters:
        - kind: iccid
          contains: '4259'
    displayName: AccountDeviceListFilter
    description: Filter for a list of devices.
    type: object
    properties:
      deviceIdentifierFilters:
        required: false
        example:
          value:
          - kind: iccid
            contains: '4259'
        displayName: deviceIdentifierFilters
        description: Specify the kind of the device identifier, the type of match, and the string that you want to match.
        type: array
        items:
          type: DeviceIdSearch
  AccountDeviceListRequest:
    example:
      value:
        accountName: 0786890242-00001
        filter:
          deviceIdentifierFilters:
          - kind: iccid
            contains: '4259'
    displayName: AccountDeviceListRequest
    description: Request for listing account devices.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0786890242-00001
        displayName: accountName
        description: The billing account for which a list of devices is returned. If you don't specify an accountName, the list includes all devices to which you have access.
        type: string
      deviceId:
        required: false
        example:
          value:
            kind: imei
            id: '990013907835573'
        displayName: deviceId
        description: An identifier for a single device.
        type: DeviceId
      filter:
        required: false
        example:
          value:
            deviceIdentifierFilters:
            - kind: iccid
              contains: '4259'
        displayName: filter
        description: Filter for a list of devices.
        type: AccountDeviceListFilter
      currentState:
        required: false
        displayName: currentState
        description: The name of a device state, to only include devices in that state.
        type: string
      customFields:
        required: false
        displayName: customFields
        description: Custom field names and values, if you want to only include devices that have matching values.
        type: array
        items:
          type: CustomFields
      earliest:
        required: false
        displayName: earliest
        description: Only include devices that were added after this date and time.
        type: string
      groupName:
        required: false
        displayName: groupName
        description: Only include devices that are in this device group.
        type: string
      latest:
        required: false
        displayName: latest
        description: Only include devices that were added before this date and time.
        type: string
      servicePlan:
        required: false
        displayName: servicePlan
        description: Only include devices that have this service plan.
        type: string
      maxNumberOfDevices:
        required: false
        displayName: maxNumberOfDevices
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      largestDeviceIdSeen:
        required: false
        displayName: largestDeviceIdSeen
        type: integer
        minimum: 0
        maximum: 100
        format: int64
  AccountDeviceListResult:
    example:
      value:
        hasMoreData: false
        devices:
        - accountName: 0000123456-00001
          billingCycleEndDate: 2020-05-09T20:00:00-04:00
          carrierInformations:
          - carrierName: Verizon Wireless
            servicePlan: m2m4G
            state: active
          connected: false
          createdAt: 2019-08-07T10:42:15-04:00
          deviceIds:
          - id: 10-digit MDN
            kind: mdn
          - id: 15-digit IMEI
            kind: imei
          groupNames:
          - southwest
          ipAddress: 0.0.0.0
          lastActivationBy: Joe Q Public
          lastActivationDate: 2019-08-07T10:42:34-04:00
          lastConnectionDate: 2020-03-12T04:23:37-04:00
    displayName: AccountDeviceListResult
    description: Response for a request to list down account devices.
    type: object
    properties:
      devices:
        required: false
        example:
          value:
          - accountName: 0000123456-00001
            billingCycleEndDate: 2020-05-09T20:00:00-04:00
            carrierInformations:
            - carrierName: Verizon Wireless
              servicePlan: m2m4G
              state: active
            connected: false
            createdAt: 2019-08-07T10:42:15-04:00
            deviceIds:
            - id: 10-digit MDN
              kind: mdn
            - id: 15-digit IMEI
              kind: imei
            groupNames:
            - southwest
            ipAddress: 0.0.0.0
            lastActivationBy: Joe Q Public
            lastActivationDate: 2019-08-07T10:42:34-04:00
            lastConnectionDate: 2020-03-12T04:23:37-04:00
        displayName: devices
        description: Up to 10,000 devices that you want to move to a different account, specified by device identifier.
        type: array
        items:
          type: ThingspaceDevice
      hasMoreData:
        required: false
        example:
          value: false
        displayName: hasMoreData
        description: False for a status 200 response.True for a status 202 response, indicating that there is more data to be retrieved.
        type: boolean
  DeviceActivationRequest:
    example:
      value:
        accountName: 0212345678-00001
        devices:
        - deviceIds:
          - kind: meid
            id: A100008385E561
    displayName: DeviceActivationRequest
    description: Request for device status to check availability of activation.
    type: object
    properties:
      accountName:
        required: false
        example:
          value: 0212345678-00001
        displayName: accountName
        description: The name of a billing account.
        type: string
      devices:
        required: false
        example:
          value:
          - deviceIds:
            - kind: meid
              id: A100008385E561
        displayName: devices
        description: Up to 10,000 devices that you want to move to a different account, specified by device identifier.
        type: array
        items:
          type: AccountDeviceList
  DevicePrlListRequest:
    example:
      value:
        groupName: West Region
        accountName: 101234-0001
        servicePlan: 3G 2MB
    displayName: DevicePrlListRequest
    description: Requests the current PRL (Preferred Roaming List) version for 2G or 3G devices, which can help determine which devices need a PRL update. (4G and GSM devices do not have a PRL.).
    type: object
    properties:
      deviceIds:
        required: false
        displayName: deviceIds
        description: The devices for which you want the PRL version, specified by device identifier. You only need to provide one identifier per device. Do not use any of the other parameters if you specify device IDs.
        type: array
        items:
          type: DeviceId
      accountName:
        required: false
        displayName: accountName
        description: The name of a billing account. This parameter is only required if you are passing groupName and the UWS account used for the current API session has access to multiple billing accounts, because the same device group name can exist in multiple accounts.An account name is usually numeric, and must include any leading zeros.
        type: string
      customFields:
        required: false
        displayName: customFields
        description: The names and values of custom fields, if you want to only include devices that have matching custom fields.
        type: array
        items:
          type: CustomFields
      groupName:
        required: false
        example:
          value: West Region
        displayName: groupName
        description: The name of a device group, if you want to only include devices in that group.
        type: string
      servicePlan:
        required: false
        example:
          value: 3G 2MB
        displayName: servicePlan
        description: The name of a service plan, if you want to only include devices that have that service plan.
        type: string
  DeviceMismatchListRequest:
    example:
      value:
        accountName: 0342077109-00001
        devices:
        - deviceIds:
          - kind: ICCID
            id: '8914800000080078'
          - kind: MDN
            id: '5096300587'
        filter:
          earliest: 2020-05-01T15:00:00-08:00Z
          latest: 2020-07-30T15:00:00-08:00Z
    displayName: DeviceMismatchListRequest
    description: Request to list of all 4G devices with an ICCID (SIM) that was not activated with the expected IMEI (hardware) during a specified time frame.
    type: object
    properties:
      devices:
        required: false
        example:
          value:
          - deviceIds:
            - kind: ICCID
              id: '8914800000080078'
            - kind: MDN
              id: '5096300587'
        displayName: devices
        description: A list of specific devices that you want to check, specified by ICCID or MDN.
        type: array
        items:
          type: AccountDeviceList
      filter:
        required: false
        example:
          value:
            earliest: 2020-05-01T15:00:00-08:00Z
            latest: 2020-07-30T15:00:00-08:00Z
        displayName: filter
        description: Filter out the dates.
        type: DateFilter
      accountName:
        required: false
        example:
          value: 0342077109-00001
        displayName: accountName
        description: The account that you want to search for mismatched devices. If you don't specify an accountName, the search includes all devices to which you have access.
        type: string
      groupName:
        required: false
        displayName: groupName
        description: The name of a device group, to only include devices in that group.
        type: string
  DeviceMismatchListResult:
    example:
      value:
        devices:
        - accountName: 0212398765-00001
          mdn: '5096300587'
          activationDate: 2011-01-21T10:55:27-08:00
          iccid: '89148000000800784259'
          preImei: '990003420535573'
          postImei: '987603420573553'
          simOtaDate: 2017-12-01T16:00:00-08:00
    displayName: DeviceMismatchListResult
    description: Response to list of all 4G devices with an ICCID (SIM) that was not activated with the expected IMEI (hardware) during a specified time frame.
    type: object
    properties:
      devices:
        required: false
        example:
          value:
          - accountName: 0212398765-00001
            mdn: '5096300587'
            activationDate: 2011-01-21T10:55:27-08:00
            iccid: '89148000000800784259'
            preImei: '990003420535573'
            postImei: '987603420573553'
            simOtaDate: 2017-12-01T16:00:00-08:00
        displayName: devices
        description: A list of specific devices that you want to check, specified by ICCID or MDN.
        type: array
        items:
          type: MismatchedDevice
  DeviceProvisioningHistoryListRequest:
    example:
      value:
        deviceId:
          id: '89141390780800784259'
          kind: iccid
        earliest: 2015-09-16T00:00:01Z
        latest: 2015-09-18T00:00:01Z
    displayName: DeviceProvisioningHistoryListRequest
    description: Request to return the provisioning history of a specified device during a specified time period.
    type: object
    properties:
      deviceId:
        required: false
        example:
          value:
            kind: imei
            id: '990013907835573'
        displayName: deviceId
        description: An identifier for a single device.
        type: DeviceId
      earliest:
        required: false
        example:
          value: 2015-09-16T00:00:01Z
        displayName: earliest
        description: The earliest date and time for which you want provisioning data.
        type: string
      latest:
        required: false
        example:
          value: 2015-09-18T00:00:01Z
        displayName: latest
        description: The last date and time for which you want provisioning data.
        type: string
  DeviceProvisioningHistoryListResult:
    example:
      value:
        provisioningHistory:
        - occurredAt: 2015-12-17T13:56:13-05:00
          status: Success
          eventBy: Harry Potter
          eventType: Activation Confirmed
          servicePlan: Tablet5GB
          mdn: ''
          msisdn: '15086303371'
          extendedAttributes: []
        hasMoreData: false
    displayName: DeviceProvisioningHistoryListResult
    description: Response to return the provisioning history of a specified device during a specified time period.
    type: object
    properties:
      hasMoreData:
        required: false
        example:
          value: false
        displayName: hasMoreData
        description: False for a status 200 response.True for a status 202 response, indicating that there is more data to be retrieved.
        type: boolean
      provisioningHistory:
        required: false
        example:
          value:
          - occurredAt: 2015-12-17T13:56:13-05:00
            status: Success
            eventBy: Harry Potter
            eventType: Activation Confirmed
            servicePlan: Tablet5GB
            mdn: ''
            msisdn: '15086303371'
            extendedAttributes: []
        displayName: provisioningHistory
        description: The provisioning history of a specified device during a specified time period.
        type: array
        items:
          type: ProvisioningHistory
  DeviceSuspensionStatusRequest:
    example:
      value:
        filter:
          groupName: suspended devices
        accountName: 1223334444-00001
    displayName: DeviceSuspensionStatusRequest
    description: Request to return service suspension information about one or more devices.
    type: object
    properties:
      deviceIds:
        required: false
        displayName: deviceIds
        description: The devices that you want to include in the request, specified by device identifier. You only need to provide one identifier per device.
        type: array
        items:
          type: DeviceId
      filter:
        required: false
        example:
          value:
            groupName: suspended devices
        displayName: filter
        description: Filter for devices without account.
        type: DeviceFilterWithoutAccount
      accountName:
        required: false
        example:
          value: 1223334444-00001
        displayName: accountName
        description: The name of a billing account.
        type: string
  DeviceUsageListRequest:
    example:
      value:
        earliest: 2018-03-20T00:00:01Z
        latest: 2020-12-31T00:00:01Z
    displayName: DeviceUsageListRequest
    description: Request to return the daily network data usage of a single device during a specified time period.
    type: object
    properties:
      deviceId:
        required: false
        example:
          value:
            kind: imei
            id: '990013907835573'
        displayName: deviceId
        description: An identifier for a single device.
        type: DeviceId
      earliest:
        required: false
        example:
          value: 2018-03-20T00:00:01Z
        displayName: earliest
        description: The earliest date for which you want usage data.
[...]
