FORMAT: 1A
HOST: https://5gedge.verizon.com/api/mec/eds

# Verizon
The Verizon Edge Discovery Service API can direct your application clients to connect to the optimal service endpoints for your Multi-access Edge Computing (MEC) applications for every session. The Edge Discovery Service takes into account the current location of a device, its IP anchor location, current network traffic and other factors to determine which 5G Edge platform a device should connect to.

## Authentication
This API uses OAuth v2 Client Credentials Grant for its authentication.

The properties required for this OAuth implentation are as follows:
+ Access Token Url - /oauth2/token

# Group 5G Edge Platforms

Discover the regions in the 5G Edge service and find the optimal MEC platforms for your Edge applications.

## Mecplatforms [/mecplatforms{?region,serviceProfileId,subscriberDensity,UEIdentityType,UEIdentity}]

### ListMECPlatforms [GET]
Returns a list of optimal MEC Platforms where you can register your deployed application. **Note:** If a query is sent with all of the parameters, it will fail with a "400" error. You can search based on the following parameter combinations - region plus Service Profile ID and subscriber density (density is optional but recommended), region plus UEIdentity(Including UEIdentity Type) or Service Profile ID plus UEIdentity(Including UEIdentity Type).
+ Parameters
    + region (string, optional)

        MEC region name. Current valid values are US_WEST_2 and US_EAST_1.

        + Sample: US_WEST_2
    + serviceProfileId (string, optional)

        Unique identifier of the service profile.

    + subscriberDensity (number, optional)

        Minimum number of 4G/5G subscribers per square kilometer.

    + UEIdentityType (enum[string], optional)

        Type of User Equipment identifier used in `UEIdentity`.

        + Sample: IPAddress
        + Members
            + `IPAddress` 

    + UEIdentity (string, optional)

        The identifier value for User Equipment. The type of identifier is defined by the 'UEIdentityType' parameter. The`IPAddress`format can be IPv4 or IPv6.

        + Sample: 2600:1010:b1d0:0000:0000:0000:0000:0012

+ Response 200 (application/json)

        MEC platforms matching query parameters.

    + Attributes (ListMECPlatformsResult)


    + Body

            {"MECPlatforms":[{"ern":"5x4VBwmfZbzSL3","zone":"e5oV52kMGjDLhnJSsLJZL","region":"US_WEST_2","status":"unknown"}]}


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)




## Regions [/regions]

### ListRegions [GET]
List the geographical regions available, based on the user's bearer token. **Note:** Country code, Metropolitan area, Area and Zone are future functionality and will currently return a "null" value.

+ Response 200 (application/json)

        List of geographical regions.

    + Attributes (ListRegionsResult)


    + Body

            {"regions":[{"regionId":"consectetur","name":"US_EAST_1","countryCode":"nr","metro":"e1D","area":"IdUESF"}]}


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)





# Group Service Endpoints

Register the routable endpoints of your deployed Edge application services. After registering, use service endpoint discovery to find the optimal service endpoints for application clients to connect to for each session.

## Serviceendpoints [/serviceendpoints{?region,subscriberDensity,UEIdentityType,UEIdentity,serviceEndpointsIds}]

### ListOptimalServiceEndpoints [GET]
Returns a list of optimal Service Endpoints that client devices can connect to. **Note:** If a query is sent with all of the parameters, it will fail with a "400" error. You can search based on the following parameter combinations - Region plus Service Endpoints IDs and Subscriber density (density is optional but recommended), Region plus Service Endpoints IDs and UEIdentity(Including UEIdentity Type) and Service Endpoints IDs plus UEIdentity(Including UEIdentity Type).
+ Parameters
    + region (string, optional)

        MEC region name. Current valid values are US_WEST_2 and US_EAST_1.

        + Sample: US_WEST_2
    + subscriberDensity (number, optional)

        Minimum number of 4G/5G subscribers per square kilometer.

    + UEIdentityType (enum[string], optional)

        Type of User Equipment identifier used in `UEIdentity`.

        + Sample: IPAddress
        + Members
            + `IPAddress` 

    + UEIdentity (string, optional)

        The identifier value for User Equipment. The type of identifier is defined by the 'UEIdentityType' parameter. The`IPAddress`format can be IPv4 or IPv6.

        + Sample: 2600:1010:b1d0:0000:0000:0000:0000:0012
    + serviceEndpointsIds (string, optional)

        A system-defined string identifier representing one or more registered Service Endpoints.

        + Sample: 43f3f7bb-d6c5-4bad-b081-9a3a0df2db98

+ Response 200 (application/json)

        An array of optimal Service Endpoint IDs for clients to connect to.

    + Attributes (ListOptimalServiceEndpointsResult)


    + Body

            {"serviceEndpoints":[{"ern":"LASVEGAS_NV_WL","serviceEndpoint":{"URI":"http://base_path/some_segment/id","FQDN":"thingtest.verizon.com","IPv4Address":"192.168.11.10","IPv6Address":"2001:0db8:85a3:0000:0000:8a2e:0370:1234","port":1234},"applicationServerProviderId":"AWS","applicationId":"IogspaceJan15","serviceDescription":"ThieIt"}]}


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)




## Serviceendpoints [/serviceendpoints]

### RegisterServiceEndpoints [POST]
Register Service Endpoints of a deployed application to specified MEC Platforms.

+ Request (<<Add Header Value>>)

    + Attributes (array[ResourcesEdgeHostedServiceWithProfileId])


    + Body

            [
                {
                    "serviceEndpoint": {
                        "FQDN": "thingtest.verizon.com",
                        "IPv4Address": "192.168.11.10",
                        "IPv6Address": "2001:0db8:85a3:0000:0000:8a2e:0370:1234",
                        "port": 1234,
                        "URI": "http://base_path/some_segment/id"
                    },
                    "applicationId": "IogspaceJan15",
                    "serviceDescription": "ThieIt",
                    "applicationServerProviderId": "AWS",
                    "ern": "us-east-1-wl1-atl-wlz-1",
                    "serviceProfileID": "4054ea9a-593e-4776-b488-697b1bfa4f3b"
                }
            ]


+ Response 200 (application/json)

        Returns a service endpoints Id.

    + Attributes (RegisterServiceEndpointResult)



+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)




## Serviceendpointsall [/serviceendpointsall]

### ListAllServiceEndpoints [GET]
Returns a list of all registered service endpoints.

+ Response 200 (application/json)

        Returns a comma delimited list of all registered service endpoints.

    + Attributes (ListAllServiceEndpointsResult)


    + Body

            {"status":"success","data":["serviceEndpointsId"]}


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)




## Serviceendpoints By ServiceEndpointsId [/serviceendpoints/{serviceEndpointsId}]

+ Parameters
    + serviceEndpointsId (string, required)

        A system-defined string identifier representing one or more registered Service Endpoints.

        + Sample: 43f3f7bb-d6c5-4bad-b081-9a3a0df2db98

### GetServiceEndpoint [GET]
Returns endpoint information for all Service Endpoints registered to a specified serviceEndpointId.

+ Response 200 (application/json)

        Registered service endpoint information for a 5G Edge service.

    + Attributes (array[ResourcesEdgeHostedServiceWithProfileId])


    + Body

            [{"serviceEndpoint":{"FQDN":"thingtest.verizon.com","IPv4Address":"192.168.11.10","IPv6Address":"2001:0db8:85a3:0000:0000:8a2e:0370:1234","port":1234,"URI":"http://base_path/some_segment/id"},"applicationId":"IogspaceJan15","serviceDescription":"ThieIt","applicationServerProviderId":"AWS","ern":"us-east-1-wl1-atl-wlz-1","serviceProfileID":"4054ea9a-593e-4776-b488-697b1bfa4f3b"}]


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)



### UpdateServiceEndpoint [PUT]
Update registered Service Endpoint information.

+ Request (<<Add Header Value>>)

    + Attributes (array[ResourcesEdgeHostedServiceWithProfileId])


    + Body

            [
                {
                    "serviceEndpoint": {
                        "FQDN": "thingtest.verizon.com",
                        "IPv4Address": "192.168.11.10",
                        "IPv6Address": "2001:0db8:85a3:0000:0000:8a2e:0370:1234",
                        "port": 1234,
                        "URI": "http://base_path/some_segment/id"
                    },
                    "applicationId": "IogspaceJan15",
                    "serviceDescription": "ThieIt",
                    "applicationServerProviderId": "AWS",
                    "ern": "us-east-1-wl1-atl-wlz-1",
                    "serviceProfileID": "4054ea9a-593e-4776-b488-697b1bfa4f3b"
                }
            ]


+ Response 200 (application/json)

        Update registered Service Endpoint information.

    + Attributes (UpdateServiceEndpointResult)


    + Body

            {"status":"Success","message":"EdgeAppServices are updated"}


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)



### DeregisterServiceEndpoint [DELETE]
Deregister an application's Service Endpoint from the MEC Platform(s).

+ Response 200 (application/json)

        Service endpoint deleted.

    + Attributes (DeregisterServiceEndpointResult)


    + Body

            {"status":"Success","message":"EdgeAppServicesID Deleted"}


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)





# Group Service Profiles

Create and manage profiles that describe the service characteristics of your 5G Edge applications, such as the required connection bandwidth andmaximum latency.<br/>**Note:** For the initial release of the Edge Discovery Service API,`latency`is the only service profile property that is compared with 5G Edge platform capabilities.</p>

## Serviceprofiles [/serviceprofiles]

### CreateServiceProfile [POST]
Creates a service profile that describes the resource requirements of a service.

+ Request (<<Add Header Value>>)

    + Attributes (ResourcesServiceProfile)


    + Body

            {
                "clientType": "V2X",
                "ecspFilter": "Verizon",
                "clientSchedule": "time windows",
                "clientServiceArea": "BAY AREA",
                "networkResources": {
                    "minBandwidthKbits": 1,
                    "serviceContinuitySupport": true,
                    "maxRequestRate": 15,
                    "maxLatencyMs": 20,
                    "minAvailability": 1
                },
                "computeResources": {
                    "GPU": {
                        "minCoreClockMHz": 1,
                        "minMemoryClockMHz": 35740,
                        "minBandwidthGBs": 588,
                        "minTFLOPS": 33
                    },
                    "minRAMGB": 1,
                    "minStorageGB": 1
                }
            }


+ Response 200 (application/json)

        Service profile ID.

    + Attributes (CreateServiceProfileResult)



+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)



### ListServiceProfiles [GET]
List all service profiles registered under your API key.

+ Response 200 (application/json)

        A comma delimited list of all the service profiles registered under your API key.

    + Attributes (ListServiceProfilesResult)


    + Body

            {"status":"Success","data":["serviceProfileId"]}


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)




## Serviceprofiles By ServiceProfileId [/serviceprofiles/{serviceProfileId}]

+ Parameters
    + serviceProfileId (string, required)


### GetServiceProfile [GET]
Returns a specified service profile.

+ Response 200 (application/json)

        Requested service profile.

    + Attributes (ResourcesServiceProfileWithId)


    + Body

            {"serviceProfileId":"4054ea9a-593e-4776-b488-697b1bfa4f3b","ecspFilter":"Verizon","clientSchedule":"time windows","clientServiceArea":"BAY AREA","clientType":"V2X","networkResources":{"minBandwidthKbits":1,"serviceContinuitySupport":true,"maxRequestRate":15,"maxLatencyMs":20,"minAvailability":1},"computeResources":{"GPU":{"minCoreClockMHz":1,"minMemoryClockMHz":35740,"minBandwidthGBs":588,"minTFLOPS":33},"minRAMGB":1,"minStorageGB":1}}


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)



### UpdateServiceProfile [PUT]
Update the definition of a Service Profile.

+ Request (<<Add Header Value>>)

    + Attributes (ResourcesServiceProfile)


    + Body

            {
                "clientType": "V2X",
                "ecspFilter": "Verizon",
                "clientSchedule": "time windows",
                "clientServiceArea": "BAY AREA",
                "networkResources": {
                    "minBandwidthKbits": 1,
                    "serviceContinuitySupport": true,
                    "maxRequestRate": 15,
                    "maxLatencyMs": 20,
                    "minAvailability": 1
                },
                "computeResources": {
                    "GPU": {
                        "minCoreClockMHz": 1
                    },
                    "minRAMGB": 1,
                    "minStorageGB": 1
                }
            }


+ Response 200 (application/json)

        Update a service profile.

    + Attributes (UpdateServiceProfileResult)


    + Body

            {"status":"Success","message":"Service Profile Updated"}


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)



### DeleteServiceProfile [DELETE]
Delete Service Profile based on unique service profile ID.

+ Response 200 (application/json)

        Delete a service profile.

    + Attributes (DeleteServiceProfileResult)


    + Body

            {"status":"Success","message":"Service Profile Deleted"}


+ Response 400 (application/json)

        HTTP 400 Bad Request.

    + Attributes (EdgeDiscoveryResult)



+ Response 401 (application/json)

        HTTP 401 Unauthorized.

    + Attributes (EdgeDiscoveryResult)





# Group Device Management

Manage device connectivity and get device history.

## M2m V1 Devices Actions Activate [/m2m/v1/devices/actions/activate]

### ActivateServiceForDevices [POST]
If the devices do not already exist in the account, this API resource adds them before activation.

+ Request (<<Add Header Value>>)

    + Attributes (CarrierActivateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "990013907835573"
                            },
                            {
                                "kind": "iccid",
                                "id": "89141390780800784259"
                            }
                        ]
                    },
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "990013907884259"
                            },
                            {
                                "kind": "iccid",
                                "id": "89141390780800735573"
                            }
                        ]
                    }
                ],
                "accountName": "0868924207-00001",
                "servicePlan": "m2m_4G",
                "mdnZipCode": "98801",
                "customFields": [
                    {
                        "key": "CustomField2",
                        "value": "SuperVend"
                    }
                ],
                "groupName": "4G West",
                "primaryPlaceOfUse": {
                    "customerName": {
                        "title": "President",
                        "firstName": "Zaffod",
                        "lastName": "Beeblebrox"
                    },
                    "address": {
                        "addressLine1": "1600 Pennsylvania Ave NW",
                        "city": "Washington",
                        "state": "DC",
                        "zip": "20500",
                        "country": "USA"
                    }
                }
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Add [/m2m/v1/devices/actions/add]

### AddDevices [POST]
Use this API if you want to manage some device settings before you are ready to activate service for the devices.

+ Request (<<Add Header Value>>)

    + Attributes (AddDevicesRequest)


    + Body

            {
                "accountName": "0868924207-00001",
                "customFields": [
                    {
                        "key": "CustomField2",
                        "value": "SuperVend"
                    }
                ],
                "devicesToAdd": [
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "990013907835573"
                            },
                            {
                                "kind": "iccid",
                                "id": "89141390780800784259"
                            }
                        ]
                    },
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "990013907884259"
                            },
                            {
                                "kind": "iccid",
                                "id": "89141390780800735573"
                            }
                        ]
                    }
                ],
                "groupName": "West Region",
                "state": "preactive"
            }


+ Response 200 (application/json)

        For each device in the request, contains device identifiers and a success or failure response.

    + Attributes (array[AddDevicesResult])


    + Body

            [{"deviceIds":[{"id":"89148000000800784259","kind":"iccid"}],"response":"Success"}]


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Contactinfo [/m2m/v1/devices/actions/contactinfo]

### UpdateDevicesContactInformation [PUT]
Sends a CarrierService callback message for each device in the request when the contact information has been changed, or if there was a problem and the change could not be completed.

+ Request (<<Add Header Value>>)

    + Attributes (ContactInfoUpdateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "ESN",
                                "id": "19110173057"
                            },
                            {
                                "kind": "ESN",
                                "id": "19110173057"
                            }
                        ]
                    }
                ],
                "accountName": "0212345678-00001",
                "primaryPlaceOfUse": {
                    "address": {
                        "addressLine1": "9868 Scranton Rd",
                        "addressLine2": "Suite A",
                        "city": "San Diego",
                        "state": "CA",
                        "country": "USA",
                        "zip": "92121",
                        "zip4": "0001",
                        "phone": "1234567890",
                        "phoneType": "H",
                        "emailAddress": "zaffod@theinternet.com"
                    },
                    "customerName": {
                        "firstName": "Zaffod",
                        "lastName": "Beeblebrox",
                        "middleName": "P",
                        "title": "President",
                        "suffix": "I"
                    }
                }
            }


+ Response 200 (application/json)

        Request ID returned in a success response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"24da9f9a-d110-4a54-86b4-93fb76aab83c"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions CustomFields [/m2m/v1/devices/actions/customFields]

### UpdateDevicesCustomFields [PUT]
Sends a CarrierService callback message for each device in the request when the custom fields have been changed, or if there was a problem and the change could not be completed.

+ Request (<<Add Header Value>>)

    + Attributes (CustomFieldsUpdateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "id": "89148000000800139708",
                                "kind": "iccid"
                            }
                        ]
                    }
                ],
                "customFieldsToUpdate": [
                    {
                        "key": "CustomField1",
                        "value": "West Region"
                    },
                    {
                        "key": "CustomField2",
                        "value": "Distribution"
                    }
                ]
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Deactivate [/m2m/v1/devices/actions/deactivate]

### DeactivateServiceForDevices [POST]
Deactivating service for a device may result in an early termination fee (ETF) being charged to the account, depending on the terms of the contract with Verizon. If your contract allows ETF waivers and if you want to use one for a particular deactivation, set the etfWaiver value to True.

+ Request (<<Add Header Value>>)

    + Attributes (CarrierDeactivateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "id": "20-digit ICCID",
                                "kind": "iccid"
                            }
                        ]
                    }
                ],
                "reasonCode": "FF",
                "etfWaiver": true
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Delete [/m2m/v1/devices/actions/delete]

### DeleteDeactivatedDevices [POST]
Use this API to remove unneeded devices from an account.

+ Request (<<Add Header Value>>)

    + Attributes (DeleteDevicesRequest)


    + Body

            {
                "devicesToDelete": [
                    {
                        "deviceIds": [
                            {
                                "id": "09005470263",
                                "kind": "esn"
                            }
                        ]
                    },
                    {
                        "deviceIds": [
                            {
                                "id": "85000022411113460014",
                                "kind": "iccid"
                            }
                        ]
                    },
                    {
                        "deviceIds": [
                            {
                                "id": "85000022412313460016",
                                "kind": "iccid"
                            }
                        ]
                    }
                ]
            }


+ Response 200 (application/json)

        For each device in the request, contains device identifiers and a success or failure response.

    + Attributes (array[DeleteDevicesResult])


    + Body

            [{"deviceIds":{"id":"09005470263","kind":"esn"},"status":"Success"},{"deviceIds":{"id":"85000022411113460014","kind":"iccid"},"status":"Success"},{"deviceIds":[{"id":"85000022412313460016","kind":"iccid"},{"id":"09005470263","kind":"esn"}],"status":"Failed","message":"The device is not in deactive state."}]


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions List [/m2m/v1/devices/actions/list]

### ListDevicesInformation [POST]
Returns information about a single device or information about all devices that match the given parameters. Returned information includes device provisioning state, service plan, MDN, MIN, and IP address.

+ Request (<<Add Header Value>>)

    + Attributes (AccountDeviceListRequest)


    + Body

            {
                "deviceId": {
                    "id": "20-digit ICCID",
                    "kind": "iccid"
                }
            }


+ Response 200 (application/json)

        List of devices that match the request parameters, ordered by device creation date, oldest first.

    + Attributes (AccountDeviceListResult)


    + Body

            {"hasMoreData":false,"devices":[{"accountName":"0000123456-00001","billingCycleEndDate":"2020-05-09T20:00:00-04:00","carrierInformations":[{"carrierName":"Verizon Wireless","servicePlan":"m2m4G","state":"active"}],"connected":false,"createdAt":"2019-08-07T10:42:15-04:00","deviceIds":[{"id":"10-digit MDN","kind":"mdn"},{"id":"15-digit IMEI","kind":"imei"}],"groupNames":["southwest"],"ipAddress":"0.0.0.0","lastActivationBy":"Joe Q Public","lastActivationDate":"2019-08-07T10:42:34-04:00","lastConnectionDate":"2020-03-12T04:23:37-04:00"}]}


+ Response 202 (application/json)

        List of devices that match the request parameters, ordered by device creation date, oldest first. Additional devices remain.

    + Attributes (AccountDeviceListResult)


    + Body

            {"hasMoreData":false,"devices":[{"accountName":"0000123456-00001","billingCycleEndDate":"2020-05-09T20:00:00-04:00","carrierInformations":[{"carrierName":"Verizon Wireless","servicePlan":"m2m4G","state":"active"}],"connected":false,"createdAt":"2019-08-07T10:42:15-04:00","deviceIds":[{"id":"10-digit MDN","kind":"mdn"},{"id":"15-digit IMEI","kind":"imei"}],"groupNames":["southwest"],"ipAddress":"0.0.0.0","lastActivationBy":"Joe Q Public","lastActivationDate":"2019-08-07T10:42:34-04:00","lastConnectionDate":"2020-03-12T04:23:37-04:00"}]}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions List Imeiiccidmismatch [/m2m/v1/devices/actions/list/imeiiccidmismatch]

### ListDevicesWithImeiIccidMismatch [POST]
Returns a list of all 4G devices with an ICCID (SIM) that was not activated with the expected IMEI (hardware) during a specified time frame.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceMismatchListRequest)


    + Body

            {
                "accountName": "0342077109-00001",
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "ICCID",
                                "id": "8914800000080078"
                            },
                            {
                                "kind": "MDN",
                                "id": "5096300587"
                            }
                        ]
                    }
                ],
                "filter": {
                    "earliest": "2020-05-01T15:00:00-08:00Z",
                    "latest": "2020-07-30T15:00:00-08:00Z"
                }
            }


+ Response 200 (application/json)

        List of devices that have mismatched IMEIs and ICCIDs.

    + Attributes (DeviceMismatchListResult)


    + Body

            {"devices":[{"accountName":"0212398765-00001","mdn":"5096300587","activationDate":"2011-01-21T10:55:27-08:00","iccid":"89148000000800784259","preImei":"990003420535573","postImei":"987603420573553","simOtaDate":"2017-12-01T16:00:00-08:00"}]}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Move [/m2m/v1/devices/actions/move]

### MoveDevicesWithinAccountsOfProfile [PUT]
Move active devices from one billing account to another within a customer profile.

+ Request (<<Add Header Value>>)

    + Attributes (MoveDeviceRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "ESN",
                                "id": "19110173057"
                            }
                        ]
                    }
                ],
                "accountName": "0212345678-00001",
                "servicePlan": "M2M5GB"
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"ec682a8b-e288-4806-934d-24e7a59ed889"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Gotostate [/m2m/v1/devices/actions/gotostate]

### UpdateDevicesState [PUT]
Changes the provisioning state of one or more devices to a specified customer-defined service and state.

+ Request (<<Add Header Value>>)

    + Attributes (GoToStateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "990013907835573"
                            },
                            {
                                "kind": "iccid",
                                "id": "89141390780800784259"
                            }
                        ]
                    },
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "990013907884259"
                            },
                            {
                                "kind": "iccid",
                                "id": "89141390780800735573"
                            }
                        ]
                    }
                ],
                "serviceName": "My Service",
                "stateName": "My State",
                "servicePlan": "87641",
                "mdnZipCode": "94203",
                "groupName": "4G West",
                "publicIpRestriction": "unrestricted",
                "primaryPlaceOfUse": {
                    "customerName": {
                        "title": "President",
                        "firstName": "Zaffod",
                        "lastName": "Beeblebrox"
                    },
                    "address": {
                        "addressLine1": "1600 Pennsylvania Ave NW",
                        "city": "Washington",
                        "state": "DC",
                        "zip": "20500",
                        "country": "USA"
                    }
                }
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Plan [/m2m/v1/devices/actions/plan]

### ChangeDevicesServicePlan [PUT]
Changes the service plan for one or more devices.

+ Request (<<Add Header Value>>)

    + Attributes (ServicePlanUpdateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "id": "A100003685E561",
                                "kind": "meid"
                            }
                        ]
                    }
                ],
                "servicePlan": "new_service_plan_code"
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"c8de7c1d-59b9-4cf3-b969-db76cb2ce509"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Suspend [/m2m/v1/devices/actions/suspend]

### SuspendServiceForDevices [POST]
Suspends service for one or more devices.

+ Request (<<Add Header Value>>)

    + Attributes (CarrierActionsRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "id": "89148000000800139708",
                                "kind": "iccid"
                            }
                        ]
                    }
                ]
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Restore [/m2m/v1/devices/actions/restore]

### RestoreServiceForSuspendedDevices [POST]
Restores service to one or more suspended devices.

+ Request (<<Add Header Value>>)

    + Attributes (CarrierActionsRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "id": "89148000000800139708",
                                "kind": "iccid"
                            }
                        ]
                    }
                ]
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Availability Actions List [/m2m/v1/devices/availability/actions/list]

### CheckDevicesAvailabilityForActivation [POST]
Checks whether specified devices are registered by the manufacturer with the Verizon network and are available to be activated.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceActivationRequest)


    + Body

            {
                "accountName": "0212345678-00001",
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "meid",
                                "id": "A100008385E561"
                            }
                        ]
                    }
                ]
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Connections Actions ListHistory [/m2m/v1/devices/connections/actions/listHistory]

### RetrieveDeviceConnectionHistory [POST]
Each response includes a maximum of 500 records. To obtain more records, you can call the API multiple times, adjusting the earliest value each time to start where the previous request finished.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceConnectionListRequest)


    + Body

            {
                "deviceId": {
                    "id": "89141390780800784259",
                    "kind": "iccid"
                },
                "earliest": "2015-09-16T00:00:01Z",
                "latest": "2010-09-18T00:00:01Z"
            }


+ Response 200 (application/json)

        List of device connection events, sorted by the occurredAt timestamp, oldest first.

    + Attributes (ConnectionHistoryResult)


    + Body

            {"connectionHistory":[{"connectionEventAttributes":[{"key":"BytesUsed","value":"0"},{"key":"Event","value":"Start"}],"extendedAttributes":[],"occurredAt":"2015-12-17T14:12:36-05:00"},{"connectionEventAttributes":[{"key":"BytesUsed","value":"419863234"},{"key":"Event","value":"Stop"},{"key":"Msisdn","value":"15086303371"}],"extendedAttributes":[],"occurredAt":"2015-12-19T01:20:00-05:00"}],"hasMoreData":false}


+ Response 202 (application/json)

        List of device connection events, sorted by the occurredAt timestamp, oldest first. Additional events remain.

    + Attributes (ConnectionHistoryResult)


    + Body

            {"connectionHistory":[{"connectionEventAttributes":[{"key":"BytesUsed","value":"0"},{"key":"Event","value":"Start"}],"extendedAttributes":[],"occurredAt":"2015-12-17T14:12:36-05:00"},{"connectionEventAttributes":[{"key":"BytesUsed","value":"419863234"},{"key":"Event","value":"Stop"},{"key":"Msisdn","value":"15086303371"}],"extendedAttributes":[],"occurredAt":"2015-12-19T01:20:00-05:00"}],"hasMoreData":false}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices CostCenter [/m2m/v1/devices/costCenter]

### UpdateDevicesCostCenterCode [PUT]
Changes or removes the CostCenterCode value or customer name and address (Primary Place of Use) for one or more devices.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceCostCenterRequest)


    + Body

            {
                "costCenter": "cc12345",
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "id": "89148000000800139708",
                                "kind": "iccid"
                            }
                        ]
                    }
                ]
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Extendeddiagnostics Actions List [/m2m/v1/devices/extendeddiagnostics/actions/list]

### GetDeviceExtendedDiagnosticInformation [POST]
Returns extended diagnostic information about a specified device, including connectivity, provisioning, billing and location status.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceExtendedDiagnosticsRequest)


    + Body

            {
                "accountName": "1223334444-00001",
                "deviceList": [
                    {
                        "id": "10-digit MDN",
                        "kind": "mdn"
                    }
                ]
            }


+ Response 200 (application/json)

        Device diagnostic information.

    + Attributes (DeviceExtendedDiagnosticsResult)


    + Body

            {"categories":[{"categoryName":"Connectivity","extendedAttributes":[{"key":"Connected","value":"false"}]}]}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices History Actions List [/m2m/v1/devices/history/actions/list]

### ListDevicesProvisioningHistory [POST]
Returns the provisioning history of a specified device during a specified time period.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceProvisioningHistoryListRequest)


    + Body

            {
                "deviceId": {
                    "id": "89141390780800784259",
                    "kind": "iccid"
                },
                "earliest": "2015-09-16T00:00:01Z",
                "latest": "2015-09-18T00:00:01Z"
            }


+ Response 200 (application/json)

        List of Device Provision History events, sorted by the timestamp, oldest first.

    + Attributes (array[DeviceProvisioningHistoryListResult])


    + Body

            [{"provisioningHistory":[{"occurredAt":"2015-12-17T13:56:13-05:00","status":"Success","eventBy":"Harry Potter","eventType":"Activation Confirmed","servicePlan":"Tablet5GB","mdn":"","msisdn":"15086303371","extendedAttributes":[]}],"hasMoreData":false}]


+ Response 202 (application/json)

        List of Device Provision History events, sorted by the timestamp, oldest first. Additional events remain.

    + Attributes (array[DeviceProvisioningHistoryListResult])


    + Body

            [{"provisioningHistory":[{"occurredAt":"2015-12-17T13:56:13-05:00","status":"Success","eventBy":"Harry Potter","eventType":"Activation Confirmed","servicePlan":"Tablet5GB","mdn":"","msisdn":"15086303371","extendedAttributes":[]}],"hasMoreData":false}]


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Prl Actions List [/m2m/v1/devices/prl/actions/list]

### ListCurrentDevicesPRLVersion [POST]
4G and GSM devices do not have a PRL.

+ Request (<<Add Header Value>>)

    + Attributes (DevicePrlListRequest)


    + Body

            {
                "groupName": "West Region",
                "accountName": "101234-0001",
                "servicePlan": "3G 2MB"
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Suspension Status [/m2m/v1/devices/suspension/status]

### GetDeviceServiceSuspensionStatus [POST]
Returns DeviceSuspensionStatus callback messages containing the current device state and information on how many days a device has been suspended and can continue to be suspended.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceSuspensionStatusRequest)


    + Body

            {
                "filter": {
                    "groupName": "suspended devices"
                },
                "accountName": "1223334444-00001"
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"904dcdc6-a590-45e4-ac76-403306f6d883"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Usage Actions List [/m2m/v1/devices/usage/actions/list]

### ListDevicesUsageHistory [POST]
Returns the network data usage history of a device during a specified time period.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceUsageListRequest)


    + Body

            {
                "earliest": "2018-03-20T00:00:01Z",
                "latest": "2020-12-31T00:00:01Z"
            }


+ Response 200 (application/json)

        List of device usage events, sorted by the timestamp, oldest first.

    + Attributes (DeviceUsageListResult)


    + Body

            {"hasMoreData":false,"usageHistory":[{"bytesUsed":4096,"extendedAttributes":[{"key":"MoSms","value":"0"}],"smsUsed":0,"source":"Raw Usage","timestamp":"2020-12-01T00:00:00Z"}]}


+ Response 202 (application/json)

        List of device usage events, sorted by the timestamp, oldest first. Additional events remain.

    + Attributes (DeviceUsageListResult)


    + Body

            {"hasMoreData":false,"usageHistory":[{"bytesUsed":4096,"extendedAttributes":[{"key":"MoSms","value":"0"}],"smsUsed":0,"source":"Raw Usage","timestamp":"2020-12-01T00:00:00Z"}]}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Usage Actions List Aggregate [/m2m/v1/devices/usage/actions/list/aggregate]

### RetrieveAggregateDeviceUsageHistory [POST]
The information is returned in a callback response, so you must register a URL for DeviceUsage callback messages using the POST /callbacks API.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceAggregateUsageListRequest)


    + Body

            {
                "deviceIds": [
                    {
                        "id": "84258000000891490087",
                        "kind": "ICCID"
                    }
                ],
                "accountName": "9992330389-00001",
                "endTime": "2021-08-30T00:00:00-06:00",
                "startTime": "2021-08-01T00:00:00-06:00"
            }


+ Response 200 (application/json)

        A unique string that associates the request with the results that are sent via a callback service.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"1631e200-7398-4609-b1f8-398341229176"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions DeviceId [/m2m/v1/devices/{serviceType}/actions/deviceId]

+ Parameters
    + serviceType (string, required)

        Identifier type.


### UpdateDeviceId [PUT]
Changes the identifier of a 3G or 4G device to match hardware changes made for a line of service. Use this request to transfer the line of service and the MDN to new hardware, or to change the MDN.

+ Request (<<Add Header Value>>)

    + Attributes (ChangeDeviceIdRequest)


    + Body

            {
                "deviceIds": [
                    {
                        "id": "42590078891480000008",
                        "kind": "iccid"
                    }
                ],
                "deviceIdsTo": [
                    {
                        "id": "89148000000842590078",
                        "kind": "iccid"
                    }
                ],
                "change4gOption": "ChangeICCID",
                "zipCode": "98802",
                "servicePlan": "4G 2GB"
            }


+ Response 200 (application/json)

        A unique string that associates the request with the results that are sent via a callback service.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"a28892ea-6503-4aa7-bfa2-4cd45d42f61b"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Upload [/m2m/v1/devices/actions/upload]

### DeviceUpload [POST]
This corresponds to the M2M-MC SOAP interface, ```DeviceUploadService```.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceUploadRequest)


    + Body

            {
                "accountName": "1223334444-00001",
                "emailAddress": "bob@mycompany.com",
                "deviceSku": "VZW123456",
                "uploadType": "IMEI",
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "15-digit IMEI"
                            }
                        ]
                    },
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "15-digit IMEI"
                            }
                        ]
                    }
                ]
            }


+ Response 200 (application/json)

        Request ID

    + Attributes (RequestResponse)



+ Response 400 (application/json)

        Error Response

    + Attributes (RestErrorResponse)




## M2m V1 Devices Usage Actions Billedusage List [/m2m/v1/devices/usage/actions/billedusage/list]

### BilledUsageInfo [POST]
Gets billed usage for for either multiple devices or an entire billing account.

+ Request (<<Add Header Value>>)

    + Attributes (billedusageListRequest)


    + Body

            {
                "accountName": "0342077109-00001",
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "iccid",
                                "id": "8914800000080078"
                            },
                            {
                                "kind": "eid",
                                "id": "5096300587"
                            }
                        ]
                    }
                ]
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Usagesegmentationlabels [/m2m/v1/devices/actions/usagesegmentationlabels]

### UsageSegmentationLabelAssociation [POST]
Allows you to associate your own usage segmentation label with a device.

+ Request (<<Add Header Value>>)

    + Attributes (AssociateLabelRequest)



+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"ec682a8b-e288-4806-934d-24e7a59ed889"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Usagesegmentationlabels [/m2m/v1/devices/actions/usagesegmentationlabels{?accountName,LabelList}]

### UsageSegmentationLabelDeletion [DELETE]
Allow customers to remove the associated label from a device.
+ Parameters
    + accountName (string, required)

        The numeric name of the account.

        + Sample: 0000123456-00001
    + LabelList (LabelsList, required)

        A list of the Label IDs to remove from the exclusion list.


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"ec682a8b-e288-4806-934d-24e7a59ed889"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Actions Uploadactivate [/m2m/v1/devices/actions/uploadactivate]

### ActivationOrderStatus [POST]
Uploads and activates device identifiers and SKUs for new devices from OEMs to Verizon.

+ Request (<<Add Header Value>>)

    + Attributes (UploadsActivatesDeviceRequest)


    + Body

            {
                "accountName": "1223334444-00001",
                "emailAddress": "bob@mycompany.com",
                "deviceSku": "VZW123456",
                "uploadType": "IMEI ICCID Pair",
                "servicePlan": "15MBShr",
                "carrierIpPoolName": "",
                "mdnZipCode": "92222",
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "990013907835573"
                            },
                            {
                                "kind": "iccid",
                                "id": "89141390780800784259"
                            }
                        ]
                    }
                ]
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"ec682a8b-e288-4806-934d-24e7a59ed889"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Requests Status [/m2m/v1/devices/requests/status]

### UploadDeviceIdentifier [POST]
Checks the status of an activation order and lists where the order is in the provisioning process.

+ Request (<<Add Header Value>>)

    + Attributes (CheckOrderStatusRequest)


    + Body

            {
                "accountName": "4Gpublicaccount ",
                "orderRequestId": " f55fea16-3664-4a32-ae9d-c0cbe3eedf1d ",
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "id": "20112019672551234613",
                                "kind": "iccid"
                            }
                        ]
                    }
                ]
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"c7b45cf2-cab1-4e42-82f8-20350f4c4ea3"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}




# Group Accounts

Get information about an account or account leads.

## M2m V1 Accounts By Aname [/m2m/v1/accounts/{aname}]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: Chintan_CPNStaticBulk

### GetAccountInformation [GET]
Returns information about a specified account.

+ Response 200 (application/json)

        The account information.

    + Attributes (Account)


    + Body

            {"accountName":"Chintan_CPNStaticBulk","accountNumber":"1234567890-77777","organizationName":"ChintanCPNBulk","isProvisioningAllowed":true,"carriers":["Verizon Wireless"],"features":["Static IP","Dynamic IP","Customer PN"],"iPPools":[{"poolName":"ACMESTATIC001","poolType":"Static IP","isDefaultPool":true},{"poolName":"ACMEDYNAMIC001","poolType":"Dynamic IP","isDefaultPool":false}],"servicePlans":[{"name":"","code":"92876","sizeKb":1,"carrierServicePlanCode":"","extendedAttributes":[]},{"name":"","code":"92876","sizeKb":1,"carrierServicePlanCode":"","extendedAttributes":[]}]}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Accounts Statesandservices [/m2m/v1/accounts/{aname}/statesandservices]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 0252012345-00001

### ListAccountStatesAndServices [GET]
Returns a list and details of all custom services and states defined for a specified account.

+ Response 200 (application/json)

        The account's engagements, services, and states.

    + Attributes (AccountStatesAndServices)


    + Body

            {"engagement":[{"engagementId":"1234","chargingGroup":"Engagement1234","services":[{"name":"Svc1","description":"Usage Segmentation - Main Line.","states":[{"name":"Svc1 Activate","workflowSequenceNumber":1,"servicePlans":["4523aef7250f67205fd5","4d4090c0f2d48814c94d"]},{"name":"Svc1 No Telematics","workflowSequenceNumber":3,"servicePlans":["4523aef7250f67205fd5","4d4090c0f2d48814c94d"]},{"name":"Svc1 Deactivate","workflowSequenceNumber":2,"servicePlans":["4523aef7250f67205fd5","4d4090c0f2d48814c94d"]}]},{"name":"WIFI","description":"Usage Segmentation - WiFi.","states":[{"name":"WIFI Redirect","workflowSequenceNumber":2,"servicePlans":["4d4090c0f2d48814c94d"]},{"name":"WIFI Trial","workflowSequenceNumber":4,"servicePlans":["4d4090c0f2d48814c94d"]},{"name":"WIFI Goodwill","workflowSequenceNumber":6,"servicePlans":["4d4090c0f2d48814c94d"]},{"name":"WIFI Disable","workflowSequenceNumber":3,"servicePlans":["4d4090c0f2d48814c94d"]}]}]}]}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Leads By Aname [/m2m/v1/leads/{aname}{?next}]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 0252012345-00001

### ListAccountLeads [GET]
When HTTP status is 202, a URL will be returned in the Location header of the form /leads/{aname}?next={token}. This URL can be used to request the next set of leads.
+ Parameters
    + next (number, optional)

        Continue the previous query from the pageUrl in Location Header.


+ Response 200 (application/json)

        The list of leads associated with the account.

    + Attributes (AccountLeadsResult)


    + Body

            {"leads":[{"leadId":"L-10001","leadState":"Qualified","address":{"addressLine1":"1600 Pennsylvania Avenue","addressLine2":"","city":"Washington","state":"DC","zip":"20500","country":"USA"}}],"hasMoreData":false}


+ Response 202 (application/json)

        The list of leads associated with the account, additional leads remain.

    + Attributes (AccountLeadsResult)


    + Body

            {"leads":[{"leadId":"L-10001","leadState":"Qualified","address":{"addressLine1":"1600 Pennsylvania Avenue","addressLine2":"","city":"Washington","state":"DC","zip":"20500","country":"USA"}}],"hasMoreData":false}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}




# Group Device Groups

Manage device groups.

## M2m V1 Groups [/m2m/v1/groups]

### CreateDeviceGroup [POST]
Create a new device group and optionally add devices to the group. Device groups can make it easier to manage similar devices and to get reports on their usage.

+ Request (<<Add Header Value>>)

    + Attributes (CreateDeviceGroupRequest)


    + Body

            {
                "accountName": "0000123456-00001",
                "groupName": "group name",
                "groupDescription": "descriptive string",
                "devicesToAdd": [
                    {
                        "kind": "imei",
                        "id": "15-digit IMEI"
                    }
                ]
            }


+ Response 200 (application/json)

        Successful response, Creates a new device group.

    + Attributes (ConnectivityManagementSuccessResult)


    + Body

            {"success":true}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Groups By Aname [/m2m/v1/groups/{aname}]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 0252012345-00001

### ListDeviceGroups [GET]
Returns a list of all device groups in a specified account.

+ Response 200 (application/json)

        The list of device groups in the account.

    + Attributes (array[DeviceGroup])


    + Body

            [{"name":"Unassigned Devices","description":"All devices that are not in another device group.","isDefaultGroup":true,"extendedAttributes":[]},{"name":"West Coast Devices","description":"","isDefaultGroup":false,"extendedAttributes":[]}]


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Groups Name By Aname And Gname [/m2m/v1/groups/{aname}/name/{gname}{?next}]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 0252012345-00001
    + gname (string, required)

        Group name.


### GetDeviceGroupInformation [GET]
When HTTP status is 202, a URL will be returned in the Location header of the form /groups/{aname}/name/{gname}/?next={token}. This URL can be used to request the next set of groups.
+ Parameters
    + next (number, optional)

        Continue the previous query from the pageUrl pagetoken.


+ Response 200 (application/json)

        Successful response.

    + Attributes (DeviceGroupDevicesData)


    + Body

            {"name":"Nebraska Trucks","description":"All service trucks in Nebraska.","hasMoreData":false,"devices":[{"deviceIds":[{"id":"12345","kind":"meid"},{"id":"54321","kind":"mdn"}]}]}


+ Response 202 (application/json)

        Successful response, additional groups remain.

    + Attributes (DeviceGroupDevicesData)


    + Body

            {"name":"Nebraska Trucks","description":"All service trucks in Nebraska.","hasMoreData":false,"devices":[{"deviceIds":[{"id":"12345","kind":"meid"},{"id":"54321","kind":"mdn"}]}]}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Groups Name By Aname And Gname [/m2m/v1/groups/{aname}/name/{gname}]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 0252012345-00001
    + gname (string, required)

        Group name.


### UpdateDeviceGroup [PUT]
Make changes to a device group, including changing the name and description, and adding or removing devices.

+ Request (<<Add Header Value>>)

    + Attributes (DeviceGroupUpdateRequest)


    + Body

            {
                "newGroupName": "Western region tanks",
                "newGroupDescription": "All western region tank level monitors.",
                "devicesToAdd": [
                    {
                        "kind": "imei",
                        "id": "990003420535537"
                    }
                ]
            }


+ Response 200 (application/json)

        Successful response.

    + Attributes (ConnectivityManagementSuccessResult)


    + Body

            {"success":true}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}


### DeleteDeviceGroup [DELETE]
Deletes a device group from the account. Devices in the group are moved to the default device group and are not deleted from the account.

+ Response 200 (application/json)

        Successful response.

    + Attributes (ConnectivityManagementSuccessResult)


    + Body

            {"success":true}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}




# Group SMS

Exchange Short Message Service (SMS) messages with devices.

## M2m V1 Sms [/m2m/v1/sms]

### SendSMSToDevice [POST]
The messages are queued on the ThingSpace Platform and sent as soon as possible, but they may be delayed due to traffic and routing considerations.

+ Request (<<Add Header Value>>)

    + Attributes (SMSSendRequest)


    + Body

            {
                "servicePlan": "T Plan 2",
                "smsMessage": "The rain in Spain stays mainly in the plain."
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Sms History By Aname [/m2m/v1/sms/{aname}/history{?next}]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 0252012345-00001

### ListDevicesSMSMessages [GET]
When HTTP status is 202, a URL will be returned in the Location header of the form /sms/{aname}/history?next={token}. This URL can be used to request the next set of messages.
+ Parameters
    + next (number, optional)

        Continue the previous query from the URL in Location Header.


+ Response 200 (application/json)

        Successful response.

    + Attributes (SMSMessagesQueryResult)


    + Body

            {"messages":[{"deviceIds":[{"id":"09623489171","kind":"esn"}],"message":"testmessage1","timestamp":"2016-01-01T12:29:49-08:00"},{"deviceIds":[{"id":"09623489171","kind":"esn"}],"message":"testmessage2","timestamp":"2016-01-01T12:31:02-08:00"}],"hasMoreData":false}


+ Response 202 (application/json)

        Successful response, additional SMS messages remain.

    + Attributes (SMSMessagesQueryResult)


    + Body

            {"messages":[{"deviceIds":[{"id":"09623489171","kind":"esn"}],"message":"testmessage1","timestamp":"2016-01-01T12:29:49-08:00"},{"deviceIds":[{"id":"09623489171","kind":"esn"}],"message":"testmessage2","timestamp":"2016-01-01T12:31:02-08:00"}],"hasMoreData":false}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Sms StartCallbacks By Aname [/m2m/v1/sms/{aname}/startCallbacks]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 0252012345-00001

### StartQueuedSMSDelivery [PUT]
Tells the ThingSpace Platform to start sending mobile-originated SMS messages through the EnhancedConnectivityService callback service. SMS messages from devices are queued until they are retrieved by your application, either by callback or synchronously with GET /sms/{accountName}/history.

+ Response 200 (application/json)

        Successful response.

    + Attributes (ConnectivityManagementSuccessResult)


    + Body

            {"success":true}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}




# Group Session Management

Start and end Connectivity Management sessions.

## M2m V1 Session Login [/m2m/v1/session/login]

### StartConnectivityManagementSession [POST]
Initiates a Connectivity Management session and returns a VZ-M2M session token that is required in subsequent API requests.

+ Request (<<Add Header Value>>)

    + Attributes (LogInRequest)


    + Body

            {
                "username": "zbeeblebrox",
                "password": "IMgr8"
            }


+ Response 200 (application/json)

        VZ-M2M session token.

    + Attributes (LogInResult)


    + Body

            {"sessionToken":"bcce3ea6-fe4f-4952-bacf-eadd80718e83"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Session Logout [/m2m/v1/session/logout]

### EndConnectivityManagementSession [POST]
Ends a Connectivity Management session.

+ Response 200 (application/json)

        VZ-M2M session token.

    + Attributes (LogOutRequest)


    + Body

            {"sessionToken":"bcce3ea6-fe4f-4952-bacf-eadd80718e83"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Session Password Actions Reset [/m2m/v1/session/password/actions/reset]

### ResetConnectivityManagementPassword [PUT]
The new password is effective immediately. Passwords do not expire, but Verizon recommends changing your password every 90 days.

+ Request (<<Add Header Value>>)

    + Attributes (SessionResetPasswordRequest)


    + Body

            {
                "oldPassword": "grflbk"
            }


+ Response 200 (application/json)

        Returns a new, randomly generated password for the current username.

    + Attributes (SessionResetPasswordResult)


    + Body

            {"newPassword":"Wh0a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}




# Group Connectivity Callbacks

Manage subscriptions to asynchronous webhook messages.

## M2m V1 Callbacks By Aname [/m2m/v1/callbacks/{aname}]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 0252012345-00001

### ListRegisteredCallbacks [GET]
Returns the name and endpoint URL of the callback listening services registered for a given account.

+ Response 200 (application/json)

        A list of callback listeners.

    + Attributes (array[ConnectivityManagementCallback])


    + Body

            [{"accountName":"0252012345-00001","serviceName":"CarrierService","url":"http://10.120.102.147:50569/CallbackListener/Carrier.asmx"},{"accountName":"0252012345-00001","password":"drowssap","serviceName":"DeviceUsage","url":"http://10.120.102.147:50569/CallbackListener/Usage.asmx","username":"zaffod"}]


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}


### RegisterCallback [POST]
You are responsible for creating and running a listening process on your server at that URL.

+ Request (<<Add Header Value>>)

    + Attributes (RegisterCallbackRequest)


    + Body

            {
                "name": "CarrierService",
                "url": "https://mock.thingspace.verizon.com/webhook"
            }


+ Response 200 (application/json)

        A success response for registering a callback.

    + Attributes (CallbackActionResult)


    + Body

            {"accountName":"122333444-00002","serviceName":"CarrierService"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Callbacks Name By Aname And Sname [/m2m/v1/callbacks/{aname}/name/{sname}]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 1223334444-00001
    + sname (string, required)

        Service name.

        + Sample: CarrierService

### DeregisterCallback [DELETE]
Stops ThingSpace from sending callback messages for the specified account and service.

+ Response 200 (application/json)

        Response for a request to deregister a callback.

    + Attributes (CallbackActionResult)


    + Body

            {"accountName":"1223334444-00001","serviceName":"CarrierService"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}




# Group Account Requests

Get the status of asynchronous reqeusts.

## M2m V1 Accounts Requests Status By Aname [/m2m/v1/accounts/{aname}/requests/{requestId}/status]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 0252012345-00001
    + requestId (string, required)

        UUID from synchronous response.

        + Sample: 86c83330-4bf5-4235-9c4e-a83f93aeae4c

### GetCurrentAsynchronousRequestStatus [GET]
Returns the current status of an asynchronous request that was made for a single device.

+ Response 200 (application/json)

        The asynchronous request status.

    + Attributes (AsynchronousRequestResult)


    + Body

            {"requestId":"86c83330-4bf5-4235-9c4e-a83f93aeae4c","status":"Success"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}




# Group Service Plans

Get a list of service plans in an account.

## M2m V1 Plans By Aname [/m2m/v1/plans/{aname}]

+ Parameters
    + aname (string, required)

        Account name.

        + Sample: 0252012345-00001

### ListAccountServicePlans [GET]
Returns a list of all data service plans that are associated with a specified billing account. When you send a request to /devices/actions/activate to activate a line of service you must specify the code for one of the service plans associated with your account.

+ Response 200 (application/json)

        The list of service plans associated with the account.

    + Attributes (array[ServicePlan])


    + Body

            [{"name":"2MSHR5GB","code":"M2MSHR5GB","sizeKb":0,"carrierServicePlanCode":"84638"},{"name":"TNTL200TALK","code":"NTL200TALK","sizeKb":0,"carrierServicePlanCode":"74644"}]


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}




# Group Device Diagnostics

Helps to create & manage diagnostics

## M2m V1 Diagnostics Basic Devicereachability Status [/m2m/v1/diagnostics/basic/devicereachability/status]

### DeviceReachabilityStatusUsingPOST [POST]
If the devices do not already exist in the account, this API resource adds them before activation.

+ Request (<<Add Header Value>>)

    + Attributes (NotificationReportStatusRequest)


    + Body

            {
                "device": {
                    "kind": "imei",
                    "id": "990013907835573"
                },
                "accountName": "0868924207-00001",
                "servicePlan": "m2m_4G",
                "mdnZipCode": "98801"
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Diagnostics Basic Devicereachability Monitors [/m2m/v1/diagnostics/basic/devicereachability/monitors]

### RetrieveActiveMonitorsUsingPOST [POST]
Retrieve all the active monitors.

+ Request (<<Add Header Value>>)

    + Attributes (RetrieveMonitorsRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "990013907835573"
                            },
                            {
                                "kind": "iccid",
                                "id": "89141390780800784259"
                            }
                        ]
                    },
                    {
                        "deviceIds": [
                            {
                                "kind": "imei",
                                "id": "990013907884259"
                            },
                            {
                                "kind": "iccid",
                                "id": "89141390780800735573"
                            }
                        ]
                    }
                ],
                "accountName": "0868924207-00001",
                "monitorType": "monitorType"
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}




# Group Device Profile Management

## M2m V1 Devices Profile Actions Activate Enable [/m2m/v1/devices/profile/actions/activate_enable]

### ActivateDeviceThroughProfile [POST]
Uses the profile to bring the device under management.

+ Request (<<Add Header Value>>)

    + Attributes (ActivateDeviceProfileRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "id": "32-digit EID",
                                "kind": "eid"
                            },
                            {
                                "id": "15-digit IMEI",
                                "kind": "imei"
                            }
                        ]
                    }
                ],
                "accountName": "0000123456-00001",
                "servicePlan": "The service plan name",
                "mdnZipCode": "five digit zip code"
            }


+ Response 200 (application/json)

        Request ID

    + Attributes (RequestResponse)



+ Response 400 (application/json)

        Bad request

    + Attributes (RestErrorResponse)




## M2m V1 Devices Profile Actions Activate [/m2m/v1/devices/profile/actions/activate]

### ProfileToActivateDevice [POST]
Uses the profile to activate the device.

+ Request (<<Add Header Value>>)

    + Attributes (ProfileRequest)



+ Response 200 (application/json)

        Request ID

    + Attributes (RequestResponse)



+ Response 400 (application/json)

        Bad request

    + Attributes (RestErrorResponse)




## M2m V1 Devices Profile Actions Deactivate [/m2m/v1/devices/profile/actions/deactivate]

### ProfileToDeactivateDevice [POST]
Uses the profile to deactivate the device.

+ Request (<<Add Header Value>>)

    + Attributes (DeactivateDeviceProfileRequest)



+ Response 200 (application/json)

        Request ID

    + Attributes (RequestResponse)



+ Response 400 (application/json)

        Bad request

    + Attributes (RestErrorResponse)




## M2m V1 Devices Profile Actions Setfallbackattribute [/m2m/v1/devices/profile/actions/setfallbackattribute]

### ProfileToSetFallbackAttribute [POST]
Allows the profile to set the fallback attribute to the device.

+ Request (<<Add Header Value>>)

    + Attributes (SetFallbackAttributeRequest)



+ Response 200 (application/json)

        Request ID

    + Attributes (RequestResponse)



+ Response 400 (application/json)

        Bad request

    + Attributes (RestErrorResponse)





# Group Device Monitoring

## M2m V1 Diagnostics Basic Devicereachability [/m2m/v1/diagnostics/basic/devicereachability]

### DeviceReachability [POST]

+ Request (<<Add Header Value>>)

    + Attributes (NotificationReportRequest)


    + Body

            {
                "accountName": "0242072320-00001",
                "requestType": "REACHABLE_FOR_DATA",
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "id": "89148000004292933820",
                                "kind": "iccid"
                            },
                            {
                                "id": "89148000003164287919",
                                "kind": "iccid"
                            }
                        ]
                    }
                ],
                "monitorExpirationTime": "2019-12-02T15:00:00-08:00Z"
            }


+ Response 200 (application/json)

        Request ID

    + Attributes (RequestResponse)



+ Response 400 (application/json)

        Error Response

    + Attributes (RestErrorResponse)




## M2m V1 Diagnostics Basic Devicereachability [/m2m/v1/diagnostics/basic/devicereachability{?accountName,monitorIds}]

### StopDeviceReachability [DELETE]
+ Parameters
    + accountName (string, required)

        The numeric name of the account.

        + Sample: 0242123520-00001
    + monitorIds (array[string], required)

        The array contains the monitorIDs (UUID) for which the monitor is to be deleted.

        + Sample: ["35596ca6-bab4-4333-a914-42b4fc2da54c","35596ca6-bab4-4333-a914-42b4fc2da54b"]

+ Response 200 (application/json)

        Request ID

    + Attributes (RequestResponse)



+ Response 400 (application/json)

        Error Response

    + Attributes (RestErrorResponse)





# Group eUICC Device Profile Management

## M2m V1 Devices Profile Actions Download Enable [/m2m/v1/devices/profile/actions/download_enable]

### DownloadLocalProfileToEnable [POST]
Downloads an eUICC local profile to devices and enables the profile.

+ Request (<<Add Header Value>>)

    + Attributes (ProfileChangeStateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "eid",
                                "id": "678912789123453456784008666456"
                            },
                            {
                                "kind": "iccid",
                                "id": "78425989148000000840"
                            }
                        ]
                    }
                ],
                "accountName": "1223334444-00001",
                "smsrOid": "1.3.6.1.4.1.31746.1.500.200.101.5"
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Profile Actions Download Disable [/m2m/v1/devices/profile/actions/download_disable]

### DownloadLocalProfileToDisable [POST]
Downloads an eUICC local profile to devices and leaves the profile disabled.

+ Request (<<Add Header Value>>)

    + Attributes (ProfileChangeStateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "eid",
                                "id": "678912789123453456784008666456"
                            },
                            {
                                "kind": "iccid",
                                "id": "78425989148000000840"
                            }
                        ]
                    }
                ],
                "accountName": "1223334444-00001",
                "smsrOid": "1.3.6.1.4.1.31746.1.500.200.101.5"
            }


+ Response 200 (application/json)

        Request ID received on a successful response.

    + Attributes (DeviceManagementResult)


    + Body

            {"requestId":"595f5c44-c31c-4552-8670-020a1545a84d"}


+ Response 400 (application/json)

        Error response.

    + Attributes (ConnectivityManagementResult)


    + Body

            {"errorCode":"error code string","errorMessage":"error message string"}



## M2m V1 Devices Profile Actions Enable [/m2m/v1/devices/profile/actions/enable]

### EnableLocalProfile [POST]
Enable a local profile that has been downloaded to eUICC devices.

+ Request (<<Add Header Value>>)

    + Attributes (ProfileChangeStateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "eid",
                                "id": "678912789123453456784008666456"
                            },
                            {
                                "kind": "iccid",
                                "id": "78425989148000000840"
                            }
                        ]
                    }
                ],
                "accountName": "1223334444-00001",
                "smsrOid": "1.3.6.1.4.1.31746.1.500.200.101.5"
            }


+ Response 200 (application/json)

        Request ID

    + Attributes (RequestResponse)



+ Response 400 (application/json)

        Error Response

    + Attributes (RestErrorResponse)




## M2m V1 Devices Profile Actions Disable [/m2m/v1/devices/profile/actions/disable]

### DisableLocalProfile [POST]
Disable a local profile on eUICC devices. The default or boot profile will become the enabled profile.

+ Request (<<Add Header Value>>)

    + Attributes (ProfileChangeStateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "eid",
                                "id": "678912789123453456784008666456"
                            },
                            {
                                "kind": "iccid",
                                "id": "78425989148000000840"
                            }
                        ]
                    }
                ],
                "accountName": "1223334444-00001",
                "smsrOid": "1.3.6.1.4.1.31746.1.500.200.101.5"
            }


+ Response 200 (application/json)

        Request ID

    + Attributes (RequestResponse)



+ Response 400 (application/json)

        Error Response

    + Attributes (RestErrorResponse)




## M2m V1 Devices Profile Actions Delete [/m2m/v1/devices/profile/actions/delete]

### DeleteLocalProfile [POST]
Delete a local profile from eUICC devices. If the local profile is enabled, it will first be disabled and the boot or default profile will be enabled.

+ Request (<<Add Header Value>>)

    + Attributes (ProfileChangeStateRequest)


    + Body

            {
                "devices": [
                    {
                        "deviceIds": [
                            {
                                "kind": "eid",
                                "id": "678912789123453456784008666456"
                            },
                            {
                                "kind": "iccid",
                                "id": "78425989148000000840"
                            }
                        ]
                    }
                ],
                "accountName": "1223334444-00001",
                "smsrOid": "1.3.6.1.4.1.31746.1.500.200.101.5"
            }


+ Response 200 (application/json)

        Request ID

    + Attributes (RequestResponse)



+ Response 400 (application/json)

        Error Response

    + Attributes (RestErrorResponse)





# Group Devices Locations

Locate devices.

## Locations [/locations]

### ListDevicesLocationsSynchronous [POST]
This locations endpoint retrieves the locations for a list of devices.

+ Request (<<Add Header Value>>)

    + Attributes (LocationRequest)


    + Body

            {
                "accountName": "1234567890-00001",
                "accuracyMode": "0",
                "cacheMode": "1",
                "deviceList": [
                    {
                        "id": "980003420535573",
                        "kind": "imei",
                        "mdn": "7892345678"
                    },
                    {
                        "id": "375535024300089",
                        "kind": "imei",
                        "mdn": "7897654321"
                    },
                    {
                        "id": "A100003861E585",
                        "kind": "meid",
                        "mdn": "7897650914"
                    }
                ]
            }


+ Response 200 (application/json)

        List of JSON objects, each containing the position data or an error for a device in the request.

    + Attributes (array[Location])


    + Body

            [{"msid":"7892345678","pd":{"time":"20170520004421","x":"33.45324","y":"-84.59621","radius":"5571","qos":false},"error":{}},{"msid":"8583239709","pd":{"time":"20170525214342","x":"38.8408694","y":"-105.0422583","radius":"3866","qos":false},"error":{}},{"msid":"7897654321","pd":{},"error":{"time":"20170525214342","type":"POSITION METHOD FAILURE","info":"Exception code=ABSENT SUBSCRIBER"}}]



## Devicelocations [/devicelocations]

### ListDevicesLocationsAsynchronous [POST]
Requests the current or cached location of up to 10,000 IoT or consumer devices (phones, tablets. etc.). This request returns a synchronous transaction ID, and the location information for each device is returned asynchronously as a DeviceLocation callback message.

+ Request (<<Add Header Value>>)

    + Attributes (LocationRequest)


    + Body

            {
                "accountName": "2234434445-32333",
                "accuracyMode": "0",
                "cacheMode": "2",
                "deviceList": [
                    {
                        "id": "354677790348290",
                        "kind": "imei",
                        "mdn": "5557337468"
                    }
                ]
            }


+ Response 200 (application/json)

        Request accepted; location report in progress

    + Attributes (SynchronousLocationRequestResult)


    + Body

            {"txid":"4be7c858-0ef9-4b15-a0c1-95061456d835","status":"QUEUED"}



## Devicelocations By Txid [/devicelocations/{txid}{?accountName}]

+ Parameters
    + txid (string, required)

        Transaction ID of the request to cancel, from the synchronous response to the original request.

        + Sample: 2c90bd28-ece4-42ef-9f02-7e3bd4fbff33

### CancelDeviceLocationRequest [DELETE]
Cancel a queued or unfinished device location request.
+ Parameters
    + accountName (string, required)

        Account identifier in "##########-#####".

        + Sample: 1234567890-00001

+ Response 200 (application/json)

        Request canceled.

    + Attributes (TransactionID)


    + Body

            {"txid":"2c90bd28-ece4-42ef-9f02-7e3bd4fbff33"}



## Locationreports [/locationreports]

### CreateLocationReport [POST]
Request an asynchronous device location report.

+ Request (<<Add Header Value>>)

    + Attributes (LocationRequest)


    + Body

            {
                "accountName": "1234567890-00001",
                "accuracyMode": "0",
                "cacheMode": "1",
                "deviceList": [
                    {
                        "id": "980003420535573",
                        "kind": "imei",
                        "mdn": "7892345678"
                    },
                    {
                        "id": "375535024300089",
                        "kind": "imei",
                        "mdn": "7897654321"
                    },
                    {
                        "id": "A100003861E585",
                        "kind": "meid",
                        "mdn": "7897650914"
                    }
                ]
            }


+ Response 200 (application/json)

        Request accepted; location report in progress.

    + Attributes (AsynchronousLocationRequestResult)


    + Body

            {"txid":"2c90bd28-ece4-42ef-9f02-7e3bd4fbff33","status":"QUEUED"}



## Locationreports Report Index Startindex [/locationreports/{account}/report/{txid}/index/{startindex}]

+ Parameters
    + account (string, required)

        Account identifier in "##########-#####".

        + Sample: 0252012345-00001
    + txid (string, required)

        Transaction ID from POST /locationreports response.

        + Sample: 2017-12-11Te8b47da2-3a45-46cf-9903-61815e1e97e9
    + startindex (number, required)

        Zero-based number of the first record to return.

        + Sample: 0

### RetrieveLocationReport [GET]
Download a completed asynchronous device location report.

+ Response 200 (application/json)

        Location information for up to 1,000 devices.

    + Attributes (LocationReport)


    + Body

            {"startIndex":"0","txid":"2017-12-11Te8b47da2-3a45-46cf-9903-61815e1e97e9","totalCount":3,"hasMoreData":false,"devLocationList":[{"error":{},"msid":"7892345678","pd":{"qos":false,"radius":"5571","time":"20170520004421","x":"33.45324","y":"-84.59621"}},{"error":{},"msid":"8583239709","pd":{"qos":false,"radius":"3866","time":"20170525214342","x":"38.8408694","y":"-105.0422583"}},{"error":{"time":"20170525214342","type":"POSITION METHOD FAILURE","info":"Exception code=ABSENT SUBSCRIBER"},"msid":"7897654321","pd":{}}]}



## Locationreports Report Status By Account [/locationreports/{account}/report/{txid}/status]

+ Parameters
    + account (string, required)

        Account identifier in "##########-#####".

        + Sample: 0252012345-00001
    + txid (string, required)

        Transaction ID of the report.

        + Sample: 2c90bd28-ece4-42ef-9f02-7e3bd4fbff33

### GetLocationReportStatus [GET]
Returns the current status of a requested device location report.

+ Response 200 (application/json)

        Location report status.

    + Attributes (LocationReportStatus)


    + Body

            {"txid":"2c90bd28-ece4-42ef-9f02-7e3bd4fbff33","status":"INPROGRESS"}



## Locationreports Report By Account [/locationreports/{account}/report/{txid}]

+ Parameters
    + account (string, required)

        Account identifier in "##########-#####".

        + Sample: 0252012345-00001
    + txid (string, required)

        Transaction ID of the report to cancel.

        + Sample: 2c90bd28-ece4-42ef-9f02-7e3bd4fbff33

### CancelQueuedLocationReportGeneration [DELETE]
Cancel a queued device location report.

+ Response 200 (application/json)

        Report generation cancelled.

    + Attributes (TransactionID)


    + Body

            {"txid":"2c90bd28-ece4-42ef-9f02-7e3bd4fbff33"}




# Group Exclusions

Exclude devices from location services.

## Consents [/consents]

### ExcludeDevices [POST]
This consents endpoint sets a new exclusion list.

+ Request (<<Add Header Value>>)

    + Attributes (ConsentRequest)



+ Response 200 (application/json)

        Success response.

    + Attributes (DeviceLocationSuccessResult)



+ Response 400 (application/json)

        Unexpected error.

    + Attributes (DeviceLocationResult)


    + Body

            {"errorCode":"INVALID_PARAMETER","errorMessage":"UWS verification failure (Could not find account {account}.)"}



## Consents [/consents{?accountName,deviceList}]

### RemoveDevicesFromExclusionList [DELETE]
[...]
