swagger: '2.0'
info:
  version: '1.3'
  title: Verizon
  description: The Verizon Edge Discovery Service API can direct your application clients to connect to the optimal service endpoints for your Multi-access Edge Computing (MEC) applications for every session. The Edge Discovery Service takes into account the current location of a device, its IP anchor location, current network traffic and other factors to determine which 5G Edge platform a device should connect to.
  contact: {}
host: 5gedge.verizon.com
basePath: /api/mec/eds
securityDefinitions:
  thingspace_oauth:
    type: oauth2
    flow: application
    tokenUrl: https://thingspace.verizon.com/api/ts/v1/oauth2/token
    scopes:
      discovery:read: Grant read-only access to discovery data
      serviceprofile:read: Grant read-only access to service profile data
      serviceprofile:write: Grant write access to service profile data
      serviceregistry:read: Grant read-only access to Service registry data
      serviceregistry:write: Grant write access to Service registry data
      ts.mec.fullaccess: Full access for /serviceprofiles and /serviceendpoints.
      ts.mec.limitaccess: Limited access. Will not allow use of /serviceprofiles and /serviceendpoints but will allow discovery.
      ts.application.ro: ''
      edge:discovery:read: ''
      edge:serviceprofile:read: ''
      edge:serviceprofile:write: ''
      edge:serviceregistry:read: ''
      edge:serviceregistry:write: ''
      read: read access
      write: read/write access
  VZ-M2M-Token:
    type: apiKey
    description: M2M Session Token ([How to generate an M2M session token?](page:getting-started/5g-edge-developer-creds-token#obtaining-a-vz-m2m-sessiontoken-programmatically))
    name: VZ-M2M-Token
    in: header
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /mecplatforms:
    get:
      description: Returns a list of optimal MEC Platforms where you can register your deployed application. **Note:** If a query is sent with all of the parameters, it will fail with a "400" error. You can search based on the following parameter combinations - region plus Service Profile ID and subscriber density (density is optional but recommended), region plus UEIdentity(Including UEIdentity Type) or Service Profile ID plus UEIdentity(Including UEIdentity Type).
      summary: ListMECPlatforms
      tags:
      - 5G Edge Platforms
      operationId: ListMECPlatforms
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: region
        in: query
        required: false
        type: string
        description: MEC region name. Current valid values are US_WEST_2 and US_EAST_1.
      - name: serviceProfileId
        in: query
        required: false
        type: string
        maxLength: 36
        pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]{3,36}$
        description: Unique identifier of the service profile.
      - name: subscriberDensity
        in: query
        required: false
        type: integer
        format: int32
        minimum: 1
        maximum: 100
        exclusiveMaximum: false
        exclusiveMinimum: false
        description: Minimum number of 4G/5G subscribers per square kilometer.
      - name: UEIdentityType
        in: query
        required: false
        enum:
        - IPAddress
        type: string
        description: Type of User Equipment identifier used in `UEIdentity`.
      - name: UEIdentity
        in: query
        required: false
        type: string
        description: The identifier value for User Equipment. The type of identifier is defined by the 'UEIdentityType' parameter. The`IPAddress`format can be IPv4 or IPv6.
      responses:
        '200':
          description: MEC platforms matching query parameters.
          schema:
            $ref: '#/definitions/ListMECPlatformsResult'
          examples:
            application/json:
              MECPlatforms:
              - ern: 5x4VBwmfZbzSL3
                zone: e5oV52kMGjDLhnJSsLJZL
                region: US_WEST_2
                status: unknown
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
  /regions:
    get:
      description: List the geographical regions available, based on the user's bearer token. **Note:** Country code, Metropolitan area, Area and Zone are future functionality and will currently return a "null" value.
      summary: ListRegions
      tags:
      - 5G Edge Platforms
      operationId: ListRegions
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: List of geographical regions.
          schema:
            $ref: '#/definitions/ListRegionsResult'
          examples:
            application/json:
              regions:
              - regionId: consectetur
                name: US_EAST_1
                countryCode: nr
                metro: e1D
                area: IdUESF
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
  /serviceendpoints:
    get:
      description: Returns a list of optimal Service Endpoints that client devices can connect to. **Note:** If a query is sent with all of the parameters, it will fail with a "400" error. You can search based on the following parameter combinations - Region plus Service Endpoints IDs and Subscriber density (density is optional but recommended), Region plus Service Endpoints IDs and UEIdentity(Including UEIdentity Type) and Service Endpoints IDs plus UEIdentity(Including UEIdentity Type).
      summary: ListOptimalServiceEndpoints
      tags:
      - Service Endpoints
      operationId: ListOptimalServiceEndpoints
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: region
        in: query
        required: false
        type: string
        description: MEC region name. Current valid values are US_WEST_2 and US_EAST_1.
      - name: subscriberDensity
        in: query
        required: false
        type: integer
        format: int32
        minimum: 1
        maximum: 100
        exclusiveMaximum: false
        exclusiveMinimum: false
        description: Minimum number of 4G/5G subscribers per square kilometer.
      - name: UEIdentityType
        in: query
        required: false
        enum:
        - IPAddress
        type: string
        description: Type of User Equipment identifier used in `UEIdentity`.
      - name: UEIdentity
        in: query
        required: false
        type: string
        description: The identifier value for User Equipment. The type of identifier is defined by the 'UEIdentityType' parameter. The`IPAddress`format can be IPv4 or IPv6.
      - name: serviceEndpointsIds
        in: query
        required: false
        type: string
        description: A system-defined string identifier representing one or more registered Service Endpoints.
      responses:
        '200':
          description: An array of optimal Service Endpoint IDs for clients to connect to.
          schema:
            $ref: '#/definitions/ListOptimalServiceEndpointsResult'
          examples:
            application/json:
              serviceEndpoints:
              - ern: LASVEGAS_NV_WL
                serviceEndpoint:
                  URI: http://base_path/some_segment/id
                  FQDN: thingtest.verizon.com
                  IPv4Address: 192.168.11.10
                  IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
                  port: 1234
                applicationServerProviderId: AWS
                applicationId: IogspaceJan15
                serviceDescription: ThieIt
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
    post:
      description: Register Service Endpoints of a deployed application to specified MEC Platforms.
      summary: RegisterServiceEndpoints
      tags:
      - Service Endpoints
      operationId: RegisterServiceEndpoints
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: An array of Service Endpoint data for a deployed application. The request body passes all of the needed parameters to create a service endpoint. Parameters will be edited here rather than the **Parameters** section above. The `ern`,`applicationServerProviderId`, `applicationId` and `serviceProfileID` parameters are required. **Note:** Currently, the only valid value for `applicationServerProviderId`is **AWS**. Also, if you do not know one of the optional values (i.e. URI), you can erase the line from the query by back-spacing over it.
        schema:
          example:
          - serviceEndpoint:
              FQDN: thingtest.verizon.com
              IPv4Address: 192.168.11.10
              IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
              port: 1234
              URI: http://base_path/some_segment/id
            applicationId: IogspaceJan15
            serviceDescription: ThieIt
            applicationServerProviderId: AWS
            ern: us-east-1-wl1-atl-wlz-1
            serviceProfileID: 4054ea9a-593e-4776-b488-697b1bfa4f3b
          type: array
          items:
            $ref: '#/definitions/ResourcesEdgeHostedServiceWithProfileId'
          maxItems: 100
      responses:
        '200':
          description: Returns a service endpoints Id.
          schema:
            $ref: '#/definitions/RegisterServiceEndpointResult'
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
  /serviceendpointsall:
    get:
      description: Returns a list of all registered service endpoints.
      summary: ListAllServiceEndpoints
      tags:
      - Service Endpoints
      operationId: ListAllServiceEndpoints
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: Returns a comma delimited list of all registered service endpoints.
          schema:
            $ref: '#/definitions/ListAllServiceEndpointsResult'
          examples:
            application/json:
              status: success
              data:
              - serviceEndpointsId
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
  /serviceendpoints/{serviceEndpointsId}:
    get:
      description: Returns endpoint information for all Service Endpoints registered to a specified serviceEndpointId.
      summary: GetServiceEndpoint
      tags:
      - Service Endpoints
      operationId: GetServiceEndpoint
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: serviceEndpointsId
        in: path
        required: true
        type: string
        description: A system-defined string identifier representing one or more registered Service Endpoints.
      responses:
        '200':
          description: Registered service endpoint information for a 5G Edge service.
          schema:
            type: array
            default: ''
            items:
              $ref: '#/definitions/ResourcesEdgeHostedServiceWithProfileId'
            maxItems: 100
          examples:
            application/json:
            - serviceEndpoint:
                FQDN: thingtest.verizon.com
                IPv4Address: 192.168.11.10
                IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
                port: 1234
                URI: http://base_path/some_segment/id
              applicationId: IogspaceJan15
              serviceDescription: ThieIt
              applicationServerProviderId: AWS
              ern: us-east-1-wl1-atl-wlz-1
              serviceProfileID: 4054ea9a-593e-4776-b488-697b1bfa4f3b
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
    put:
      description: Update registered Service Endpoint information.
      summary: UpdateServiceEndpoint
      tags:
      - Service Endpoints
      operationId: UpdateServiceEndpoint
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: serviceEndpointsId
        in: path
        required: true
        type: string
        description: A system-defined string identifier representing one or more registered Service Endpoints.
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Data needed for Service Endpoint information. The request body passes the rest of the needed parameters to create a service endpoint. Parameters other than `serviceEndpointsId` will be edited here rather than the **Parameters** section above. The `ern`,`applicationServerProviderId` and `applicationId` parameters are required. **Note:** Currently, the only valid value for `applicationServerProviderId`is **AWS**.
        schema:
          example:
          - serviceEndpoint:
              FQDN: thingtest.verizon.com
              IPv4Address: 192.168.11.10
              IPv6Address: 2001:0db8:85a3:0000:0000:8a2e:0370:1234
              port: 1234
              URI: http://base_path/some_segment/id
            applicationId: IogspaceJan15
            serviceDescription: ThieIt
            applicationServerProviderId: AWS
            ern: us-east-1-wl1-atl-wlz-1
            serviceProfileID: 4054ea9a-593e-4776-b488-697b1bfa4f3b
          type: array
          items:
            $ref: '#/definitions/ResourcesEdgeHostedServiceWithProfileId'
          maxItems: 100
      responses:
        '200':
          description: Update registered Service Endpoint information.
          schema:
            $ref: '#/definitions/UpdateServiceEndpointResult'
          examples:
            application/json:
              status: Success
              message: EdgeAppServices are updated
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
    delete:
      description: Deregister an application's Service Endpoint from the MEC Platform(s).
      summary: DeregisterServiceEndpoint
      tags:
      - Service Endpoints
      operationId: DeregisterServiceEndpoint
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: serviceEndpointsId
        in: path
        required: true
        type: string
        description: A system-defined string identifier representing one or more registered Service Endpoints.
      responses:
        '200':
          description: Service endpoint deleted.
          schema:
            $ref: '#/definitions/DeregisterServiceEndpointResult'
          examples:
            application/json:
              status: Success
              message: EdgeAppServicesID Deleted
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
  /serviceprofiles:
    post:
      description: Creates a service profile that describes the resource requirements of a service.
      summary: CreateServiceProfile
      tags:
      - Service Profiles
      operationId: CreateServiceProfile
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: The request body passes all of the needed parameters to create a service profile. Parameters will be edited here rather than the **Parameters** section above. The `maxLatencyMs` and `clientType` parameters are both required in the request body. **Note:** The `maxLatencyMs` value must be submitted in multiples of 5. Additionally, "GPU" is future functionality and the values are not captured.
        schema:
          $ref: '#/definitions/ResourcesServiceProfile'
      responses:
        '200':
          description: Service profile ID.
          schema:
            $ref: '#/definitions/CreateServiceProfileResult'
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
    get:
      description: List all service profiles registered under your API key.
      summary: ListServiceProfiles
      tags:
      - Service Profiles
      operationId: ListServiceProfiles
      deprecated: false
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: A comma delimited list of all the service profiles registered under your API key.
          schema:
            $ref: '#/definitions/ListServiceProfilesResult'
          examples:
            application/json:
              status: Success
              data:
              - serviceProfileId
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
  /serviceprofiles/{serviceProfileId}:
    get:
      description: Returns a specified service profile.
      summary: GetServiceProfile
      tags:
      - Service Profiles
      operationId: GetServiceProfile
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: serviceProfileId
        in: path
        required: true
        type: string
        maxLength: 36
        pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]{3,36}$
        description: ''
      responses:
        '200':
          description: Requested service profile.
          schema:
            $ref: '#/definitions/ResourcesServiceProfileWithId'
          examples:
            application/json:
              serviceProfileId: 4054ea9a-593e-4776-b488-697b1bfa4f3b
              ecspFilter: Verizon
              clientSchedule: time windows
              clientServiceArea: BAY AREA
              clientType: V2X
              networkResources:
                minBandwidthKbits: 1
                serviceContinuitySupport: true
                maxRequestRate: 15
                maxLatencyMs: 20
                minAvailability: 1
              computeResources:
                GPU:
                  minCoreClockMHz: 1
                  minMemoryClockMHz: 35740
                  minBandwidthGBs: 588
                  minTFLOPS: 33
                minRAMGB: 1
                minStorageGB: 1
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
    put:
      description: Update the definition of a Service Profile.
      summary: UpdateServiceProfile
      tags:
      - Service Profiles
      operationId: UpdateServiceProfile
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: serviceProfileId
        in: path
        required: true
        type: string
        maxLength: 36
        pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]{3,36}$
        description: ''
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: The request body passes the rest of the needed parameters to create a service profile. The `maxLatencyMs` and `clientType` parameters are both required in the request body. **Note:** The `maxLatencyMs` value must be submitted in multiples of 5. Additionally, "GPU" is future functionality and the values are not captured. Default values to use are shown.
        schema:
          $ref: '#/definitions/ResourcesServiceProfile'
      responses:
        '200':
          description: Update a service profile.
          schema:
            $ref: '#/definitions/UpdateServiceProfileResult'
          examples:
            application/json:
              status: Success
              message: Service Profile Updated
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
    delete:
      description: Delete Service Profile based on unique service profile ID.
      summary: DeleteServiceProfile
      tags:
      - Service Profiles
      operationId: DeleteServiceProfile
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: serviceProfileId
        in: path
        required: true
        type: string
        maxLength: 36
        pattern: ^[a-zA-Z0-9!@#$&()\-`.+,/"]{3,36}$
        description: ''
      responses:
        '200':
          description: Delete a service profile.
          schema:
            $ref: '#/definitions/DeleteServiceProfileResult'
          examples:
            application/json:
              status: Success
              message: Service Profile Deleted
          headers: {}
        '400':
          description: HTTP 400 Bad Request.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        '401':
          description: HTTP 401 Unauthorized.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
        default:
          description: HTTP 500 Internal Server Error.
          schema:
            $ref: '#/definitions/EdgeDiscoveryResult'
          headers: {}
      security:
      - thingspace_oauth:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
        VZ-M2M-Token:
        - edge:discovery:read
        - edge:serviceprofile:read
        - edge:serviceprofile:write
        - edge:serviceregistry:read
        - edge:serviceregistry:write
        - ts.application.ro
        - ts.mec.fullaccess
        - ts.mec.limitaccess
  /m2m/v1/devices/actions/activate:
    post:
      description: If the devices do not already exist in the account, this API resource adds them before activation.
      summary: ActivateServiceForDevices
      tags:
      - Device Management
      operationId: ActivateServiceForDevices
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request for activating a service on devices.
        schema:
          $ref: '#/definitions/CarrierActivateRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/add:
    post:
      description: Use this API if you want to manage some device settings before you are ready to activate service for the devices.
      summary: AddDevices
      tags:
      - Device Management
      operationId: AddDevices
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Devices to add.
        schema:
          $ref: '#/definitions/AddDevicesRequest'
      responses:
        '200':
          description: For each device in the request, contains device identifiers and a success or failure response.
          schema:
            type: array
            default: ''
            items:
              $ref: '#/definitions/AddDevicesResult'
          examples:
            application/json:
            - deviceIds:
              - id: '89148000000800784259'
                kind: iccid
              response: Success
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/contactinfo:
    put:
      description: Sends a CarrierService callback message for each device in the request when the contact information has been changed, or if there was a problem and the change could not be completed.
      summary: UpdateDevicesContactInformation
      tags:
      - Device Management
      operationId: UpdateDevicesContactInformation
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to update contact information for devices.
        schema:
          $ref: '#/definitions/ContactInfoUpdateRequest'
      responses:
        '200':
          description: Request ID returned in a success response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 24da9f9a-d110-4a54-86b4-93fb76aab83c
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/customFields:
    put:
      description: Sends a CarrierService callback message for each device in the request when the custom fields have been changed, or if there was a problem and the change could not be completed.
      summary: UpdateDevicesCustomFields
      tags:
      - Device Management
      operationId: UpdateDevicesCustomFields
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to update custom field of devices.
        schema:
          $ref: '#/definitions/CustomFieldsUpdateRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/deactivate:
    post:
      description: Deactivating service for a device may result in an early termination fee (ETF) being charged to the account, depending on the terms of the contract with Verizon. If your contract allows ETF waivers and if you want to use one for a particular deactivation, set the etfWaiver value to True.
      summary: DeactivateServiceForDevices
      tags:
      - Device Management
      operationId: DeactivateServiceForDevices
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to deactivate service for one or more devices.
        schema:
          $ref: '#/definitions/CarrierDeactivateRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/delete:
    post:
      description: Use this API to remove unneeded devices from an account.
      summary: DeleteDeactivatedDevices
      tags:
      - Device Management
      operationId: DeleteDeactivatedDevices
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Devices to delete.
        schema:
          $ref: '#/definitions/DeleteDevicesRequest'
      responses:
        '200':
          description: For each device in the request, contains device identifiers and a success or failure response.
          schema:
            type: array
            default: ''
            items:
              $ref: '#/definitions/DeleteDevicesResult'
          examples:
            application/json:
            - deviceIds:
                id: '09005470263'
                kind: esn
              status: Success
            - deviceIds:
                id: '85000022411113460014'
                kind: iccid
              status: Success
            - deviceIds:
              - id: '85000022412313460016'
                kind: iccid
              - id: '09005470263'
                kind: esn
              status: Failed
              message: The device is not in deactive state.
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/list:
    post:
      description: Returns information about a single device or information about all devices that match the given parameters. Returned information includes device provisioning state, service plan, MDN, MIN, and IP address.
      summary: ListDevicesInformation
      tags:
      - Device Management
      operationId: ListDevicesInformation
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Device information query.
        schema:
          $ref: '#/definitions/AccountDeviceListRequest'
      responses:
        '200':
          description: List of devices that match the request parameters, ordered by device creation date, oldest first.
          schema:
            $ref: '#/definitions/AccountDeviceListResult'
          examples:
            application/json:
              hasMoreData: false
              devices:
              - accountName: 0000123456-00001
                billingCycleEndDate: 2020-05-09T20:00:00-04:00
                carrierInformations:
                - carrierName: Verizon Wireless
                  servicePlan: m2m4G
                  state: active
                connected: false
                createdAt: 2019-08-07T10:42:15-04:00
                deviceIds:
                - id: 10-digit MDN
                  kind: mdn
                - id: 15-digit IMEI
                  kind: imei
                groupNames:
                - southwest
                ipAddress: 0.0.0.0
                lastActivationBy: Joe Q Public
                lastActivationDate: 2019-08-07T10:42:34-04:00
                lastConnectionDate: 2020-03-12T04:23:37-04:00
          headers: {}
        '202':
          description: List of devices that match the request parameters, ordered by device creation date, oldest first. Additional devices remain.
          schema:
            $ref: '#/definitions/AccountDeviceListResult'
          examples:
            application/json:
              hasMoreData: false
              devices:
              - accountName: 0000123456-00001
                billingCycleEndDate: 2020-05-09T20:00:00-04:00
                carrierInformations:
                - carrierName: Verizon Wireless
                  servicePlan: m2m4G
                  state: active
                connected: false
                createdAt: 2019-08-07T10:42:15-04:00
                deviceIds:
                - id: 10-digit MDN
                  kind: mdn
                - id: 15-digit IMEI
                  kind: imei
                groupNames:
                - southwest
                ipAddress: 0.0.0.0
                lastActivationBy: Joe Q Public
                lastActivationDate: 2019-08-07T10:42:34-04:00
                lastConnectionDate: 2020-03-12T04:23:37-04:00
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/list/imeiiccidmismatch:
    post:
      description: Returns a list of all 4G devices with an ICCID (SIM) that was not activated with the expected IMEI (hardware) during a specified time frame.
      summary: ListDevicesWithImeiIccidMismatch
      tags:
      - Device Management
      operationId: ListDevicesWithImeiIccidMismatch
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to list devices with mismatched IMEIs and ICCIDs.
        schema:
          $ref: '#/definitions/DeviceMismatchListRequest'
      responses:
        '200':
          description: List of devices that have mismatched IMEIs and ICCIDs.
          schema:
            $ref: '#/definitions/DeviceMismatchListResult'
          examples:
            application/json:
              devices:
              - accountName: 0212398765-00001
                mdn: '5096300587'
                activationDate: 2011-01-21T10:55:27-08:00
                iccid: '89148000000800784259'
                preImei: '990003420535573'
                postImei: '987603420573553'
                simOtaDate: 2017-12-01T16:00:00-08:00
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/move:
    put:
      description: Move active devices from one billing account to another within a customer profile.
      summary: MoveDevicesWithinAccountsOfProfile
      tags:
      - Device Management
      operationId: MoveDevicesWithinAccountsOfProfile
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to move devices between accounts.
        schema:
          $ref: '#/definitions/MoveDeviceRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: ec682a8b-e288-4806-934d-24e7a59ed889
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/gotostate:
    put:
      description: Changes the provisioning state of one or more devices to a specified customer-defined service and state.
      summary: UpdateDevicesState
      tags:
      - Device Management
      operationId: UpdateDevicesState
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to change device state to one defined by the user.
        schema:
          $ref: '#/definitions/GoToStateRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/plan:
    put:
      description: Changes the service plan for one or more devices.
      summary: ChangeDevicesServicePlan
      tags:
      - Device Management
      operationId: ChangeDevicesServicePlan
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to change device service plan.
        schema:
          $ref: '#/definitions/ServicePlanUpdateRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: c8de7c1d-59b9-4cf3-b969-db76cb2ce509
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/suspend:
    post:
      description: Suspends service for one or more devices.
      summary: SuspendServiceForDevices
      tags:
      - Device Management
      operationId: SuspendServiceForDevices
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to suspend service for one or more devices.
        schema:
          $ref: '#/definitions/CarrierActionsRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/restore:
    post:
      description: Restores service to one or more suspended devices.
      summary: RestoreServiceForSuspendedDevices
      tags:
      - Device Management
      operationId: RestoreServiceForSuspendedDevices
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to restore services of one or more suspended devices.
        schema:
          $ref: '#/definitions/CarrierActionsRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/availability/actions/list:
    post:
      description: Checks whether specified devices are registered by the manufacturer with the Verizon network and are available to be activated.
      summary: CheckDevicesAvailabilityForActivation
      tags:
      - Device Management
      operationId: CheckDevicesAvailabilityForActivation
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to check if devices can be activated or not.
        schema:
          $ref: '#/definitions/DeviceActivationRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/connections/actions/listHistory:
    post:
      description: Each response includes a maximum of 500 records. To obtain more records, you can call the API multiple times, adjusting the earliest value each time to start where the previous request finished.
      summary: RetrieveDeviceConnectionHistory
      tags:
      - Device Management
      operationId: RetrieveDeviceConnectionHistory
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Query to retrieve device connection history.
        schema:
          $ref: '#/definitions/DeviceConnectionListRequest'
      responses:
        '200':
          description: List of device connection events, sorted by the occurredAt timestamp, oldest first.
          schema:
            $ref: '#/definitions/ConnectionHistoryResult'
          examples:
            application/json:
              connectionHistory:
              - connectionEventAttributes:
                - key: BytesUsed
                  value: '0'
                - key: Event
                  value: Start
                extendedAttributes: []
                occurredAt: 2015-12-17T14:12:36-05:00
              - connectionEventAttributes:
                - key: BytesUsed
                  value: '419863234'
                - key: Event
                  value: Stop
                - key: Msisdn
                  value: '15086303371'
                extendedAttributes: []
                occurredAt: 2015-12-19T01:20:00-05:00
              hasMoreData: false
          headers: {}
        '202':
          description: List of device connection events, sorted by the occurredAt timestamp, oldest first. Additional events remain.
          schema:
            $ref: '#/definitions/ConnectionHistoryResult'
          examples:
            application/json:
              connectionHistory:
              - connectionEventAttributes:
                - key: BytesUsed
                  value: '0'
                - key: Event
                  value: Start
                extendedAttributes: []
                occurredAt: 2015-12-17T14:12:36-05:00
              - connectionEventAttributes:
                - key: BytesUsed
                  value: '419863234'
                - key: Event
                  value: Stop
                - key: Msisdn
                  value: '15086303371'
                extendedAttributes: []
                occurredAt: 2015-12-19T01:20:00-05:00
              hasMoreData: false
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/costCenter:
    put:
      description: Changes or removes the CostCenterCode value or customer name and address (Primary Place of Use) for one or more devices.
      summary: UpdateDevicesCostCenterCode
      tags:
      - Device Management
      operationId: UpdateDevicesCostCenterCode
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to update cost center code value for one or more devices.
        schema:
          $ref: '#/definitions/DeviceCostCenterRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/extendeddiagnostics/actions/list:
    post:
      description: Returns extended diagnostic information about a specified device, including connectivity, provisioning, billing and location status.
      summary: GetDeviceExtendedDiagnosticInformation
      tags:
      - Device Management
      operationId: GetDeviceExtendedDiagnosticInformation
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to query extended diagnostics information for a device.
        schema:
          $ref: '#/definitions/DeviceExtendedDiagnosticsRequest'
      responses:
        '200':
          description: Device diagnostic information.
          schema:
            $ref: '#/definitions/DeviceExtendedDiagnosticsResult'
          examples:
            application/json:
              categories:
              - categoryName: Connectivity
                extendedAttributes:
                - key: Connected
                  value: 'false'
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/history/actions/list:
    post:
      description: Returns the provisioning history of a specified device during a specified time period.
      summary: ListDevicesProvisioningHistory
      tags:
      - Device Management
      operationId: ListDevicesProvisioningHistory
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Query to obtain device provisioning history.
        schema:
          $ref: '#/definitions/DeviceProvisioningHistoryListRequest'
      responses:
        '200':
          description: List of Device Provision History events, sorted by the timestamp, oldest first.
          schema:
            type: array
            default: ''
            items:
              $ref: '#/definitions/DeviceProvisioningHistoryListResult'
          examples:
            application/json:
            - provisioningHistory:
              - occurredAt: 2015-12-17T13:56:13-05:00
                status: Success
                eventBy: Harry Potter
                eventType: Activation Confirmed
                servicePlan: Tablet5GB
                mdn: ''
                msisdn: '15086303371'
                extendedAttributes: []
              hasMoreData: false
          headers: {}
        '202':
          description: List of Device Provision History events, sorted by the timestamp, oldest first. Additional events remain.
          schema:
            type: array
            default: ''
            items:
              $ref: '#/definitions/DeviceProvisioningHistoryListResult'
          examples:
            application/json:
            - provisioningHistory:
              - occurredAt: 2015-12-17T13:56:13-05:00
                status: Success
                eventBy: Harry Potter
                eventType: Activation Confirmed
                servicePlan: Tablet5GB
                mdn: ''
                msisdn: '15086303371'
                extendedAttributes: []
              hasMoreData: false
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/prl/actions/list:
    post:
      description: 4G and GSM devices do not have a PRL.
      summary: ListCurrentDevicesPRLVersion
      tags:
      - Device Management
      operationId: ListCurrentDevicesPRLVersion
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to query device PRL.
        schema:
          $ref: '#/definitions/DevicePrlListRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/suspension/status:
    post:
      description: Returns DeviceSuspensionStatus callback messages containing the current device state and information on how many days a device has been suspended and can continue to be suspended.
      summary: GetDeviceServiceSuspensionStatus
      tags:
      - Device Management
      operationId: GetDeviceServiceSuspensionStatus
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to obtain service suspenstion status for a device.
        schema:
          $ref: '#/definitions/DeviceSuspensionStatusRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 904dcdc6-a590-45e4-ac76-403306f6d883
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/usage/actions/list:
    post:
      description: Returns the network data usage history of a device during a specified time period.
      summary: ListDevicesUsageHistory
      tags:
      - Device Management
      operationId: ListDevicesUsageHistory
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to obtain usage history for a specific device.
        schema:
          $ref: '#/definitions/DeviceUsageListRequest'
      responses:
        '200':
          description: List of device usage events, sorted by the timestamp, oldest first.
          schema:
            $ref: '#/definitions/DeviceUsageListResult'
          examples:
            application/json:
              hasMoreData: false
              usageHistory:
              - bytesUsed: 4096
                extendedAttributes:
                - key: MoSms
                  value: '0'
                smsUsed: 0
                source: Raw Usage
                timestamp: 2020-12-01T00:00:00Z
          headers: {}
        '202':
          description: List of device usage events, sorted by the timestamp, oldest first. Additional events remain.
          schema:
            $ref: '#/definitions/DeviceUsageListResult'
          examples:
            application/json:
              hasMoreData: false
              usageHistory:
              - bytesUsed: 4096
                extendedAttributes:
                - key: MoSms
                  value: '0'
                smsUsed: 0
                source: Raw Usage
                timestamp: 2020-12-01T00:00:00Z
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/usage/actions/list/aggregate:
    post:
      description: The information is returned in a callback response, so you must register a URL for DeviceUsage callback messages using the POST /callbacks API.
      summary: RetrieveAggregateDeviceUsageHistory
      tags:
      - Device Management
      operationId: RetrieveAggregateDeviceUsageHistory
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: A request to retrieve aggregated device usage history information.
        schema:
          $ref: '#/definitions/DeviceAggregateUsageListRequest'
      responses:
        '200':
          description: A unique string that associates the request with the results that are sent via a callback service.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 1631e200-7398-4609-b1f8-398341229176
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/{serviceType}/actions/deviceId:
    put:
      description: Changes the identifier of a 3G or 4G device to match hardware changes made for a line of service. Use this request to transfer the line of service and the MDN to new hardware, or to change the MDN.
      summary: UpdateDeviceId
      tags:
      - Device Management
      operationId: UpdateDeviceId
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: serviceType
        in: path
        required: true
        type: string
        description: Identifier type.
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to update device id.
        schema:
          $ref: '#/definitions/ChangeDeviceIdRequest'
      responses:
        '200':
          description: A unique string that associates the request with the results that are sent via a callback service.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: a28892ea-6503-4aa7-bfa2-4cd45d42f61b
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/upload:
    post:
      description: This corresponds to the M2M-MC SOAP interface, ```DeviceUploadService```.
      summary: DeviceUpload
      tags:
      - Device Management
      operationId: DeviceUpload
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Device Upload Query
        schema:
          $ref: '#/definitions/DeviceUploadRequest'
      responses:
        '200':
          description: Request ID
          schema:
            $ref: '#/definitions/RequestResponse'
          headers: {}
        '400':
          description: Error Response
          schema:
            $ref: '#/definitions/RestErrorResponse'
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/usage/actions/billedusage/list:
    post:
      description: Gets billed usage for for either multiple devices or an entire billing account.
      summary: BilledUsageInfo
      tags:
      - Device Management
      operationId: BilledUsageInfo
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to list devices with mismatched IMEIs and ICCIDs.
        schema:
          $ref: '#/definitions/billedusageListRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/usagesegmentationlabels:
    post:
      description: Allows you to associate your own usage segmentation label with a device.
      summary: UsageSegmentationLabelAssociation
      tags:
      - Device Management
      operationId: UsageSegmentationLabelAssociation
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to associate a label to a device.
        schema:
          $ref: '#/definitions/AssociateLabelRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: ec682a8b-e288-4806-934d-24e7a59ed889
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
    delete:
      description: Allow customers to remove the associated label from a device.
      summary: UsageSegmentationLabelDeletion
      tags:
      - Device Management
      operationId: UsageSegmentationLabelDeletion
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: accountName
        in: query
        required: true
        type: string
        description: The numeric name of the account.
      - name: LabelList
        in: query
        required: true
        type: string
        description: A list of the Label IDs to remove from the exclusion list.
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: ec682a8b-e288-4806-934d-24e7a59ed889
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/actions/uploadactivate:
    post:
      description: Uploads and activates device identifiers and SKUs for new devices from OEMs to Verizon.
      summary: ActivationOrderStatus
      tags:
      - Device Management
      operationId: ActivationOrderStatus
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to Uploads and activates device.
        schema:
          $ref: '#/definitions/UploadsActivatesDeviceRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: ec682a8b-e288-4806-934d-24e7a59ed889
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/devices/requests/status:
    post:
      description: Checks the status of an activation order and lists where the order is in the provisioning process.
      summary: UploadDeviceIdentifier
      tags:
      - Device Management
      operationId: UploadDeviceIdentifier
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: The request body identifies the device and reporting period that you want included in the report.
        schema:
          $ref: '#/definitions/CheckOrderStatusRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: c7b45cf2-cab1-4e42-82f8-20350f4c4ea3
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/accounts/{aname}:
    get:
      description: Returns information about a specified account.
      summary: GetAccountInformation
      tags:
      - Accounts
      operationId: GetAccountInformation
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: aname
        in: path
        required: true
        type: string
        description: Account name.
      responses:
        '200':
          description: The account information.
          schema:
            $ref: '#/definitions/Account'
          examples:
            application/json:
              accountName: Chintan_CPNStaticBulk
              accountNumber: 1234567890-77777
              organizationName: ChintanCPNBulk
              isProvisioningAllowed: true
              carriers:
              - Verizon Wireless
              features:
              - Static IP
              - Dynamic IP
              - Customer PN
              iPPools:
              - poolName: ACMESTATIC001
                poolType: Static IP
                isDefaultPool: true
              - poolName: ACMEDYNAMIC001
                poolType: Dynamic IP
                isDefaultPool: false
              servicePlans:
              - name: ''
                code: '92876'
                sizeKb: 1
                carrierServicePlanCode: ''
                extendedAttributes: []
              - name: ''
                code: '92876'
                sizeKb: 1
                carrierServicePlanCode: ''
                extendedAttributes: []
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/accounts/{aname}/statesandservices:
    get:
      description: Returns a list and details of all custom services and states defined for a specified account.
      summary: ListAccountStatesAndServices
      tags:
      - Accounts
      operationId: ListAccountStatesAndServices
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: aname
        in: path
        required: true
        type: string
        description: Account name.
      responses:
        '200':
          description: The account's engagements, services, and states.
          schema:
            $ref: '#/definitions/AccountStatesAndServices'
          examples:
            application/json:
              engagement:
              - engagementId: '1234'
                chargingGroup: Engagement1234
                services:
                - name: Svc1
                  description: Usage Segmentation - Main Line.
                  states:
                  - name: Svc1 Activate
                    workflowSequenceNumber: 1
                    servicePlans:
                    - 4523aef7250f67205fd5
                    - 4d4090c0f2d48814c94d
                  - name: Svc1 No Telematics
                    workflowSequenceNumber: 3
                    servicePlans:
                    - 4523aef7250f67205fd5
                    - 4d4090c0f2d48814c94d
                  - name: Svc1 Deactivate
                    workflowSequenceNumber: 2
                    servicePlans:
                    - 4523aef7250f67205fd5
                    - 4d4090c0f2d48814c94d
                - name: WIFI
                  description: Usage Segmentation - WiFi.
                  states:
                  - name: WIFI Redirect
                    workflowSequenceNumber: 2
                    servicePlans:
                    - 4d4090c0f2d48814c94d
                  - name: WIFI Trial
                    workflowSequenceNumber: 4
                    servicePlans:
                    - 4d4090c0f2d48814c94d
                  - name: WIFI Goodwill
                    workflowSequenceNumber: 6
                    servicePlans:
                    - 4d4090c0f2d48814c94d
                  - name: WIFI Disable
                    workflowSequenceNumber: 3
                    servicePlans:
                    - 4d4090c0f2d48814c94d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/leads/{aname}:
    get:
      description: When HTTP status is 202, a URL will be returned in the Location header of the form /leads/{aname}?next={token}. This URL can be used to request the next set of leads.
      summary: ListAccountLeads
      tags:
      - Accounts
      operationId: ListAccountLeads
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: aname
        in: path
        required: true
        type: string
        description: Account name.
      - name: next
        in: query
        required: false
        type: integer
        format: int64
        description: Continue the previous query from the pageUrl in Location Header.
      responses:
        '200':
          description: The list of leads associated with the account.
          schema:
            $ref: '#/definitions/AccountLeadsResult'
          examples:
            application/json:
              leads:
              - leadId: L-10001
                leadState: Qualified
                address:
                  addressLine1: 1600 Pennsylvania Avenue
                  addressLine2: ''
                  city: Washington
                  state: DC
                  zip: '20500'
                  country: USA
              hasMoreData: false
          headers: {}
        '202':
          description: The list of leads associated with the account, additional leads remain.
          schema:
            $ref: '#/definitions/AccountLeadsResult'
          examples:
            application/json:
              leads:
              - leadId: L-10001
                leadState: Qualified
                address:
                  addressLine1: 1600 Pennsylvania Avenue
                  addressLine2: ''
                  city: Washington
                  state: DC
                  zip: '20500'
                  country: USA
              hasMoreData: false
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/groups:
    post:
      description: Create a new device group and optionally add devices to the group. Device groups can make it easier to manage similar devices and to get reports on their usage.
      summary: CreateDeviceGroup
      tags:
      - Device Groups
      operationId: CreateDeviceGroup
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: A request to create a new device group.
        schema:
          $ref: '#/definitions/CreateDeviceGroupRequest'
      responses:
        '200':
          description: Successful response, Creates a new device group.
          schema:
            $ref: '#/definitions/ConnectivityManagementSuccessResult'
          examples:
            application/json:
              success: true
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/groups/{aname}:
    get:
      description: Returns a list of all device groups in a specified account.
      summary: ListDeviceGroups
      tags:
      - Device Groups
      operationId: ListDeviceGroups
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: aname
        in: path
        required: true
        type: string
        description: Account name.
      responses:
        '200':
          description: The list of device groups in the account.
          schema:
            type: array
            default: ''
            items:
              $ref: '#/definitions/DeviceGroup'
          examples:
            application/json:
            - name: Unassigned Devices
              description: All devices that are not in another device group.
              isDefaultGroup: true
              extendedAttributes: []
            - name: West Coast Devices
              description: ''
              isDefaultGroup: false
              extendedAttributes: []
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/groups/{aname}/name/{gname}:
    get:
      description: When HTTP status is 202, a URL will be returned in the Location header of the form /groups/{aname}/name/{gname}/?next={token}. This URL can be used to request the next set of groups.
      summary: GetDeviceGroupInformation
      tags:
      - Device Groups
      operationId: GetDeviceGroupInformation
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: aname
        in: path
        required: true
        type: string
        description: Account name.
      - name: gname
        in: path
        required: true
        type: string
        description: Group name.
      - name: next
        in: query
        required: false
        type: integer
        format: int64
        description: Continue the previous query from the pageUrl pagetoken.
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/DeviceGroupDevicesData'
          examples:
            application/json:
              name: Nebraska Trucks
              description: All service trucks in Nebraska.
              hasMoreData: false
              devices:
              - deviceIds:
                - id: '12345'
                  kind: meid
                - id: '54321'
                  kind: mdn
          headers: {}
        '202':
          description: Successful response, additional groups remain.
          schema:
            $ref: '#/definitions/DeviceGroupDevicesData'
          examples:
            application/json:
              name: Nebraska Trucks
              description: All service trucks in Nebraska.
              hasMoreData: false
              devices:
              - deviceIds:
                - id: '12345'
                  kind: meid
                - id: '54321'
                  kind: mdn
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
    put:
      description: Make changes to a device group, including changing the name and description, and adding or removing devices.
      summary: UpdateDeviceGroup
      tags:
      - Device Groups
      operationId: UpdateDeviceGroup
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: aname
        in: path
        required: true
        type: string
        description: Account name.
      - name: gname
        in: path
        required: true
        type: string
        description: Group name.
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to update device group.
        schema:
          $ref: '#/definitions/DeviceGroupUpdateRequest'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/ConnectivityManagementSuccessResult'
          examples:
            application/json:
              success: true
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
    delete:
      description: Deletes a device group from the account. Devices in the group are moved to the default device group and are not deleted from the account.
      summary: DeleteDeviceGroup
      tags:
      - Device Groups
      operationId: DeleteDeviceGroup
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: aname
        in: path
        required: true
        type: string
        description: Account name.
      - name: gname
        in: path
        required: true
        type: string
        description: Group name.
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/ConnectivityManagementSuccessResult'
          examples:
            application/json:
              success: true
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/sms:
    post:
      description: The messages are queued on the ThingSpace Platform and sent as soon as possible, but they may be delayed due to traffic and routing considerations.
      summary: SendSMSToDevice
      tags:
      - SMS
      operationId: SendSMSToDevice
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: Content-Type
        in: header
        required: false
        enum:
        - application/json
        type: string
        description: ''
      - name: body
        in: body
        required: true
        description: Request to send SMS.
        schema:
          $ref: '#/definitions/SMSSendRequest'
      responses:
        '200':
          description: Request ID received on a successful response.
          schema:
            $ref: '#/definitions/DeviceManagementResult'
          examples:
            application/json:
              requestId: 595f5c44-c31c-4552-8670-020a1545a84d
          headers: {}
        '400':
          description: Error response.
          schema:
            $ref: '#/definitions/ConnectivityManagementResult'
          examples:
            application/json:
              errorCode: error code string
              errorMessage: error message string
          headers: {}
      security:
      - thingspace_oauth: []
        VZ-M2M-Token: []
  /m2m/v1/sms/{aname}/history:
    get:
      description: When HTTP status is 202, a URL will be returned in the Location header of the form /sms/{aname}/history?next={token}. This URL can be used to request the next set of messages.
      summary: ListDevicesSMSMessages
      tags:
      - SMS
      operationId: ListDevicesSMSMessages
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: aname
        in: path
        required: true
        type: string
        description: Account name.
[...]
